<ion-header>
	<ion-toolbar color="primary">
		<ion-buttons slot="start">
			<ion-button routerLink="/cust-home-more-actions"><ion-icon name="arrow-back"></ion-icon></ion-button>
		</ion-buttons>
		<ion-title>Settings</ion-title>
	</ion-toolbar>
</ion-header>

<ion-content class="bg-gray">
	<div class="ion-padding">
		<div class="setting-row d-flex">
			<div class="setting-name">
				<div class="setting-title">Notifications</div>
				<div class="setting-desc">Receive exclusive offers and personal updates</div>
			</div>
			<div class="setting-option"><ion-toggle checked></ion-toggle></div>
		</div>
		<div class="setting-row d-flex">
			<div class="setting-name">
				<div class="setting-title">Sound</div>
				<div class="setting-desc">Play sound on incoming notifications</div>
			</div>
			<div class="setting-option"><ion-toggle></ion-toggle></div>
		</div>
		<div class="setting-row d-flex">
			<div class="setting-name">
				<div class="setting-title">Version Build</div>
				<div class="setting-desc">version 1.0</div>
			</div>
			<div class="setting-option"><a>UPDATE</a></div>
		</div>
		<div class="setting-row d-flex">
			<div class="setting-name">
				<div class="setting-title">Help & Tips</div>
			</div>
			<div class="setting-option"><a routerLink="/cust-settings-help-tips-reset">RESET</a></div>
		</div>
		<div class="setting-row d-flex wrap">
			<div class="setting-name">
				<div class="setting-title">Language</div>
			</div>
			<ion-item class="main-input setting-dropdown" lines="none">
				<ion-select>
					<ion-select-option value="1" selected="">English</ion-select-option>
					<ion-select-option value="2">Bahasa Malaysia</ion-select-option>
					<ion-select-option value="3">中文</ion-select-option>
				</ion-select>
			</ion-item>
		</div>
		<div class="setting-row d-flex">
			<div class="setting-name" routerLink="/cust-select-country">
				<div class="setting-title">Country</div>
				<div class="setting-desc">Malaysia</div>
			</div>
		</div>
	</div>
</ion-content>
