<ion-header>
	<ion-toolbar color="primary">
		<ion-buttons slot="start">
			<ion-back-button defaultHref="cust-news-notifications"></ion-back-button>
		</ion-buttons>
		<ion-title>News & Notifications</ion-title>
		<ion-buttons slot="end">
			<ion-button><ion-icon name="trash"></ion-icon></ion-button>
		</ion-buttons>
	</ion-toolbar>
</ion-header>

<ion-content>
	<img class="img-full" src="../../assets/images/news-details.png" alt="">
	<div class="ion-padding">
		<h1 class="news-name">Grand Opening</h1>
		<div class="news-date ion-margin-bottom">10 Aug 2019</div>
		<div class="news-content">
			Gravity is an irresistible force. While it is certainly nice that it keeps us rooted to the planet, it also has a habit of pulling things lower than we might like over time. Breast Lifts – Improvement Without Implants

			Cosmetic breast surgery is one of the more popular areas of plastic surgery. That being said, the controversy surrounding breast implants may make you pause when considering the various enhancement procedures available. Breast lifts are designed to fight the effects of gravity. The goal of the procedure is to raise and/or reshape sagging breasts. When breast lifts are discussed, most people assume the procedure necessarily includes the use of implants. While it is true that implants can be used in the process, it is equally true that they need not be. Obviously, the choice comes down to the final result you hope to achieve and the advice of your physician. Regardless, it is important to understand that you should not assume a lift requires implants. Breast lifts without implants can make a major difference in your appearance. One has to be a bit careful discussing the procedure because it tends to be tailored to the specific situation of each patient. That being said, the process typically involves the removal of excess skin combined with the repositioning of the remaining tissues. In one sense, breast lift surgery is very much an artistic endeavor. The plastic surgeon is essentially acting as a sculptor. As such, you absolutely must make sure you are comfortable with their style and past creations. The best way to do this is to sit down with the surgeon and review before and after pictures from past procedures. This is your body, so do not hesitate to express your opinions and ask questions. The surgeon will not be insulted. To the contrary, he or she would rather have as detailed an understanding as possible of your goal. He or she can then give you an idea of potential, reasonable results. As Einstein told us, gravity is one of the key forces in the universe. A breast lift can give you the ability to counter that force without dealing with the controversy surrounding implants.
		</div>
	</div>
</ion-content>
