<ion-header>
	<ion-toolbar color="primary">
		<ion-title>Home</ion-title>
		<ion-buttons slot="end">
			<ion-button routerLink="/cust-scan-qr"><ion-icon name="qr-scanner"></ion-icon></ion-button>
			<ion-button><ion-icon name="share"></ion-icon></ion-button>
			<ion-button><ion-icon name="cart"></ion-icon></ion-button>
		</ion-buttons>
	</ion-toolbar>
	<ion-toolbar routerLink="/cust-search-results"><ion-searchbar placeholder="Search"></ion-searchbar></ion-toolbar>
</ion-header>

<ion-content>
	<img class="img-full" src="../../assets/images/cust-home.png" alt="" routerLink="/cust-news-notifications-details">
	<div class="home-menu d-flex">
		<div class="menu-item ion-text-center" routerLink="/cust-shop-category">
			<img src="../../assets/images/button_shop.png" alt="">
			<h5>Shop</h5>
		</div>
		<div class="menu-item ion-text-center" routerLink="/cust-appointment">
			<img src="../../assets/images/button_appointment.png" alt="">
			<h5>Appointment</h5>
		</div>
		<div class="menu-item ion-text-center" routerLink="/cust-beauty-solutions">
			<img src="../../assets/images/button_beautysolutions.png" alt="">
			<h5>Beauty Solution</h5>
		</div>
		<div class="menu-item ion-text-center">
			<img src="../../assets/images/button_redeemreward.png" alt="">
			<h5>Redeem Rewards</h5>
		</div>
	</div>

	<div class="bestseller">
		<div class="d-flex bestseller-head ion-padding">
			<h4>Bestseller</h4>
			<a routerLink="/cust-home-bestseller"><b>SEE ALL</b></a>
		</div>
		<div class="product-grid">
			<ion-card class="product">
				<img class="product-img" src="../assets/images/product-2.png" alt="">
				<div class="product-detail">
					<div class="product-name">C+1 & C+2</div>
					<div class="product-price">RM 799.00</div>
				</div>
			</ion-card>
			<ion-card class="product">
				<img class="product-img" src="../assets/images/product-3.png" alt="">
				<div class="product-detail">
					<div class="product-name">Cleansing Emulsion</div>
					<div class="product-price">RM 799.00</div>
				</div>
			</ion-card>
			<ion-card class="product">
				<img class="product-img" src="../assets/images/product-2.png" alt="">
				<div class="product-detail">
					<div class="product-name">C+1 & C+2</div>
					<div class="product-price">RM 799.00</div>
				</div>
			</ion-card>
			<ion-card class="product">
				<img class="product-img" src="../assets/images/product-3.png" alt="">
				<div class="product-detail">
					<div class="product-name">Cleansing Emulsion</div>
					<div class="product-price">RM 799.00</div>
				</div>
			</ion-card>
			<ion-card class="product">
				<img class="product-img" src="../assets/images/product-2.png" alt="">
				<div class="product-detail">
					<div class="product-name">C+1 & C+2</div>
					<div class="product-price">RM 799.00</div>
				</div>
			</ion-card>
			<ion-card class="product">
				<img class="product-img" src="../assets/images/product-3.png" alt="">
				<div class="product-detail">
					<div class="product-name">Cleansing Emulsion</div>
					<div class="product-price">RM 799.00</div>
				</div>
			</ion-card>
		</div>
	</div>

	<!-- add class `show` to display modal -->
	<div class="modal"> 
		<div class="modal-content">
			<img src="../../assets/images/dashboard-ads.jpg" alt="">
			<div class="modal-close">
				<ion-button fill="clear" size="small">
					<ion-icon name="close"></ion-icon>
				</ion-button>
			</div>
		</div>
	</div>
</ion-content>

<ion-tab-bar slot="bottom" color="primary">
	<ion-tab-button tab="home" routerLink="/cust-home" class="active">
		<ion-icon name="md-home"></ion-icon>
		<ion-label>Home</ion-label>
	</ion-tab-button>

	<ion-tab-button tab="product">
		<ion-icon name="ios-gift"></ion-icon>
		<ion-label>Product</ion-label>
	</ion-tab-button>

	<ion-tab-button tab="account">
		<ion-icon name="md-person"></ion-icon>
		<ion-label>Account</ion-label>
	</ion-tab-button>

	<ion-tab-button tab="more" routerLink="/cust-home-more-actions">
		<ion-icon name="md-more"></ion-icon>
		<ion-label>More</ion-label>
	</ion-tab-button>
</ion-tab-bar>
