<ion-header>
	<ion-toolbar color="primary">
		<ion-buttons slot="start">
			<ion-button routerLink="/cust-reschedule-summary"><ion-icon name="arrow-back"></ion-icon></ion-button>
		</ion-buttons>
		<ion-title>Reschedule</ion-title>
	</ion-toolbar>
</ion-header>


<ion-content class="bg-gray">
	<div class="ion-padding"><h1 class="ion-no-margin">Choose the date and time.</h1></div>
	<div class="calendar">
		<div class="calendar-picker">
			<div class="calendar-head d-flex">
				<ion-icon name="arrow-back" mode="ios"></ion-icon>
				<h5>June 2019</h5>
				<ion-icon name="arrow-forward" mode="ios"></ion-icon>
			</div>
			<div class="calendar-row d-flex day">
				<span>S</span>
				<span>M</span>
				<span>T</span>
				<span>W</span>
				<span>T</span>
				<span>F</span>
				<span>S</span>
			</div>
			<div class="calendar-row d-flex date right">
				<span class="disabled">1</span>
			</div>
			<div class="calendar-row d-flex date">
				<span class="disabled">2</span>
				<span class="booked disabled">3</span>
				<span class="disabled">4</span>
				<span class="disabled">5</span>
				<span class="disabled">6</span>
				<span>7</span>
				<span>8</span>
			</div>
			<div class="calendar-row d-flex date">
				<span>9</span>
				<span>10</span>
				<span>11</span>
				<span>12</span>
				<span>13</span>
				<span>14</span>
				<span class="full">15</span>
			</div>
			<div class="calendar-row d-flex date">
				<span class="booked">16</span>
				<span>17</span>
				<span class="full">18</span>
				<span>19</span>
				<span>20</span>
				<span>21</span>
				<span class="full">22</span>
			</div>
			<div class="calendar-row d-flex date">
				<span>23</span>
				<span>24</span>
				<span>25</span>
				<span>26</span>
				<span>27</span>
				<span class="selected">28</span>
				<span class="full">29</span>
			</div>
			<div class="calendar-row d-flex date">
				<span>30</span>
			</div>
		</div>
		<div class="calendar-label d-flex">
			<div class="d-flex">
				<span class="square selected"></span>
				<span class="text">Selected</span>
			</div>
			<div class="d-flex">
				<span class="square booked"></span>
				<span class="text">Booked</span>
			</div>
			<div class="d-flex">
				<span class="square full"></span>
				<span class="text">Full</span>
			</div>
		</div>
		<div class="calendar-time">
			<div class="calendar-row d-flex time">
				<span routerLink="/cust-reschedule-summary">10:00 AM</span>
				<span class="booked">11:00 AM</span>
				<span class="full">12:00 PM</span>
				<span routerLink="/cust-reschedule-summary">1:00 PM</span>
			</div>
			<div class="calendar-row d-flex time">
				<span routerLink="/cust-reschedule-summary">2:00 PM</span>
				<span routerLink="/cust-reschedule-summary">3:00 PM</span>
				<span routerLink="/cust-reschedule-summary">4:00 PM</span>
			</div>
		</div>
	</div>
</ion-content>
