<ion-header>
	<ion-toolbar color="primary">
		<ion-buttons slot="start">
			<ion-back-button defaultHref="cust-home"></ion-back-button>
		</ion-buttons>
		<ion-title>Shop</ion-title>
		<ion-buttons slot="end">
			<ion-button routerLink="/cust-scan-qr"><ion-icon name="qr-scanner"></ion-icon></ion-button>
			<ion-button><ion-icon name="share"></ion-icon></ion-button>
			<ion-button><ion-icon name="cart"></ion-icon></ion-button>
		</ion-buttons>
	</ion-toolbar>
	<ion-toolbar><ion-searchbar placeholder="Search all shops"></ion-searchbar></ion-toolbar>
</ion-header>

<ion-content>
	<ion-list class="list-wimg">
		<ion-item lines="none" routerLink="/cust-near-me">
			<ion-icon name="locate" style="color: #FF7D00;"></ion-icon>
			<span>Near Me</span>
		</ion-item>
		<ion-item lines="none" routerLink="/cust-fav-shops">
			<ion-icon name="heart" style="color: #faa5a3;"></ion-icon>
			<span>Favourite Shops</span>
		</ion-item>
		<ion-item lines="none" routerLink="/cust-shop">
			<img src="../assets/images/shop-cat-1.png" alt="">
			<span>Juniper Beauty</span>
		</ion-item>
		<ion-item lines="none" routerLink="/cust-shop">
			<img src="../assets/images/shop-cat-2.png" alt="">
			<span>Perfect Skin</span>
		</ion-item>
		<ion-item lines="none" routerLink="/cust-shop">
			<img src="../assets/images/shop-cat-3.png" alt="">
			<span>Skin Deep</span>
		</ion-item>
		<ion-item lines="none" routerLink="/cust-shop">
			<img src="../assets/images/shop-cat-4.png" alt="">
			<span>Aimee Beauty</span>
		</ion-item>
    </ion-list>
</ion-content>
