.appt-reserve {margin-bottom: 16px;}

.card-footer--icon {
	justify-content: flex-end;
	padding: 5px 16px;

	span {
		font-size: 14px;
		font-weight: 500;
		color: #3765A1;
	}

	ion-icon {margin-right: 8px;}

	ion-button {
		--background: transparent;
		--box-shadow: none;
		margin: 0;
		height: 40px;
	}
}

.estimated-box .d-flex {
	justify-content: center;

	b {
		color: rgba(0,0,0,0.87);
		margin-left: 16px;
	}
}