<ion-header>
	<ion-toolbar color="primary">
		<ion-buttons slot="start">
			<ion-button routerLink="/cust-new-appt-three"><ion-icon name="arrow-back"></ion-icon></ion-button>
		</ion-buttons>
		<ion-title>Summary</ion-title>
	</ion-toolbar>
</ion-header>

<ion-content>
	<div class="ion-padding ion-margin-bottom appt-date payment-needed">
		<div>
			<div class="date">12 June, 2017, Wed</div>
			<div class="time">11:00 AM - 12:00 PM</div>
		</div>
		<ion-icon name="create" class="big-icon" routerLink="/cust-new-appt-three"></ion-icon>
	</div>

	<ion-card>
		<ion-card-content class="appt-card">
			<ion-item lines="none">
				<ion-avatar slot="start" class="no-radius">
					<img src="../assets/images/shop-1.png">
				</ion-avatar>
				<ion-label>
					<h5 class="appt-name">Juniper Beauty</h5>
					<div class="product-rating">
						<ion-icon name="star"></ion-icon>
						<ion-icon name="star"></ion-icon>
						<ion-icon name="star"></ion-icon>
						<ion-icon name="star"></ion-icon>
						<ion-icon name="star-outline"></ion-icon>
						<span>(4)</span>
					</div>
				</ion-label>
			</ion-item>
			<ion-item lines="none" class="appt-card__list">
				<ion-icon name="pin"></ion-icon>
				<ion-label>Lot 1, Berjaya Park, Jalan 67/32, 43892 Selangor Darul Ehsan</ion-label>
			</ion-item>
			<ion-item lines="none" class="appt-card__list">
				<ion-icon name="time"></ion-icon>
				<ion-label>Operating Hours: 10 AM - 10 PM <br> Earliest available: 10:00 AM</ion-label>
			</ion-item>
		</ion-card-content>
	</ion-card>

	<ion-card>
		<ion-card-content class="appt-card">
			<ion-item lines="none">
				<ion-avatar slot="start">
					<img src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y">
				</ion-avatar>
				<ion-label>
					<h5 class="appt-name">Amy Chan</h5>
					<div class="product-rating">
						<ion-icon name="star"></ion-icon>
						<ion-icon name="star"></ion-icon>
						<ion-icon name="star"></ion-icon>
						<ion-icon name="star"></ion-icon>
						<ion-icon name="star-outline"></ion-icon>
						<span>(4)</span>
					</div>
				</ion-label>
			</ion-item>
			<ion-item lines="none" class="appt-card__list">
				<ion-icon name="information-circle-outline"></ion-icon>
				<ion-label>Extraction, Detoxifying</ion-label>
			</ion-item>
			<ion-item lines="none" class="appt-card__list">
				<ion-icon name="flower"></ion-icon>
				<ion-label>Expert</ion-label>
			</ion-item>
		</ion-card-content>
		<div class="card-footer--icon">
			<ion-button class="d-flex" routerLink="/cust-new-appt-two">
				<ion-icon name="create" class="big-icon"></ion-icon>
				<span>EDIT</span>
			</ion-button>
		</div>
	</ion-card>

	<ion-card class="appt-reserve">
		<ion-card-content class="appt-card">
			<ion-item lines="none">
				<ion-avatar slot="start">
					<img src="../assets/images/session-1.png">
				</ion-avatar>
				<div>
					<h5 class="appt-name">Sophia Cell Reversion</h5>
					<ion-item lines="none" class="appt-reserve__list">
						<ion-icon name="information-circle-outline"></ion-icon>
						<ion-label>1 hour - RM 100.00</ion-label>
					</ion-item>
				</div>
			</ion-item>
		</ion-card-content>
		<div class="card-footer--icon">
			<ion-button class="d-flex" routerLink="/cust-new-appt-one-one">
				<ion-icon name="create" class="big-icon"></ion-icon>
				<span>EDIT</span>
			</ion-button>
		</div>
	</ion-card>
</ion-content>

<ion-footer>
	<div class="estimated-box">
		<div class="d-flex">
			<span>Estimated Total</span>
			<b>RM 100.00</b>
		</div>
		<ion-button expand="block" routerLink="/cust-new-appt-details">ADD TO CARD</ion-button>
	</div>
</ion-footer>