<ion-app>
	<ion-menu contentId="content1" side="start" class="sidemenu">
		<ion-header>
			<ion-toolbar color="primary">
				<ion-item class="sidemenu-head" lines="none">
					<ion-avatar slot="start">
						<img src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y">
					</ion-avatar>
					<ion-label>
						<h3 class="sidemenu__name">Angelyn Ong</h3>
						<div class="sidemenu__info">
							<span>ID</span><span>A-13839</span>
						</div>
						<div class="sidemenu__info">
							<span>Type</span><span>Admin</span>
						</div>
					</ion-label>
				</ion-item>
			</ion-toolbar>
		</ion-header>
		<ion-content>
			<ion-list class="ion-padding sidemenu__list">
				<ion-item lines="none" class="active" routerLink="/dashboard">
					<ion-icon name="desktop" mode="ios" slot="start"></ion-icon>
					<ion-label>Dashboard</ion-label>
				</ion-item>
				<ion-item lines="none" routerLink="">
					<ion-icon name="briefcase" mode="ios" slot="start"></ion-icon>
					<ion-label>Administration</ion-label>
				</ion-item>
				<ion-item lines="none" routerLink="">
					<ion-icon name="logo-usd" mode="ios" slot="start"></ion-icon>
					<ion-label>Sales</ion-label>
				</ion-item>
				<ion-item lines="none" routerLink="">
					<ion-icon name="calendar" mode="ios" slot="start"></ion-icon>
					<ion-label>Appointment</ion-label>
				</ion-item>
				<ion-item lines="none" routerLink="/customer">
					<ion-icon name="people" mode="ios" slot="start"></ion-icon>
					<ion-label>Customer</ion-label>
				</ion-item>
				<ion-item lines="none" routerLink="product-catalogue">
					<ion-icon name="rose" mode="ios" slot="start"></ion-icon>
					<ion-label>Product Catalogue</ion-label>
				</ion-item>
				<ion-item lines="none" routerLink="">
					<ion-icon name="volume-high" mode="ios" slot="start"></ion-icon>
					<ion-label>Marketing Tools</ion-label>
				</ion-item>
				<ion-item lines="none" routerLink="">
					<ion-icon name="person" mode="ios" slot="start"></ion-icon>
					<ion-label>My Account</ion-label>
				</ion-item>
				<ion-item lines="none" routerLink="">
					<ion-icon name="chatboxes" mode="ios" slot="start"></ion-icon>
					<ion-label>Contact Sophia Swiss</ion-label>
				</ion-item>
				<ion-item lines="none" routerLink="">
					<ion-icon name="settings" mode="ios" slot="start"></ion-icon>
					<ion-label>Setting</ion-label>
				</ion-item>
			</ion-list>
		</ion-content>
	</ion-menu>
	<ion-router-outlet id="content1" main></ion-router-outlet>
</ion-app>