.sidemenu {
	&__name {
		font-size: 16px;
		line-height: 24px;
		color: #fff;
	}

	&__info {
		font-size: 14px;
		line-height: 20px;

		span {
			display: inline-block;
			min-width: 45px;

			&:first-child {
				color: rgba(255,255,255,0.7);
			}
		}
	}

	ion-avatar {
		width: 64px;
		height: 64px;
	}

	&-head {
		--background: var(--ion-color-primary);
		--color: #fff;
		padding: 12px 16px;
	}

	&__list {
		ion-icon {
			color: rgba(150,150,150,1);
		}

		ion-label {
			font-size: 14px;
			line-height: 24px;
			font-weight: 500;
			color: rgba(0,0,0,0.87);
		}

		ion-item.active {
			ion-label,
			ion-icon {
				color: rgba(141,189,235,1);
			}
		}
	}
}