<ion-header>
	<ion-toolbar color="primary">
		<ion-buttons slot="start">
			<ion-back-button defaultHref="my-stock"></ion-back-button>
		</ion-buttons>
		<ion-title>Sophia Cell Reversion</ion-title>
	</ion-toolbar>
	<ion-toolbar color="primary">
		<!-- add class `searching` to show searchbar-->
		<div class="toolbar-action">
			<div class="toolbar-search" routerLink="/all-products-search-within">
				<ion-icon name="search" class="toolbar-icon"></ion-icon>
				<ion-searchbar placeholder=""></ion-searchbar>
			</div>
			<ion-icon name="options" routerLink="/all-products-filter"></ion-icon>
			<ion-icon name="funnel" routerLink="/all-products-sortby"></ion-icon>
			<ion-icon name="list" mode="ios" routerLink="/all-products-change-view"></ion-icon>
		</div>
	</ion-toolbar>
</ion-header>

<ion-content>
	<div class="sortby">
		<div class="stock-title">Sort by</div>
		<ion-list>
			<!-- add class `selected` to selected option -->
			<ion-item lines="none" class="selected">
				<ion-label>Popularity</ion-label>
				<ion-icon name="checkmark"></ion-icon>
			</ion-item>
			<ion-item lines="none">
				<ion-label>Price: Low to High</ion-label>
				<ion-icon name="checkmark"></ion-icon>
			</ion-item>
			<ion-item lines="none">
				<ion-label>Price: High to Low</ion-label>
				<ion-icon name="checkmark"></ion-icon>
			</ion-item>
			<ion-item lines="none">
				<ion-label>Ratings</ion-label>
				<ion-icon name="checkmark"></ion-icon>
			</ion-item>
		</ion-list>
	</div>
</ion-content>
