ion-header ion-icon {font-size: 24px;}

ion-row,
ion-col {
	padding: 0;
}

.detail-list {
	color: rgba(0,0,0,0.87);
	padding: 8px 16px 0;

	&__name {
		max-width: 48px;
		font-size: 12px;
		color: rgba(0,0,0,0.54);

		&.age {
			margin-left: 50px;

			& + ion-col {max-width: 50px;}
		}
	}

	ion-row {
		margin-bottom: 8px;
	}
	
	ion-col:not(.detail-list__name) {
		width: calc(100% - 70px);
	}

	&--2 .detail-list__name {
		max-width: 62px;
	}

	&--3 .detail-list__name {
		max-width: 100px;
	}

	&--full {
		padding-bottom: 8px;
		
		.detail-list__name {
			max-width: 100%;
		}
	}
}