<ion-header>
	<ion-toolbar color="primary">
		<ion-buttons slot="start">
			<ion-back-button defaultHref="summary"></ion-back-button>
		</ion-buttons>
		<ion-title>Details</ion-title>
		<ion-buttons slot="end">
			<ion-button><ion-icon name="create"></ion-icon></ion-button>
		</ion-buttons>
	</ion-toolbar>
</ion-header>

<ion-content>
	<ion-item class="customer-info" lines="none">
		<ion-avatar slot="start">
			<img src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y">
		</ion-avatar>
		<ion-label>
			<div class="customer-name">Sarah Lim Swee Lin</div>
			<div class="customer-id">ID: 13550</div>
			<div class="customer-status"><img src="../../assets/images/star.png" alt=""><span>VIP</span></div>
		</ion-label>
	</ion-item>

	<ion-card>
		<ion-card-content class="detail-list">
			<ion-row align-items-center>
				<ion-col class="detail-list__name">IC No.</ion-col>
				<ion-col>920401-33-2842</ion-col>
			</ion-row>
			<ion-row align-items-center>
				<ion-col class="detail-list__name">D.O.B.</ion-col>
				<ion-col>01/04/1992</ion-col>
				<ion-col class="detail-list__name age">Age</ion-col>
				<ion-col>27</ion-col>
			</ion-row>
		</ion-card-content>
	</ion-card>

	<ion-card>
		<ion-card-content class="detail-list detail-list--2">
			<ion-row align-items-center>
				<ion-col class="detail-list__name">Address</ion-col>
				<ion-col>18, Jalan Permai, Taman Permai</ion-col>
			</ion-row>
			<ion-row align-items-center>
				<ion-col class="detail-list__name">Postcode</ion-col>
				<ion-col>50340</ion-col>
			</ion-row>
			<ion-row align-items-center>
				<ion-col class="detail-list__name">State</ion-col>
				<ion-col>W.P. Kuala Lumpur</ion-col>
			</ion-row>
			<ion-row align-items-center>
				<ion-col class="detail-list__name">Country</ion-col>
				<ion-col>Malaysia</ion-col>
			</ion-row>
		</ion-card-content>
	</ion-card>

	<ion-card>
		<ion-card-content class="detail-list detail-list--3">
			<ion-row align-items-center>
				<ion-col class="detail-list__name">HP No.</ion-col>
				<ion-col>+60186635032</ion-col>
			</ion-row>
			<ion-row align-items-center>
				<ion-col class="detail-list__name">Work Tel. No.</ion-col>
				<ion-col>+60342338769</ion-col>
			</ion-row>
			<ion-row align-items-center>
				<ion-col class="detail-list__name">Home Tel. No.</ion-col>
				<ion-col>+60342842039</ion-col>
			</ion-row>
			<ion-row align-items-center>
				<ion-col class="detail-list__name">Email Address</ion-col>
				<ion-col>sarah.lim92@gmail.com</ion-col>
			</ion-row>
		</ion-card-content>
	</ion-card>

	<ion-card>
		<ion-card-content class="detail-list detail-list--3">
			<ion-row align-items-center>
				<ion-col class="detail-list__name">Occupation</ion-col>
				<ion-col>Accountant</ion-col>
			</ion-row>
			<ion-row align-items-center>
				<ion-col class="detail-list__name">Marital Status</ion-col>
				<ion-col>Single</ion-col>
			</ion-row>
			<ion-row align-items-center>
				<ion-col class="detail-list__name">Gender</ion-col>
				<ion-col>Female</ion-col>
			</ion-row>
		</ion-card-content>
	</ion-card>

	<ion-card>
		<ion-card-content class="detail-list detail-list--full">
			<div class="detail-list__name">How do you know about us?</div>
			<div>Others: Voucher</div>
		</ion-card-content>
	</ion-card>
</ion-content>
