.appt {
	&-date {
		display: flex;
		align-items: center;
		justify-content: space-between;
		box-shadow: 0 2px 4px rgba(0,0,0,0.12);

		.orange {
			text-align: right;
			max-width: 60px;
			margin-left: 15px;
		}

		> *:not(.orange) {color: rgba(0,0,0,0.87);}

		.date {
			font-size: 20px;
			font-weight: 500;
		}

		.time {
			font-size: 16px;
		}

		&.payment-needed {background-color: rgba(141,189,235,0.2);}
	}

	&-position {
		font-size: 12px;
		margin-bottom: 4px;
	}

	&-name {font-weight: 500;}
	&-id {
		font-size: 12px;
		color: rgba(138,138,143,1);
	}

	&-duration {
		display: flex;
		align-items: center;
		color: rgba(0,0,0,0.54);

		ion-icon {
			color: rgba(158,158,158,1);
			font-size: 24px;
			margin-right: 8px;
		}
	}

	&-card {
		color: rgba(0,0,0,0.54);

		ion-avatar {margin: 0 16px 0 0;}
		ion-label {margin: 0;}

		&.duration {
			padding: 8px 16px;

			ion-avatar {
				--border-radius: 0;
			}
		}

		&.totals {
			color: rgba(0,0,0,0.54);

			.total-price {
				margin-bottom: 8px;

				span:last-child {
					color: rgba(0,0,0,0.87);
					font-weight: 500;
					margin-left: 12px;
				}
			}
		}
	}

	&-footer {
		border-top: 1px solid rgba(0,0,0,0.12);
		padding: 10px;
		color: var(--ion-color-primary);
		font-size: 20px;
		line-height: 24px;
		display: flex;
		align-items: center;
		justify-content: center;

		ion-icon {
			margin: 0 25px;

			&:first-child {font-size: 24px;}
		}
	}
}