<ion-header>
	<ion-toolbar color="primary">
		<ion-buttons slot="start">
			<ion-back-button defaultHref="customer-list"></ion-back-button>
		</ion-buttons>
		<ion-title>Adele Gonzales</ion-title>
	</ion-toolbar>
</ion-header>

<ion-content>
	<ion-item class="customer-info" lines="none">
		<ion-avatar slot="start">
			<img src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y">
		</ion-avatar>
		<ion-label>
			<div class="customer-name">Adele Gonzales</div>
			<div class="customer-id">ID: 13550</div>
			<div class="customer-status"><img src="../../assets/images/star-silver.png" alt=""><span>Member</span></div>
		</ion-label>
	</ion-item>
	<ion-fab vertical="top" horizontal="end" slot="fixed">
		<ion-fab-button>
			<ion-icon name="call"></ion-icon>
		</ion-fab-button>
	</ion-fab>

	<ion-card>
		<ion-card-content>
			<div class="last-visit">
				<span>Last Visit</span>
				<span class="orange">6 months ago</span>
			</div>
		</ion-card-content>
	</ion-card>

	<div class="menu-list">
		<div class="menu-item" routerLink="/purchase">
			<ion-icon name="refresh" class="menu-icon" style="color: rgba(55,101,161,1);"></ion-icon>
			<span class="menu-title">Purchase</span>
			<ion-icon name="arrow-forward" mode=ios class="menu-link"></ion-icon>
		</div>
		<div class="menu-item" routerLink="/appointments">
			<ion-icon name="calendar" class="menu-icon" style="color: rgba(154,143,200,1);"></ion-icon>
			<span class="menu-title">Appointments</span>
			<ion-icon name="arrow-forward" mode=ios class="menu-link"></ion-icon>
		</div>
	</div>
	<div class="menu-list">
		<div class="menu-item" routerLink="/customer-detail">
			<ion-icon name="person" class="menu-icon" style="color: rgba(165,230,200,1);"></ion-icon>
			<span class="menu-title">Details</span>
			<ion-icon name="arrow-forward" mode=ios class="menu-link"></ion-icon>
		</div>
	</div>
	<div class="menu-list">
		<div class="menu-item" routerLink="/customer-skin">
			<ion-icon name="happy" class="menu-icon" style="color: rgba(255,195,95,1);"></ion-icon>
			<span class="menu-title">Skin Condition</span>
			<ion-icon name="arrow-forward" mode=ios class="menu-link"></ion-icon>
		</div>
		<div class="menu-item" routerLink="/health-condition">
			<ion-icon name="pulse" class="menu-icon" style="color: rgba(250,165,163,1);"></ion-icon>
			<span class="menu-title">Health Condition</span>
			<ion-icon name="arrow-forward" mode=ios class="menu-link"></ion-icon>
		</div>
	</div>
</ion-content>
