ion-fab {top: 85px;}
ion-card {color: rgba(0,0,0,0.87);}

.last-visit {
	span:first-child {
		font-size: 12px;
		color: rgba(0,0,0,0.54);
		margin-right: 12px;
	}
}

.list-view {
	margin-bottom: 12px;

	b {margin-right: 4px;}
	a {
		float: right;
		color: rgba(55,101,161,1);
		font-weight: 500;
	}
}

.menu {
	&-list {
		box-shadow: 0 1px 4px rgba(0,0,0,0.15);
		margin-bottom: 8px;
	}

	&-item {
		display: flex;
		align-items: center;
		font-size: 16px;
		padding: 12px 24px;
		line-height: 24px;
		color: rgba(0,0,0,0.87);

		& + .menu-item {
			border-top: 1px solid rgba(0,0,0,0.05);
		}
	}

	&-icon {
		font-size: 24px;
		margin-right: 32px;
	}

	&-link {
		margin-left: auto;
		margin-right: 0;
	}
}