<ion-header>
	<ion-toolbar color="primary">
		<ion-buttons slot="start">
			<ion-button routerLink="/cust-home"><ion-icon name="arrow-back"></ion-icon></ion-button>
		</ion-buttons>
		<ion-title>Search</ion-title>
	</ion-toolbar>
	<ion-toolbar color="primary">
		<!-- add class `searching` to show searchbar-->
		<div class="toolbar-action">
			<div class="toolbar-search" routerLink="">
				<ion-icon name="search" class="toolbar-icon"></ion-icon>
				<ion-searchbar placeholder=""></ion-searchbar>
			</div>
			<ion-icon name="options" routerLink=""></ion-icon>
			<ion-icon name="funnel" routerLink=""></ion-icon>
			<ion-icon name="list" mode="ios" routerLink=""></ion-icon>
		</div>
	</ion-toolbar>
</ion-header>

<ion-content>
	<div class="ion-margin-top">
		<div class="stock-info">
			Products containing the search term ‘Facial’.<br>
			32 items found.
		</div>
		<div class="product-grid">
			<ion-card class="product">
				<img class="product-img" src="../assets/images/product-2.png" alt="">
				<div class="product-detail">
					<div class="product-name">C+1 & C+2</div>
					<div class="product-price">RM 799.00</div>
					<div class="product-rating">
						<ion-icon name="star"></ion-icon>
						<ion-icon name="star"></ion-icon>
						<ion-icon name="star"></ion-icon>
						<ion-icon name="star"></ion-icon>
						<ion-icon name="star-outline"></ion-icon>
					</div>
				</div>
			</ion-card>
			<ion-card class="product">
				<img class="product-img" src="../assets/images/product-3.png" alt="">
				<div class="product-detail">
					<div class="product-name">Cleansing Emulsion</div>
					<div class="product-price">RM 799.00</div>
				</div>
			</ion-card>
			<ion-card class="product">
				<div class="product-sale" style="background-image: url('../../assets/images/image_sale_wide.png');"><span>LIMITED TIME SALE</span></div>
				<img class="product-img" src="../assets/images/product-2.png" alt="">
				<div class="product-detail">
					<div class="product-name">C+1 & C+2</div>
					<div class="product-price">RM 799.00</div>
				</div>
			</ion-card>
			<ion-card class="product">
				<img class="product-img" src="../assets/images/product-3.png" alt="">
				<div class="product-detail">
					<div class="product-name">Cleansing Emulsion</div>
					<div class="product-price">RM 799.00</div>
				</div>
			</ion-card>
		</div>
	</div>
</ion-content>
