.stock-title {
	padding: 16px;
	margin: 0;
}

ion-item {
	padding: 0 20px 0 16px;

	ion-icon {
		color: var(--ion-color-primary);
		display: none;
	}

	&.selected {
		background-color: rgba(55,101,161,0.1);
		--background: transparent;

		ion-icon {display: block;}
	}
}