<ion-header>
	<ion-toolbar color="primary">
		<ion-buttons slot="start">
			<ion-back-button defaultHref="my-stock"></ion-back-button>
		</ion-buttons>
		<ion-title>Sophia Cell Reversion</ion-title>
		<ion-buttons slot="end">
			<ion-button><ion-icon name="cart"></ion-icon></ion-button>
		</ion-buttons>
	</ion-toolbar>
	<ion-toolbar color="primary">
		<!-- add class `searching` to show searchbar-->
		<div class="toolbar-action">
			<div class="toolbar-search" routerLink="/product-search-within">
				<ion-icon name="search" class="toolbar-icon"></ion-icon>
				<ion-searchbar placeholder=""></ion-searchbar>
			</div>
			<ion-icon name="options" routerLink="/product-filter"></ion-icon>
			<ion-icon name="funnel" routerLink="/product-sortby"></ion-icon>
		</div>
	</ion-toolbar>
</ion-header>

<ion-content>
	<div class="sortby">
		<div class="stock-title">Sort by</div>
		<ion-list>
			<!-- add class `selected` to selected option -->
			<ion-item lines="none" class="selected">
				<ion-label>Name</ion-label>
				<ion-icon name="checkmark"></ion-icon>
			</ion-item>
			<ion-item lines="none">
				<ion-label>In Stock: Most to Least</ion-label>
				<ion-icon name="checkmark"></ion-icon>
			</ion-item>
			<ion-item lines="none">
				<ion-label>In Stock: Least to Most</ion-label>
				<ion-icon name="checkmark"></ion-icon>
			</ion-item>
		</ion-list>
	</div>
</ion-content>
