<ion-header>
	<ion-toolbar color="primary">
		<ion-buttons slot="start">
			<ion-button routerLink="/cust-home"><ion-icon name="arrow-back"></ion-icon></ion-button>
		</ion-buttons>
		<ion-title>Appointment</ion-title>
		<ion-buttons slot="end">
			<ion-button routerLink=""><ion-icon name="cart"></ion-icon></ion-button>
		</ion-buttons>
	</ion-toolbar>
</ion-header>

<ion-content>
	<div class="ion-padding">
		<div class="row-wicon d-flex" routerLink="/cust-upcoming-appt">
			<div class="wicon-icon"><ion-icon name="calendar" style="color: #FFC35F;"></ion-icon></div>
			<div class="wicon-title">
				Upcoming Appointments
				<div class="wicon-small">Nearest Upcoming</div>
				<div class="wicon-subtitle">28 June, 2019, Fri  11:00 AM - 12:00 PM</div>
			</div>
			<ion-icon name="arrow-forward" mode="ios" class="wicon-arrow"></ion-icon>
		</div>
		<div class="row-wicon d-flex" routerLink="/cust-purchased-packages">
			<div class="wicon-icon"><ion-icon name="gift" style="color: #FAA5A3;"></ion-icon></div>
			<div class="wicon-title">
				Purchased Packages
				<div class="wicon-subtitle">15 available sessions</div>
			</div>
			<ion-icon name="arrow-forward" mode="ios" class="wicon-arrow"></ion-icon>
		</div>
		<div class="row-wicon d-flex" routerLink="/cust-appt-history">
			<div class="wicon-icon"><ion-icon name="alarm" style="color: #8DBDEB;"></ion-icon></div>
			<div class="wicon-title">
				Appointment History
			</div>
			<ion-icon name="arrow-forward" mode="ios" class="wicon-arrow"></ion-icon>
		</div>
	</div>

	<ion-list class="list-wimg">
		<h1 class="ion-margin-horizontal" style="margin-top: 0;">Salons</h1>
		<ion-item lines="none" routerLink="/cust-shop">
			<img src="../assets/images/shop-cat-1.png" alt="">
			<span>Juniper Beauty</span>
		</ion-item>
		<ion-item lines="none" routerLink="/cust-shop-noappt">
			<img src="../assets/images/shop-cat-2.png" alt="">
			<span>Perfect Skin</span>
		</ion-item>
    </ion-list>
</ion-content>

<ion-tab-bar slot="bottom" color="primary">
	<ion-tab-button tab="home" routerLink="/cust-home">
		<ion-icon name="md-home"></ion-icon>
		<ion-label>Home</ion-label>
	</ion-tab-button>

	<ion-tab-button tab="product">
		<ion-icon name="ios-gift"></ion-icon>
		<ion-label>Product</ion-label>
	</ion-tab-button>

	<ion-tab-button tab="account">
		<ion-icon name="md-person"></ion-icon>
		<ion-label>Account</ion-label>
	</ion-tab-button>

	<ion-tab-button tab="more" routerLink="/cust-home-more-actions">
		<ion-icon name="md-more"></ion-icon>
		<ion-label>More</ion-label>
	</ion-tab-button>
</ion-tab-bar>