<ion-header>
	<ion-toolbar color="primary">
		<ion-buttons slot="start">
			<ion-button routerLink="/cust-home-more-actions"><ion-icon name="arrow-back"></ion-icon></ion-button>
		</ion-buttons>
		<ion-title>About Us</ion-title>
		<ion-buttons slot="end">
			<ion-button routerLink="/cust-scan-qr"><ion-icon name="qr-scanner"></ion-icon></ion-button>
			<ion-button><ion-icon name="share"></ion-icon></ion-button>
			<ion-button><ion-icon name="cart"></ion-icon></ion-button>
		</ion-buttons>
	</ion-toolbar>
</ion-header>

<ion-content>
	<div class="about">
		<div class="about-logo ion-text-center">
			<img src="../assets/images/logo_long.png" alt="">
		</div>
		<div class="about-wrap bg-gray ion-padding">
			<div class="about-btn">
				<ion-button icon-start href="https://www.facebook.com/profile.php?id=100019735410963" target="_blank">
					<ion-icon name="logo-facebook"></ion-icon>
					Facebook
				</ion-button>
				<ion-button icon-start class="btn-youtube" href="https://www.youtube.com/channel/UCNT6i3uf7cEgwx6thD4orbA" target="_blank">
					<ion-icon name="logo-youtube"></ion-icon>
					Youtube
				</ion-button>
				<ion-button icon-start class="btn-gallery" routerLink="/cust-gallery">
					<ion-icon name="image"></ion-icon>
					Gallery
				</ion-button>
			</div>

			<h1>CLASSY BEAUTY WELLNESS SDN BHD</h1>
			<div class="about-content">
				<p>SOPHIA是一家拥有超过24年，创造美丽无限精彩人生的SOPHIA体验馆。为了让您更美丽健康，SOPHIA体验馆不断的引进高端的技术，安全，效果导向的产品，SOPHIA拥有自己的特色项目“细胞疗法”，来自瑞士属于自己优质的的“微整形产品”，LOHAS自然疗法，在行业中率先提出“由头美到脚，由内美到外”核心理念，致力于打造“量身缔造”皆在服务于最尊宠的您，从而达到让生命创造美丽无限，精彩人生的使命。
				SOPHIA将会成为大家信赖和喜爱的优品体验馆，SOPHIA将完善美业服务体系，构建持续发展生态圈。让美的行业茁壮成长。</p>
				Why are we so special? <br>
				1.)Instant result, results lasting, no side effect <br>
				2.)Specialist solutions to aesthetic effect <br>
				3.)Hyper allergies & aging skin <br>
				4.)Personalized treatments tailored to individual skin needs <br>
				5.)Holistic diagnosis identifies skin problems from inner caus
			</div>
		</div>
	</div>
</ion-content>
