.btn {
	&-youtube {--background: #CE1312;}
	&-gallery {--background: #009688;}
}

.about {
	&-logo {padding: 24px;}
	&-btn {
		margin: 8px -8px -2px;

		ion-button {
			text-transform: none;
			--border-radius: 8px;
			height: 40px;
		    --padding-start: 6px;
		    --padding-end: 6px;
		    min-width: 110px;

			ion-icon {margin-right: 6px;}
		}
	}
	&-wrap {
		color: rgba(0,0,0,0.87);

		h1 {
			margin: 16px 0 8px;
		}
	}
}