.contact {
	&-detail {
		padding: 30px 16px 16px;

		h1 {margin: 0 0 8px;}
	}

	&-row {
		margin-bottom: 10px;
		color: rgba(0,0,0,0.87);

		ion-icon {
			color: #9E9E9E;
			font-size: 22px;
			min-width: 22px;
			margin-right: 22px;
		}

		a {
			font-weight: 500;
			letter-spacing: .5px;
		}
	}
}

.footer-md:before {background: none;}

ion-footer ion-button {
	text-transform: none;
	--border-radius: 8px;
	margin-bottom: 12px;
	height: 40px;
	--padding-start: 8px;
	--padding-end: 32px;

	ion-icon {
		margin-right: 32px;
		font-size: 24px;
	}
}