<ion-header>
	<ion-toolbar color="primary">
		<ion-buttons slot="start">
			<ion-back-button defaultHref="cust-home-more-actions"></ion-back-button>
		</ion-buttons>
		<ion-title>Contact Us</ion-title>
		<ion-buttons slot="end">
			<ion-button routerLink="/cust-scan-qr"><ion-icon name="qr-scanner"></ion-icon></ion-button>
			<ion-button><ion-icon name="share"></ion-icon></ion-button>
			<ion-button><ion-icon name="cart"></ion-icon></ion-button>
		</ion-buttons>
	</ion-toolbar>
</ion-header>

<ion-content>
	<div class="contact">
		<div class="contact-map">
			<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d249.00760931293527!2d101.6096570121972!3d3.062101109103649!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x31cc4c9b62640a0b%3A0x48b893901e3ba01!2sPersiaran%20Tasik%20Timur%2C%20Bandar%20Sunway%2C%2047500%20Petaling%20Jaya%2C%20Selangor%2C%20Malaysia!5e0!3m2!1sid!2sid!4v1570173656935!5m2!1sid!2sid" width="600" height="180" frameborder="0" style="border:0;" allowfullscreen=""></iframe>
		</div>
		<div class="contact-detail">
			<h1>Smart Beauty Signature Sdn Bhd</h1>
			<div class="contact-row d-flex">
				<ion-icon name="call"></ion-icon>
				<a>03-5621 1159 / 016-211 1146</a>
			</div>
			<div class="contact-row d-flex">
				<ion-icon name="pin"></ion-icon>
				<span>E1-03-01, Block E1, Sunway GEO Avenue, Jalan Lagoon Selatan, Bandar Sunway, 47500 Subang Jaya, Selangor Darul Ehsan.</span>
			</div>
			<div class="contact-row d-flex">
				<ion-icon name="mail"></ion-icon>
				<a>info@sophiaswiss.com</a>
			</div>
		</div>
	</div>
</ion-content>

<ion-footer class="ion-text-center">
	<ion-toolbar><ion-button routerLink="/cust-live-chat"><ion-icon name="chatbubbles"></ion-icon>Live Chat</ion-button></ion-toolbar>
</ion-footer>