.card-sales {
	margin-bottom: 8px;
	border-radius: 0;

	ion-icon {
		width: 14px;
		height: 14px;
		padding: 3px;
		margin-right: 10px;
		border-radius: 999px;
		color: var(--ion-color-primary-contrast);
	}

	.sales-orange {background-color: rgba(255,195,95,1);}
	.sales-red {background-color: rgba(250,165,163,1);}
	.sales-green {background-color: rgba(165,230,200,1);}
	.sales-blue {background-color: rgba(141,189,235,1);}

	h3 {
		font-size: 16px;
		line-height: 24px;
		color: var(--ion-color-sales-black);
	}

	p {
		font-size: 12px;
		color: var(--ion-color-sales-soft-black);
		margin: 0;
	}

	&__detail {
		h3 {font-weight: bold;}
		p {color: var(--ion-color-primary);}
	}
	
	ion-label {margin: 0;}
	ion-avatar {margin: 0 10px 0 0;}
	ion-card-subtitle {font-weight: 400;}
	ion-card-header {padding: 12px 10px 6px;}
	ion-card-content {padding: 0 10px 12px;}

	&--col {
		margin: 0 -4px 8px;

		ion-row > ion-col {
			padding: 0 4px;
		}
	}
}