<ion-header>
	<ion-toolbar color="primary">
		<ion-buttons slot="start">
			<ion-menu-button autoHide="false"><ion-icon name="menu"></ion-icon></ion-menu-button>
		</ion-buttons>
		<ion-title>Dashboard</ion-title>
	</ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
	<div class="choose ion-margin-bottom">
		<ion-radio-group name="view_by_periode">
			<ion-item lines="none">
				<ion-label>Daily</ion-label>
				<ion-radio name="mode" mode="md" value="Daily"></ion-radio>
			</ion-item>
			<ion-item lines="none">
				<ion-label>Weekly</ion-label>
				<ion-radio name="mode" mode="md" value="Weekly"></ion-radio>
			</ion-item>
			<ion-item lines="none">
				<ion-label>Monthly</ion-label>
				<ion-radio name="mode" mode="md" value="Monthly" checked></ion-radio>
			</ion-item>
		</ion-radio-group>
	</div>

	<ion-grid class="ion-no-padding card-sales--col">
		<ion-row>
			<ion-col size="6">
				<ion-card class="ion-no-margin card-sales">
					<ion-card-header>
						<ion-card-subtitle class="d-flex ion-align-items-center">
							<ion-icon name="pulse" class="sales-orange"></ion-icon> Sales Rate
						</ion-card-subtitle>
					</ion-card-header>
					<ion-card-content>
						<ion-col class="ion-no-padding">
							<div class="card-sales__detail">
								<h3>65%</h3>
								<p>This Month</p>
							</div>
						</ion-col>
					</ion-card-content>
				</ion-card>
			</ion-col>
			<ion-col size="6">
				<ion-card class="ion-no-margin card-sales">
					<ion-card-header>
						<ion-card-subtitle class="d-flex ion-align-items-center">
							<ion-icon name="pulse" class="sales-red"></ion-icon> Total Sales
						</ion-card-subtitle>
					</ion-card-header>
					<ion-card-content>
						<ion-col class="ion-no-padding">
							<div class="card-sales__detail">
								<h3>RM 20,123.60</h3>
								<p>This Month</p>
							</div>
						</ion-col>
					</ion-card-content>
				</ion-card>
			</ion-col>
			<ion-col size="6">
				<ion-card class="ion-no-margin card-sales">
					<ion-card-header>
						<ion-card-subtitle class="d-flex ion-align-items-center">
							<ion-icon name="pulse" class="sales-green"></ion-icon> Online Sales
						</ion-card-subtitle>
					</ion-card-header>
					<ion-card-content>
						<ion-col class="ion-no-padding">
							<div class="card-sales__detail">
								<h3>RM 10,123.00</h3>
								<p>This Month</p>
							</div>
						</ion-col>
					</ion-card-content>
				</ion-card>
			</ion-col>
			<ion-col size="6">
				<ion-card class="ion-no-margin card-sales">
					<ion-card-header>
						<ion-card-subtitle class="d-flex ion-align-items-center">
							<ion-icon name="pulse" class="sales-blue"></ion-icon> Offline Sales
						</ion-card-subtitle>
					</ion-card-header>
					<ion-card-content>
						<ion-col class="ion-no-padding">
							<div class="card-sales__detail">
								<h3>RM 10,000.60</h3>
								<p>This Month</p>
							</div>
						</ion-col>
					</ion-card-content>
				</ion-card>
			</ion-col>
		</ion-row>
	</ion-grid>

	<ion-card class="ion-no-margin card-sales">
		<ion-card-header>
			<ion-card-subtitle class="d-flex ion-align-items-center">
				<ion-icon name="star" class="sales-orange"></ion-icon> Top Sales Dealers
			</ion-card-subtitle>
		</ion-card-header>
		<ion-card-content>
			<ion-grid class="ion-no-padding">
				<ion-row>
					<ion-col class="ion-float-left ion-no-padding">
						<ion-item class="ion-float-left card-sales__user" lines="none">
							<ion-avatar slot="start">
								<img src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y">
							</ion-avatar>
							<ion-label>
								<h3>Patricia Cheong</h3>
								<p>ID 10294</p>
							</ion-label>
						</ion-item>
					</ion-col>
					<ion-col class="ion-float-right ion-no-padding">
						<div class="ion-text-end card-sales__detail">
							<h3>RM 45,343.45</h3>
							<p>This Month</p>
						</div>
					</ion-col>
				</ion-row>
			</ion-grid>
		</ion-card-content>
	</ion-card>
	<ion-card class="ion-no-margin card-sales">
		<ion-card-header>
			<ion-card-subtitle class="d-flex ion-align-items-center">
				<ion-icon name="star" class="sales-red"></ion-icon> Top Beautician
			</ion-card-subtitle>
		</ion-card-header>
		<ion-card-content>
			<ion-grid class="ion-no-padding">
				<ion-row>
					<ion-col class="ion-float-left ion-no-padding">
						<ion-item class="ion-float-left card-sales__user" lines="none">
							<ion-avatar slot="start">
								<img src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y">
							</ion-avatar>
							<ion-label>
								<h3>Amy Chan</h3>
								<p>ID 10382</p>
							</ion-label>
						</ion-item>
					</ion-col>
					<ion-col class="ion-float-right ion-no-padding">
						<div class="ion-text-end card-sales__detail">
							<h3>RM 5,630.50</h3>
							<p>This Month</p>
						</div>
					</ion-col>
				</ion-row>
			</ion-grid>
		</ion-card-content>
	</ion-card>
	<ion-card class="ion-no-margin card-sales">
		<ion-card-header>
			<ion-card-subtitle class="d-flex ion-align-items-center">
				<ion-icon name="star" class="sales-green"></ion-icon> Top Ambassador
			</ion-card-subtitle>
		</ion-card-header>
		<ion-card-content>
			<ion-grid class="ion-no-padding">
				<ion-row>
					<ion-col class="ion-float-left ion-no-padding">
						<ion-item class="ion-float-left card-sales__user" lines="none">
							<ion-avatar slot="start">
								<img src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y">
							</ion-avatar>
							<ion-label>
								<h3>Christina Chou</h3>
								<p>ID 18204</p>
							</ion-label>
						</ion-item>
					</ion-col>
					<ion-col class="ion-float-right ion-no-padding">
						<div class="ion-text-end card-sales__detail">
							<h3>RM 3,381.00</h3>
							<p>This Month</p>
						</div>
					</ion-col>
				</ion-row>
			</ion-grid>
		</ion-card-content>
	</ion-card>
	<ion-card class="ion-no-margin card-sales">
		<ion-card-header>
			<ion-card-subtitle class="d-flex ion-align-items-center">
				<ion-icon name="star" class="sales-blue"></ion-icon> Top Consumer
			</ion-card-subtitle>
		</ion-card-header>
		<ion-card-content>
			<ion-grid class="ion-no-padding">
				<ion-row>
					<ion-col class="ion-float-left ion-no-padding">
						<ion-item class="ion-float-left card-sales__user" lines="none">
							<ion-avatar slot="start">
								<img src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y">
							</ion-avatar>
							<ion-label>
								<h3>nadia.yuna</h3>
								<p>ID 48291</p>
							</ion-label>
						</ion-item>
					</ion-col>
					<ion-col class="ion-float-right ion-no-padding">
						<div class="ion-text-end card-sales__detail">
							<h3>RM 2,739.60</h3>
							<p>This Month</p>
						</div>
					</ion-col>
				</ion-row>
			</ion-grid>
		</ion-card-content>
	</ion-card>
	
	<!-- add class `show` to display modal -->
	<div class="modal"> 
		<div class="modal-content">
			<img src="../../assets/images/dashboard-ads.jpg" alt="">
			<div class="modal-close">
				<ion-button fill="clear" size="small">
					<ion-icon name="close"></ion-icon>
				</ion-button>
			</div>
		</div>
	</div>
</ion-content>