<ion-header>
	<ion-toolbar color="primary">
		<ion-buttons slot="start">
			<ion-back-button defaultHref="summary"></ion-back-button>
		</ion-buttons>
		<ion-title>Skin Condition</ion-title>
		<ion-buttons slot="end">
			<ion-button><ion-icon name="create"></ion-icon></ion-button>
		</ion-buttons>
	</ion-toolbar>
</ion-header>

<ion-content>
	<div class="face-wrapper">
		<img src="../../assets/images/register-face-filled.jpg" alt="">
		
		<!-- add class `show` to showing legend body -->
		<div class="legend">
			<div class="legend-head">
				<span class="legend-title">Legend</span>
				<ion-icon name="arrow-up" mode="ios"></ion-icon>
			</div>
			<div class="legend-body">
				<div class="legend-list">
					<span class="legend-code">Q</span>
					<span class="legend-title">Scars</span>
				</div>
				<div class="legend-list">
					<span class="legend-code">#</span>
					<span class="legend-title">ScFreckles/Pigmentationars</span>
				</div>
			</div>
		</div>
	</div>
</ion-content>
