.tips {
	background: linear-gradient(154.9deg, #C0D9FA 0%, #B3CAE7 100%);
	min-height: 100vh;
	width: 100vw;

	h1 {
		margin: 0;
		padding: 72px 0 54px;
	}

	&-img {
		max-width: 200px;
		height: 200px;
		margin-bottom: 40px;
	}

	&-text {
		font-size: 16px;
		color: rgba(0,0,0,0.87);
		margin: 45px auto 32px;
	}

	&-item {
		width: 100%;
		padding: 0 16px;
	}
}