<ion-header>
	<ion-toolbar color="primary">
		<ion-buttons slot="start">
			<ion-back-button defaultHref="my-stock"></ion-back-button>
		</ion-buttons>
		<ion-title>Sophia Cell Reversion</ion-title>
		<ion-buttons slot="end">
			<ion-button><ion-icon name="cart"></ion-icon></ion-button>
		</ion-buttons>
	</ion-toolbar>
	<ion-toolbar color="primary">
		<!-- add class `searching` to show searchbar-->
		<div class="toolbar-action">
			<div class="toolbar-search" routerLink="/product-search-within">
				<ion-icon name="search" class="toolbar-icon"></ion-icon>
				<ion-searchbar placeholder=""></ion-searchbar>
			</div>
			<ion-icon name="options" routerLink="/product-filter"></ion-icon>
			<ion-icon name="funnel" routerLink="/product-sortby"></ion-icon>
		</div>
	</ion-toolbar>
</ion-header>

<ion-content>
	<div class="filter ion-padding">
		<div class="stock-title">Filter</div>
		<div class="filter-name">Price</div>
		<ion-item lines="none">
			<ion-range dualKnobs="true" min="0" max="100" step="" value="50" snaps="true">
				<ion-label slot="start">$</ion-label>
  				<ion-label slot="end">$$$</ion-label>	
			</ion-range>
		</ion-item>
		<div class="filter-numb">
			<input type="text" value="RM 10">
			<input type="text" value="RM 88">
		</div>
		<div class="fiter-text">Only show product with ratings above</div>
		<div class="ion-text-center filter-rating">
			<ion-icon name="star"></ion-icon>
			<ion-icon name="star"></ion-icon>
			<ion-icon name="star"></ion-icon>
			<ion-icon name="star"></ion-icon>
			<ion-icon name="star-outline"></ion-icon>
		</div>
		<ion-button expand="block">OK</ion-button>
	</div>
</ion-content>
