<ion-header>
	<ion-toolbar color="primary">
		<ion-buttons slot="start">
			<ion-back-button defaultHref="cust-home"></ion-back-button>
		</ion-buttons>
		<ion-title>Puchong</ion-title>
		<ion-buttons slot="end"><ion-button><ion-icon name="cart"></ion-icon></ion-button></ion-buttons>
	</ion-toolbar>
</ion-header>

<ion-content>
	<div class="product-grid">
		<ion-card class="product">
			<div class="product-sale" style="background-image: url('../../assets/images/image_sale_wide.png');"><span>LIMITED TIME SALE</span></div>
			<img class="product-img" src="../assets/images/product-2.png" alt="">
			<div class="product-detail">
				<div class="product-name">C+1 & C+2</div>
				<div class="product-price">
					<span>RM 299.00</span>
					<del>RM 399.00</del>
				</div>
				<div class="product-rating">
					<ion-icon name="star"></ion-icon>
					<ion-icon name="star"></ion-icon>
					<ion-icon name="star"></ion-icon>
					<ion-icon name="star"></ion-icon>
					<ion-icon name="star-outline"></ion-icon>
				</div>
			</div>
		</ion-card>
		<ion-card class="product">
			<img class="product-img" src="../assets/images/product-3.png" alt="">
			<div class="product-detail">
				<div class="product-name">Cleansing Emulsion</div>
				<div class="product-price">
					<span>RM 299.00</span>
					<del>RM 350.00</del>
				</div>
			</div>
		</ion-card>
		<ion-card class="product">
			<img class="product-img" src="../assets/images/product-2.png" alt="">
			<div class="product-detail">
				<div class="product-name">C+1 & C+2</div>
				<div class="product-price">RM 799.00</div>
			</div>
		</ion-card>
		<ion-card class="product">
			<img class="product-img" src="../assets/images/product-3.png" alt="">
			<div class="product-detail">
				<div class="product-name">Cleansing Emulsion</div>
				<div class="product-price">RM 799.00</div>
			</div>
		</ion-card>
	</div>
</ion-content>
