ion-content {
	--background: #eef3f9;
}

.signature {
	&-intro {
		background-color: #fff;
		color: rgba(0,0,0,0.87);
		font-weight: 500;
	}

	&-btn {
		display: flex;
		justify-content: space-between;
		position: fixed;
		bottom: 0;
		left: 0;
		right: 0;
		background-color: #fff;
		
		ion-button {
			width: 120px;
		}
	}
}