<ion-header>
	<ion-toolbar color="primary">
		<ion-buttons slot="start">
			<ion-back-button defaultHref="summary"></ion-back-button>
		</ion-buttons>
		<ion-title>Client’s Signature</ion-title>
	</ion-toolbar>
</ion-header>

<ion-content>
	<div class="signature-intro ion-padding">
		By signing here, you agree that the details about you are correct.
	</div>
	<div class="signature-box">
		
	</div>
	<div class="signature-btn ion-padding">
		<ion-button fill="outline">CLEAR</ion-button>
		<ion-button color="primary" routerLink="/customer-detail">SUBMIT</ion-button>
	</div>
</ion-content>
