<ion-header>
	<ion-toolbar color="primary">
		<ion-buttons slot="start">
			<ion-button routerLink="/cust-contact-us"><ion-icon name="arrow-back"></ion-icon></ion-button>
		</ion-buttons>
		<ion-title>Live Chat</ion-title>
	</ion-toolbar>
</ion-header>

<ion-content class="bg-gray">
	<div class="chat chat-box">
		<div class="chat-date ion-text-center">
			<span>4 JUL 2019</span>
		</div>
		<div class="chat-row"><span>Hello, how can I help?</span></div>
		<div class="chat-row right"><span>Hi, is the SS2 branch open today?</span></div>
		<div class="chat-row"><span>Yes it is.</span></div>
	</div>
	<div class="chat chat-box">
		<div class="chat-date ion-text-center">
			<span>TODAY</span>
		</div>
		<div class="chat-row"><span>Hello, how can I help?</span></div>
		<div class="chat-row right"><span>Hi, how do I make an appointment?</span></div>
		<div class="chat-row"><span>It’s easy, just head over to Appointment tab and choose a date.</span></div>
	</div>
</ion-content>

<ion-footer>
	<ion-toolbar>
		<div class="chat-reply d-flex">
			<ion-icon name="happy" class="chat-emoji"></ion-icon>
			<ion-input placeholder="Type a message"></ion-input>
			<ion-icon name="camera" class="chat-camera"></ion-icon>
		</div>
	</ion-toolbar>
	<ion-fab vertical="bottom" horizontal="end" slot="fixed">
		<ion-fab-button>
			<ion-icon name="mic"></ion-icon>
		</ion-fab-button>
	</ion-fab>
</ion-footer>