<ion-header>
	<ion-toolbar color="primary">
		<ion-buttons slot="start">
			<ion-button routerLink="/cust-home"><ion-icon name="arrow-back"></ion-icon></ion-button>
		</ion-buttons>
		<ion-title>Beauty Solutions</ion-title>
		<ion-buttons slot="end">
			<ion-button routerLink="/cust-beauty-solutions-newskinrecord"><ion-icon name="add"></ion-icon></ion-button>
		</ion-buttons>
	</ion-toolbar>
</ion-header>

<ion-content class="bg-gray">
	<div class="ion-text-center">
		<img src="../assets/images/image_beautysolutions.png" alt="">
		<p>You have not made any records yet.</p>
		<ion-button color="primary" routerLink="/cust-beauty-solutions-newskinrecord">Add New</ion-button>
	</div>
</ion-content>

<ion-tab-bar slot="bottom" color="primary">
	<ion-tab-button tab="home" routerLink="/cust-home">
		<ion-icon name="md-home"></ion-icon>
		<ion-label>Home</ion-label>
	</ion-tab-button>

	<ion-tab-button tab="product">
		<ion-icon name="ios-gift"></ion-icon>
		<ion-label>Product</ion-label>
	</ion-tab-button>

	<ion-tab-button tab="account">
		<ion-icon name="md-person"></ion-icon>
		<ion-label>Account</ion-label>
	</ion-tab-button>

	<ion-tab-button tab="more" routerLink="/cust-home-more-actions">
		<ion-icon name="md-more"></ion-icon>
		<ion-label>More</ion-label>
	</ion-tab-button>
</ion-tab-bar>