<ion-header>
	<ion-toolbar color="primary">
		<ion-buttons slot="start">
			<ion-back-button defaultHref="select-delivery-address"></ion-back-button>
		</ion-buttons>
		<ion-title>Add Delivery Address</ion-title>
	</ion-toolbar>
</ion-header>

<ion-content>
	<div class="ion-padding">
		<div class="main-form">
			<ion-item class="main-input">
				<ion-label position="stacked">Receiver Name</ion-label>
				<ion-input placeholder="Receiver Name"></ion-input>
			</ion-item>
			<ion-item class="main-input">
				<ion-label position="stacked" class="show">Contact No.</ion-label>
				<ion-input placeholder="Contact No."></ion-input>
			</ion-item>
			<ion-item class="main-input">
				<ion-label position="stacked" class="show">Delivery Address</ion-label>
				<ion-input placeholder="Delivery Address"></ion-input>
			</ion-item>
			<ion-item class="main-input half">
				<ion-label position="stacked">Postcode</ion-label>
				<ion-input placeholder="Postcode"></ion-input>
			</ion-item>
			<ion-item class="main-input">
				<ion-label position="stacked">Country</ion-label>
				<ion-select placeholder="Select Country">
					<ion-select-option value="1">Malaysia</ion-select-option>
					<ion-select-option value="2">Singapore</ion-select-option>
				</ion-select>
			</ion-item>
			<ion-item class="main-input">
				<ion-label position="stacked">State</ion-label>
				<ion-select placeholder="Select State">
					<ion-select-option value="1">W.P. Kuala Lumpur</ion-select-option>
					<ion-select-option value="2">Selangor</ion-select-option>
					<ion-select-option value="3">Johor</ion-select-option>
				</ion-select>
			</ion-item>
			<ion-item class="make-default" lines="none">
				<ion-checkbox></ion-checkbox>
				<ion-label>Make as default delivery address</ion-label>
			</ion-item>
			<ion-button expand="block" color="primary" disabled>SAVE</ion-button>
		</div>
	</div>
</ion-content>
