<ion-header>
	<ion-toolbar color="primary">
		<ion-buttons slot="start">
			<ion-back-button defaultHref="checkout-shipping-delivery"></ion-back-button>
		</ion-buttons>
		<ion-title>Payment</ion-title>
	</ion-toolbar>
</ion-header>

<ion-content class="payment">
	<div class="ion-padding">
		<div class="d-flex">
			<span>Order No.</span>
			<b>SH2017050358492</b>
		</div>
		<div class="d-flex">
			<span>Total Amount (Before Deduction)</span>
			<b>RM 13,977.00</b>
		</div>
		<div class="d-flex">
			<span>Total Amount Deducted Using Pts</span>
			<b>RM 13,977.00</b>
		</div>
		<div class="d-flex">
			<a href="#" style="margin-left: auto;" routerLink="/checkout-payment">CHANGE</a>
		</div>
	</div>
	<div class="ion-padding">
		<div class="d-flex">
			<span>Total Amount (After Deduction)</span>
			<b>RM 0.00</b>
		</div>
		<ion-button expand="block" class="ion-margin-top">PLACE ORDER</ion-button>
	</div>
</ion-content>
