<ion-content>
	<div class="ion-text-center ion-padding set-language">
		<h1>Welcome to SophiaSwiss</h1>
		<p>What language do you prefer?</p>

		<ion-button expand="block" routerLink="/cust-help-tips">ENGLISH</ion-button>
		<ion-button expand="block" routerLink="/cust-help-tips">BAHASA MALAYSIA</ion-button>
		<ion-button expand="block" routerLink="/cust-help-tips">中文</ion-button>
	</div>
</ion-content>
