ion-button {
	position: relative;

	ion-badge {
		position: absolute;
		top: 0;
		right: 2px;
		width: 16px;
		height: 16px;
		line-height: 16px;
		font-size: 10px;
		border-radius: 100%;
		background-color: rgba(255,125,0,1);
		color: #fff;
		padding: 0;
		text-align: center;
	}
}