<!-- class `show` to display popup -->
<ion-content class="popup show">
	<ion-card class="shop popup-box">
		<ion-card-content class="shop-card">
			<div class="shop-content">
				<ion-icon name="close" class="shop-close" routerLink="/cust-new-appt-details"></ion-icon>
				<div class="shop-rating d-flex">
					<img src="../assets/images/shop-1a.png" alt="">
					<div class="shop-rating__info">
						<b>Juniper Beauty</b>
						<div class="product-rating">
							<ion-icon name="star"></ion-icon>
							<ion-icon name="star"></ion-icon>
							<ion-icon name="star"></ion-icon>
							<ion-icon name="star"></ion-icon>
							<ion-icon name="star-outline"></ion-icon>
							<span>(4)</span>
						</div>
					</div>
				</div>
				<div class="shop-desc">
					Juniper Beauty is your trusted skin care solution provider since its establishment in 2015.
				</div>
				<div class="shop-info">
					<div class="d-flex">
						<ion-icon name="call"></ion-icon>
						<span>+60340324849</span>
					</div>
					<div class="d-flex">
						<ion-icon name="pin"></ion-icon>
						<span>Lot 1, Berjaya Park, Jalan 67/32, 43892 Selangor Darul Ehsan</span>
					</div>
					<div class="d-flex">
						<ion-icon name="alarm"></ion-icon>
						<span>10 AM - 10 PM</span>
					</div>
					<div class="d-flex">
						<ion-icon name="mail"></ion-icon>
						<a>juniperbeauty@sophiaswiss.com</a>
					</div>
				</div>
			</div>
		</ion-card-content>
		<div class="card-footer--icon ion-text-center">
			<ion-icon name="call"></ion-icon>
			<ion-icon name="pin"></ion-icon>
		</div>
	</ion-card>
</ion-content>