<ion-header>
	<ion-toolbar color="primary">
		<ion-buttons slot="start">
			<ion-button routerLink="/cust-home-more-actions"><ion-icon name="arrow-back"></ion-icon></ion-button>
		</ion-buttons>
		<ion-title>Join Us</ion-title>
		<ion-buttons slot="end">
			<ion-button routerLink="/cust-scan-qr"><ion-icon name="qr-scanner"></ion-icon></ion-button>
			<ion-button><ion-icon name="share"></ion-icon></ion-button>
			<ion-button><ion-icon name="cart"></ion-icon></ion-button>
		</ion-buttons>
	</ion-toolbar>
</ion-header>


<ion-content>
	<div class="ion-padding">
		<h1>Join Us As A Business Partner</h1>
		<p>Fill in your details below and we will get back to you very soon!</p>
		<div class="main-form">
			<ion-item class="main-input">
				<ion-label position="stacked" class="show">Full Name*</ion-label>
				<ion-input value="Sarah Lim Swee Lin"></ion-input>
			</ion-item>
			<ion-item class="main-input">
				<ion-label position="stacked" class="show">Contact No.*</ion-label>
				<ion-input value="+60186635032"></ion-input>
			</ion-item>
			<ion-item class="main-input">
				<ion-label position="stacked" class="show">Email*</ion-label>
				<ion-input value="sarah92@gmail.com"></ion-input>
			</ion-item>
			<i>* required fields</i>
		</div>
	</div>
</ion-content>

<ion-footer>
	<ion-toolbar>
		<div class="ion-padding"><ion-button expand="block" routerLink="/cust-join-us-sent">SUBMIT</ion-button></div>
	</ion-toolbar>
</ion-footer>
