<ion-header>
	<ion-toolbar color="primary">
		<ion-buttons slot="start">
			<ion-button routerLink="/cust-cash-vouchers-products"><ion-icon name="arrow-back"></ion-icon></ion-button>
		</ion-buttons>
		<ion-title>Cash Voucher Details</ion-title>
	</ion-toolbar>
</ion-header>

<ion-content>
	<ion-item class="package-shop" lines="none">
		<img src="assets/images/shop-1a.png" alt="">
		<b>Juniper Beauty</b>
		<ion-icon name="information-circle-outline"></ion-icon>
	</ion-item>

	<ion-card class="voucher-card d-flex">
		<div class="voucher-card__info">
			<b>10% OFF!</b>
			<div>Get 10% off for every RM 50.00 spent!</div>
		</div>
		<div class="voucher-card__points ion-text-center">
			<b>100</b>
			Points
		</div>
	</ion-card>

	<div class="package-details ion-padding">
		<b>Terms & Conditions</b>
		<p>
			- Redeem only at Juniper Beauty.<br>
			- Expiry date: 31 July, 2019
		</p>
	</div>
</ion-content>

<ion-footer>
	<ion-button class="shop-appt" routerLink="" disabled>NOT ENOUGH POINTS</ion-button>
</ion-footer>

<!-- popup class `show` to display popup -->
<div class="popup">
	<ion-card class="shop popup-box">
		<ion-card-content class="shop-card">
			<div class="shop-content">
				<ion-icon name="close" class="shop-close"></ion-icon>
				<div class="shop-rating d-flex">
					<img src="../assets/images/shop-1a.png" alt="">
					<div class="shop-rating__info">
						<b>Juniper Beauty</b>
						<div class="product-rating">
							<ion-icon name="star"></ion-icon>
							<ion-icon name="star"></ion-icon>
							<ion-icon name="star"></ion-icon>
							<ion-icon name="star"></ion-icon>
							<ion-icon name="star-outline"></ion-icon>
							<span>(4)</span>
						</div>
					</div>
				</div>
				<div class="shop-desc">
					Juniper Beauty is your trusted skin care solution provider since its establishment in 2015.
				</div>
				<div class="shop-info">
					<div class="d-flex">
						<ion-icon name="call"></ion-icon>
						<span>+60340324849</span>
					</div>
					<div class="d-flex">
						<ion-icon name="pin"></ion-icon>
						<span>Lot 1, Berjaya Park, Jalan 67/32, 43892 Selangor Darul Ehsan</span>
					</div>
					<div class="d-flex">
						<ion-icon name="alarm"></ion-icon>
						<span>10 AM - 10 PM</span>
					</div>
					<div class="d-flex">
						<ion-icon name="mail"></ion-icon>
						<a>juniperbeauty@sophiaswiss.com</a>
					</div>
				</div>
			</div>
		</ion-card-content>
		<div class="card-footer--icon ion-text-center">
			<ion-icon name="call"></ion-icon>
			<ion-icon name="pin"></ion-icon>
		</div>
	</ion-card>
</div>