<ion-header>
	<ion-toolbar color="primary">
		<ion-buttons slot="start">
			<ion-button routerLink="/cust-home"><ion-icon name="arrow-back"></ion-icon></ion-button>
		</ion-buttons>
		<ion-title>Beauty Solutions</ion-title>
		<ion-buttons slot="end">
			<ion-button routerLink="/cust-beauty-solutions-newskinrecord"><ion-icon name="add"></ion-icon></ion-button>
		</ion-buttons>
	</ion-toolbar>
</ion-header>

<ion-content class="bg-gray">
	<div class="beauty-date ion-text-center ion-padding">
		Record made on
		<h1>3 April, 2017</h1>
	</div>
	<div class="beauty-data ion-padding-horizontal">
		<span>Skin Type</span>
		<b>Mix combination skin</b>
	</div>
	<div class="beauty-data ion-padding-horizontal">
		<span>Pores</span>
		<b>Nose & cheek</b>
	</div>
	<div class="beauty-data ion-padding-horizontal">
		<span>Sensitivity</span>
		<b>Once or twice a year</b>
	</div>
	<div class="beauty-img">
		<img src="../assets/images/beauty-solutions-1.png" alt="">
		<img src="../assets/images/beauty-solutions-2.png" alt="">
	</div>
	<ion-list class="list-wimg">
		<ion-item lines="none">
			<ion-icon name="rose" style="color: #A5E6C8;"></ion-icon>
			<span>Recommendations</span>
		</ion-item>
		<ion-item lines="none">
			<ion-icon name="alarm" style="color: #8DBDEB;"></ion-icon>
			<span>Past Records</span>
		</ion-item>
		<ion-item lines="none">
			<ion-icon name="photos" style="color: #FFC35F;"></ion-icon>
			<span>Before & After</span>
		</ion-item>
    </ion-list>
</ion-content>

<ion-tab-bar slot="bottom" color="primary">
	<ion-tab-button tab="home" routerLink="/cust-home">
		<ion-icon name="md-home"></ion-icon>
		<ion-label>Home</ion-label>
	</ion-tab-button>

	<ion-tab-button tab="product">
		<ion-icon name="ios-gift"></ion-icon>
		<ion-label>Product</ion-label>
	</ion-tab-button>

	<ion-tab-button tab="account">
		<ion-icon name="md-person"></ion-icon>
		<ion-label>Account</ion-label>
	</ion-tab-button>

	<ion-tab-button tab="more" routerLink="/cust-home-more-actions">
		<ion-icon name="md-more"></ion-icon>
		<ion-label>More</ion-label>
	</ion-tab-button>
</ion-tab-bar>