.beauty {
	&-date {
		background-color: rgba(141,189,235,0.5);
		box-shadow: 0 2px 4px rgba(0,0,0,0.12);
		margin-bottom: 16px;

		h1 {margin: 0;}
	}

	&-data {
		margin-bottom: 8px;

		span {
			display: inline-block;
			width: 80px;
			margin-right: 16px;
		}

		b {color: rgba(0,0,0,0.87);}
	}

	&-img {
		border-bottom: 1px solid rgba(0,0,0,0.12);
		padding: 0 4px 8px;
		margin-bottom: 14px;

		img {
			width: 110px;
			height: 110px;
			object-fit: cover;
			margin: 8px 4px;
		}
	}
}

.list-wimg {
	background: transparent;

	ion-item {
		--background: transparent;
	}
}