<ion-header>
	<ion-toolbar color="primary">
		<ion-buttons slot="start">
			<ion-button routerLink="/cust-shop"><ion-icon name="arrow-back"></ion-icon></ion-button>
		</ion-buttons>
		<ion-title>Cash Vouchers</ion-title>
		<ion-buttons slot="end">
			<ion-button routerLink=""><ion-icon name="cart"></ion-icon></ion-button>
		</ion-buttons>
	</ion-toolbar>
	<ion-toolbar color="primary" class="tabs">
		<div class="tabs-row d-flex">
			<div class="tabs-col ion-text-center active" routerLink="/cust-cash-vouchers-products">PRODUCTS</div>
			<div class="tabs-col ion-text-center" routerLink="/cust-cash-vouchers-services">SERVICES</div>
		</div>
	</ion-toolbar>
</ion-header>

<ion-content>
	<div class="voucher-list ion-margin-vertical">
		<div class="voucher-item d-flex" routerLink="/cust-cash-voucher-details">
			<ion-icon name="card" style="color: rgba(250,165,163,1);"></ion-icon>
			<div class="voucher-info">
				<div class="voucher-title">10% OFF!</div>
				<div class="voucher-desc">Get 10% off for every RM 50.00 spent!</div>
				<div class="orange"><b>100 Points</b></div>
			</div>
		</div>
		<div class="voucher-item d-flex" routerLink="/cust-cash-voucher-details">
			<ion-icon name="card" style="color: rgba(250,165,163,1);"></ion-icon>
			<div class="voucher-info">
				<div class="voucher-title">20% OFF!</div>
				<div class="voucher-desc">Get 20% off for every RM 100.00 spent!</div>
				<div class="orange"><b>200 Points</b></div>
			</div>
		</div>
		<div class="voucher-item d-flex" routerLink="/cust-cash-voucher-details">
			<ion-icon name="card" style="color: rgba(250,165,163,1);"></ion-icon>
			<div class="voucher-info">
				<div class="voucher-title">FREE SHIPPING</div>
				<div class="voucher-desc">Get free shipping for every RM 75.00 spent!</div>
				<div class="orange"><b>150 Points</b></div>
			</div>
		</div>
	</div>
</ion-content>
