<ion-header>
	<ion-toolbar color="primary">
		<ion-buttons slot="start">
			<ion-back-button defaultHref="checkout-shipping-delivery"></ion-back-button>
		</ion-buttons>
		<ion-title>Payment</ion-title>
	</ion-toolbar>
</ion-header>

<ion-content class="payment">
	<div class="ion-padding">
		<div class="d-flex">
			<span>Order No.</span>
			<b>SH2017050358492</b>
		</div>
		<div class="d-flex">
			<span>Total Amount</span>
			<b>RM 13,977.00</b>
		</div>
		<div class="d-flex">
			<span>Total Points To Be Earned</span>
			<b>139 Points</b>
		</div>
	</div>
	<div class="ion-padding">
		<div class="d-flex">
			<span>Total Points In Wallet</span>
			<b>200 Points</b>
		</div>
		<div class="d-flex point-row">
			<span>Use points to pay?</span>
			<div class="d-flex point">
				<div class="point-box">
					<div class="d-flex point-input">
						<ion-input placeholder="Amount"></ion-input>
						<span>Pts</span>
					</div>
					<div class="poin-info">1 Point = RM 1.00</div>
				</div>
				<a class="point-apply" routerLink="/checkout-payment-use-points">APPLY</a>
			</div>
		</div>
	</div>
	<div class="ion-padding payment-options">
		<div class="ion-margin-bottom">Payment Options</div>
		<div class="ion-text-center">
			<ion-button expand="block" class="ion-margin-bottom" routerLink="/payment-credit-debit-card">CREDIT/DEBIT CARD</ion-button>
			<ion-button expand="block" class="ion-margin-bottom">ONLINE BANKING</ion-button>
			<ion-button expand="block" class="ion-margin-bottom">CASH</ion-button>
			<ion-button expand="block" class="ion-margin-bottom">WALLET (RM 200.00)</ion-button>
			<a href="#">TOP UP WALLET</a>
		</div>
	</div>
</ion-content>
