.home-menu {
	padding: 24px 20px 16px;
	box-shadow: 0 2px 4px rgba(0,0,0,0.12);
	justify-content: center;

	h5 {
		font-size: 14px;
		line-height: 16px;
		margin: 8px auto 0px;
	}

	.menu {
		&-item {
			min-width: 82px;
		}
	}
}

.bestseller {
	&-head {
		align-items: center;

		h4 {margin: 0;}
		a {margin-left: auto;}
	}

	.product-grid {
		padding: 0 4px 4px;

		.product {
			width: calc(33.3333% - 8px);

			img {
				height: 110px;
			}

			&-name {
				line-height: 16px;
    			margin-bottom: 4px;
			}

			&-detail {
				min-height: 72px;
			}
		}
	}
}