.summary {
	padding: 8px 16px 0;
	color: rgba(0,0,0,0.87);
}

p {
	position: relative;
	padding-left: 24px;
	margin: 8px 0;

	&:after {
		content: '';
		display: table;
		clear: both;
	}

	.numb {
		position: absolute;
		top: 0;
		left: 0;
	}

	.answer {
		float: right;
		color: rgba(55,101,161,1);
		text-align: right;

		&.warning {
			color: rgba(255,125,0,1);
			font-weight: 500;
		}
	}
}