<ion-header>
	<ion-toolbar color="primary">
		<ion-buttons slot="start">
			<ion-back-button defaultHref="summary"></ion-back-button>
		</ion-buttons>
		<ion-title>Health Condition</ion-title>
		<ion-buttons slot="end">
			<ion-button><ion-icon name="create"></ion-icon></ion-button>
		</ion-buttons>
	</ion-toolbar>
</ion-header>

<ion-content>
	<div class="summary">
		<p><span class="numb">1.</span>Sleep: <span class="answer">Well</span></p>
		<p><span class="numb">2.</span>Work: <span class="answer">Office Hours</span></p>
		<p><span class="numb">3.</span>Smoke: <span class="answer">No</span></p>
		<p><span class="numb">4.</span>Drink Alcohol: <span class="answer">No</span></p>
		<p><span class="numb">5.</span>High/Low blood pressure: <span class="answer warning">Yes</span></p>
		<p><span class="numb">6.</span>Diabetes: <span class="answer">No</span></p>
		<p><span class="numb">7.</span>Heart condition: <span class="answer">No</span></p>
		<p><span class="numb">8.</span>Medications or Vitamins: <span class="answer">Omega 3</span></p>
		<p><span class="numb">9.</span>a. Laser/IPL/E-Light: <span class="answer">No</span></p>
		<p>b. Microdermabrasion: <span class="answer">Yes</span></p>
		<p><span class="numb">10.</span>Recent surgery: <span class="answer">No</span></p>
		<p><span class="numb">11.</span>Pregnant: <span class="answer">No</span></p>
		<p><span class="numb">12.</span>Sun Blok: <span class="answer">Yes</span></p>
		<p><span class="numb">13.</span>Specific skin improvement: <span class="answer warning">Dehydrating,<br>Firming, Pores</span></p>
		<p><span class="numb">14.</span>Elasticity: <span class="answer">Average</span></p>
		<p><span class="numb">15.</span>Skin Pure: <span class="answer warning">Open Pores</span></p>
		<p><span class="numb">16.</span>Blackheads/Whiteheads: <span class="answer warning">Ineffective Cleansing</span></p>
		<p><span class="numb">17.</span>Papules: <span class="answer warning">Hormone Imbalance</span></p>
		<p><span class="numb">18.</span>Wrinkles/Fine Lines: <span class="answer warning">Expression Lines</span></p>
		<p><span class="numb">19.</span>Pigmentation: <span class="answer warning">Sunburn</span></p>
		<p><span class="numb">20.</span>Sensitivity caused by: <span class="answer warning">Weather</span></p>
	</div>
</ion-content>
