<ion-header>
	<ion-toolbar color="primary">
		<ion-buttons slot="start">
			<ion-button routerLink="/register-type"><ion-icon name="close"></ion-icon></ion-button>
		</ion-buttons>
		<ion-title>New Customer</ion-title>
	</ion-toolbar>
</ion-header>

<ion-content class="bg-gray">
	<div class="register-progress">
		<a class="hidden">BACK</a>
		<div class="step-bar">
			<div class="step-dot step-ongoing"><span></span></div>
			<div class="step-dot"></div>
			<div class="step-dot"></div>
			<div class="step-dot"></div>
		</div>
		<!-- add class `disabled` to make disabled button -->
		<a class="" routerLink="/register-two-five">NEXT</a>
	</div>

	<div class="ion-padding">
		<div class="main-form">
			<ion-item class="main-input">
				<ion-label position="stacked">Name</ion-label>
				<ion-input placeholder="Name"></ion-input>
			</ion-item>
			<ion-item class="main-input">
				<ion-label position="stacked" class="show">IC No.</ion-label>
				<ion-input placeholder="e.g. 880101-88-8888"></ion-input>
			</ion-item>
			<ion-item class="main-input">
				<ion-label position="stacked" class="show">D.O.B.</ion-label>
				<ion-input placeholder="DD/MM/YYYY"></ion-input>
			</ion-item>
			<ion-item class="main-input half">
				<ion-label position="stacked">Age</ion-label>
				<ion-input placeholder="Age"></ion-input>
			</ion-item>
		</div>
	</div>
</ion-content>
