.review {
	.appt-card {
		padding: 8px 16px;

		ion-avatar {
			width: 48px;
			height: 48px;
		}

		span {font-size: 14px;}
	}

	.rating {
		border-top: 1px solid rgba(0,0,0,0.12);
		padding: 10px 16px 30px;

		.no-radius {
			--border-radius: 0;
		}

		ion-avatar {margin-left: 8px;}

		p {
			margin: 10px 0 16px;
		    color: rgba(0,0,0,0.87);
		    font-size: 16px;
		}

		&-input {
			padding: 16px 0 32px;
			font-size: 32px;
			color: #9E9E9E;

			.active {
				background-image: url(../../assets/images/star-yes.png);
				background-size: 25px;
			    background-repeat: no-repeat;
			    background-position: center;
			    color: transparent;
			}
		}
	}

	.main-input {
		margin-bottom: 0;

		ion-label {
			font-size: 16px;
		    color: rgba(0,0,0,0.87);
		    margin-bottom: 20px
		}
	}
}