<ion-header>
	<ion-toolbar color="primary">
		<ion-buttons slot="start">
			<ion-button routerLink="/cust-appt-history-details-redeemed"><ion-icon name="arrow-back"></ion-icon></ion-button>
		</ion-buttons>
		<ion-title>Rate & Review</ion-title>
	</ion-toolbar>
</ion-header>

<ion-content class="review">
	<div class="appt-card">
		<ion-item lines="none">
			<ion-avatar slot="start" class="no-radius">
				<img src="../assets/images/session-1.png">
			</ion-avatar>
			<ion-label>
				<h5 class="appt-name">Sophia Cell Reversion</h5>
				<small>1 hour - RM 100.00</small>
			</ion-label>
			<span>RM 100.00</span>
		</ion-item>
	</div>

	<div class="rating">
		<ion-item lines="none">
			<ion-avatar slot="start" class="no-radius">
				<img src="../assets/images/shop-1.png">
			</ion-avatar>
			<ion-label>
				<h5 class="appt-name"><b>Juniper Beauty</b></h5>
			</ion-label>
		</ion-item>
		<p>How would you rate the shop?</p>
		<div class="ion-text-center rating-input">
			<ion-icon name="star-outline"></ion-icon>
			<ion-icon name="star-outline"></ion-icon>
			<ion-icon name="star-outline"></ion-icon>
			<ion-icon name="star-outline"></ion-icon>
			<ion-icon name="star-outline"></ion-icon>
		</div>
		<div class="main-form">
			<ion-item class="main-input">
				<ion-label position="stacked" class="show">Write a review:</ion-label>
				<ion-input placeholder="e.g. I love it!"></ion-input>
			</ion-item>
		</div>
	</div>
	<div class="rating">
		<ion-item lines="none">
			<ion-avatar slot="start">
				<img src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y">
			</ion-avatar>
			<ion-label>
				<h5 class="appt-name"><b>Amy Chan</b></h5>
			</ion-label>
		</ion-item>
		<p>How would you rate the beautician?</p>
		<div class="ion-text-center rating-input">
			<ion-icon name="star-outline" class="active"></ion-icon>
			<ion-icon name="star-outline" class="active"></ion-icon>
			<ion-icon name="star-outline" class="active"></ion-icon>
			<ion-icon name="star-outline" class="active"></ion-icon>
			<ion-icon name="star-outline"></ion-icon>
		</div>
		<ion-button color="primary" expand="block" routerLink="/cust-appt-reviewed">SUBMIT</ion-button>
	</div>
</ion-content>
