<ion-header>
	<ion-toolbar color="primary">
		<ion-buttons slot="start">
			<ion-button routerLink="/register-type"><ion-icon name="close"></ion-icon></ion-button>
		</ion-buttons>
		<ion-title>New Customer</ion-title>
	</ion-toolbar>
</ion-header>

<ion-content>
	<div class="register-progress">
		<a class="" routerLink="/q9-q12">BACK</a>
		<div class="step-bar">
			<div class="step-dot"></div>
			<div class="step-dot"></div>
			<div class="step-dot step-ongoing"><span></span></div>
			<div class="step-dot"></div>
		</div>
		<a class="" routerLink="/q14-q17">NEXT</a>
	</div>

	<div class="ion-padding">
		<div class="main-form">
			<ion-label>13. Any specific skin improvement?</ion-label>
			<ion-item class="main-input main-input--checkbox" lines="none">
				<div class="choose">
					<ion-item lines="none">
						<ion-label>Oilyness Problem</ion-label>
						<ion-checkbox></ion-checkbox>	
					</ion-item>
					<ion-item lines="none">
						<ion-label>Dehydrating</ion-label>
						<ion-checkbox></ion-checkbox>	
					</ion-item>
					<ion-item lines="none">
						<ion-label>Pigmentation</ion-label>
						<ion-checkbox></ion-checkbox>	
					</ion-item>
					<ion-item lines="none">
						<ion-label>Acne Problem</ion-label>
						<ion-checkbox></ion-checkbox>	
					</ion-item>
					<ion-item lines="none">
						<ion-label>Firming</ion-label>
						<ion-checkbox></ion-checkbox>	
					</ion-item>
					<ion-item lines="none">
						<ion-label>Fine lines/Wrinkles problem</ion-label>
						<ion-checkbox></ion-checkbox>	
					</ion-item>
					<ion-item lines="none">
						<ion-label>Others</ion-label>
						<ion-checkbox></ion-checkbox>	
					</ion-item>
				</div>
			</ion-item>

			<ion-item class="main-input">
				<ion-label position="stacked" class="show">Please specify</ion-label>
				<ion-input placeholder="Please specify"></ion-input>
			</ion-item>
		</div>
	</div>
</ion-content>
