<ion-header>
	<ion-toolbar color="primary">
		<ion-buttons slot="start">
			<ion-menu-button autoHide="false"><ion-icon name="menu"></ion-icon></ion-menu-button>
		</ion-buttons>
		<ion-title>Product Catalogue</ion-title>
		<ion-buttons slot="end">
			<ion-button><ion-icon name="cart"></ion-icon></ion-button>
		</ion-buttons>
	</ion-toolbar>
</ion-header>

<ion-content>
	<ion-list class="ion-padding">
		<ion-item lines="none" routerLink="/my-stock">
			<ion-icon name="basket" style="color: rgba(255,195,95,1);"></ion-icon>
			<span>My Stock</span>
		</ion-item>
		<ion-item lines="none">
			<ion-icon name="cart" style="color: rgba(154,143,200,1);"></ion-icon>
			<span>Order Form</span>
		</ion-item>
		<ion-item lines="none">
			<ion-icon name="rose" style="color: rgba(250,165,163,1);"></ion-icon>
			<span>All Products</span>
		</ion-item>
    </ion-list>
</ion-content>
