<ion-header>
	<ion-toolbar color="primary">
		<ion-buttons slot="start">
			<ion-back-button defaultHref="cust-about-us"></ion-back-button>
		</ion-buttons>
		<ion-title>Gallery</ion-title>
	</ion-toolbar>
</ion-header>

<ion-content>
	<div class="stock-item__wrap news">
		<div class="stock-item news-item" routerLink="/cust-album">
			<img src="../../assets/images/news-1.png" alt="">
			<div class="news-info">
				<div class="news-title">Grand Opening</div>
				<div class="news-date">10 Aug 2019</div>
			</div>
		</div>
		<div class="stock-item news-item" routerLink="/cust-album">
			<img src="../../assets/images/news-2.png" alt="">
			<div class="news-info">
				<div class="news-title">New Product Launch</div>
				<div class="news-date">30 Jul 2019</div>
			</div>
		</div>
		<div class="stock-item news-item" routerLink="/cust-album">
			<img src="../../assets/images/news-3.png" alt="">
			<div class="news-info">
				<div class="news-title">Sunway GEO Avenue</div>
				<div class="news-date">27 Jul 2019</div>
			</div>
		</div>
	</div>
</ion-content>
