<ion-header>
	<ion-toolbar color="primary">
		<ion-buttons slot="start">
			<ion-back-button defaultHref="purchase"></ion-back-button>
		</ion-buttons>
		<ion-title>Order Details</ion-title>
		<ion-buttons slot="end" routerLink="/order-details-self-collect-pass">
			<ion-button><ion-icon name="barcode"></ion-icon></ion-button>
		</ion-buttons>
	</ion-toolbar>
</ion-header>

<ion-content>
	<div class="details-customer">
		<div class="details-customer__head">
			<ion-item lines="none" class="customer-id">
				<ion-label>
					<h2>P.O. No: SH2017050358491</h2>
					<h3>Placed on 30 May 2019</h3>
				</ion-label>
				<ion-label class="orange ion-text-right">Processing</ion-label>
			</ion-item>
			<p>
				<span class="question">Delivery Option</span>
				<span class="answer">Self Collect</span>
			</p>
			<p>
				<span class="question">Amount</span>
				<span class="answer">RM 11,580.00 + 1000 Points</span>
			</p>
			<p>
				<span class="question">Username</span>
				<span class="answer">Juniper Beauty</span>
				<span class="question">User ID</span>
				<span class="answer">13550</span>
			</p>
			<p>
				<span class="question">Email</span>
				<span class="answer">juniperbeauty@email.com</span>
			</p>
		</div>
		<div class="details-customer__link ion-text-center">
			<a>CANCEL PURCHASE</a>
			<a>ADD ALL ITEMS TO CART</a>
		</div>
	</div>

	<div class="details-product">
		<div class="product-title">
			<ion-icon name="rose" style="color: rgba(255,195,95,1);"></ion-icon><span>Sophia Swiss HQ</span>
		</div>
		<ion-list class="ion-no-padding">
			<div class="product-item">
				<ion-item>
					<ion-avatar slot="start">
						<img src="../../assets/images/product-1.png">
					</ion-avatar>
					<ion-label>
						<div>Active Tonic</div>
						<p>500 ml</p>
					</ion-label>
					<ion-label class="price">RM 299.00</ion-label>
				</ion-item>
				<div class="product-total">
					<p>
						<span>Item(s):</span>
						<span>20</span>
					</p>
					<p>
						<span>Subtotal:</span>
						<span>RM 5980.00</span>
					</p>
				</div>
			</div>
			<div class="product-item">
				<ion-item>
					<ion-avatar slot="start">
						<img src="../../assets/images/product-1.png">
					</ion-avatar>
					<ion-label>
						<div>C+1 & C+2</div>
						<p>200 ml</p>
					</ion-label>
					<ion-label class="price">RM 799.00</ion-label>
				</ion-item>
				<div class="product-total">
					<p>
						<span>Item(s):</span>
						<span>10</span>
					</p>
					<p>
						<span>Subtotal:</span>
						<span>RM 7990.00</span>
					</p>
				</div>
			</div>
		</ion-list>
		<div class="detail">
			<span>Detail</span>
			<ion-icon name="arrow-down" mode="ios"></ion-icon>
		</div>
	</div>

	<div class="details-progress">
		<div class="step done">
			<div class="step-circle"></div>
			<div class="step-name">Packing</div>
		</div>
		<div class="step ongoing">
			<div class="step-circle"></div>
			<div class="step-name">Delivery</div>
		</div>
		<div class="step">
			<div class="step-circle"></div>
			<div class="step-name">Received</div>
		</div>
	</div>
</ion-content>
