<ion-header>
	<ion-toolbar color="primary">
		<ion-buttons slot="start">
			<ion-back-button defaultHref="checkout-shipping-delivery"></ion-back-button>
		</ion-buttons>
		<ion-title>Payment</ion-title>
	</ion-toolbar>
</ion-header>

<ion-content class="payment">
	<div class="ion-padding">
		<div class="d-flex">
			<span>Order No.</span>
			<b>SH2017050358492</b>
		</div>
		<div class="d-flex">
			<span>Total Amount (Before Deduction)</span>
			<b>RM 13,977.00</b>
		</div>
		<div class="d-flex">
			<span>Total Amount Deducted Using Pts</span>
			<b>RM 100.00</b>
		</div>
		<div class="d-flex">
			<a href="#" style="margin-left: auto;" routerLink="/checkout-payment">CHANGE</a>
		</div>
	</div>
	<div class="ion-padding">
		<div class="d-flex">
			<span>Total Amount (After Deduction)</span>
			<b>RM 13,877.00</b>
		</div>
		<div class="d-flex">
			<span>Total Point To Be Earned</span>
			<b>138 Points</b>
		</div>
	</div>
	<div class="ion-padding payment-options">
		<div class="ion-margin-bottom">Payment Options</div>
		<div class="ion-text-center">
			<ion-button expand="block" class="ion-margin-bottom" routerLink="/payment-credit-debit-card">CREDIT/DEBIT CARD</ion-button>
			<ion-button expand="block" class="ion-margin-bottom">ONLINE BANKING</ion-button>
			<ion-button expand="block" class="ion-margin-bottom">CASH</ion-button>
			<ion-button expand="block" class="ion-margin-bottom">WALLET (RM 200.00)</ion-button>
			<a href="#">TOP UP WALLET</a>
		</div>
	</div>
</ion-content>
