<ion-header>
	<ion-toolbar color="primary">
		<ion-buttons slot="start">
			<ion-button routerLink="/register-type"><ion-icon name="close"></ion-icon></ion-button>
		</ion-buttons>
		<ion-title>New Customer</ion-title>
	</ion-toolbar>
</ion-header>

<ion-content class="bg-gray">
	<div class="register-progress">
		<a class="" routerLink="/register-three-five">BACK</a>
		<div class="step-bar">
			<div class="step-dot step-ongoing"><span></span></div>
			<div class="step-dot"></div>
			<div class="step-dot"></div>
			<div class="step-dot"></div>
		</div>
		<a class="" routerLink="/register-five-five">NEXT</a>
	</div>

	<div class="ion-padding">
		<div class="main-form">
			<ion-item class="main-input">
				<ion-label position="stacked">Occupation</ion-label>
				<ion-input placeholder="Occupation"></ion-input>
			</ion-item>
			<ion-item class="main-input main-input--radio" lines="none">
				<ion-label position="stacked" class="show">Marital Status</ion-label>
				<div class="choose ion-margin-bottom">
					<ion-radio-group name="view_by_periode">
						<ion-item lines="none">
							<ion-label>Single</ion-label>
							<ion-radio name="marital" mode="md" value="Single"></ion-radio>
						</ion-item>
						<ion-item lines="none">
							<ion-label>Married</ion-label>
							<ion-radio name="marital" mode="md" value="Married"></ion-radio>
						</ion-item>
					</ion-radio-group>
				</div>
			</ion-item>
			<ion-item class="main-input main-input--radio" lines="none">
				<ion-label position="stacked" class="show">Gender</ion-label>
				<div class="choose ion-margin-bottom">
					<ion-radio-group name="view_by_periode">
						<ion-item lines="none">
							<ion-label>Female</ion-label>
							<ion-radio name="gender" mode="md" value="Female"></ion-radio>
						</ion-item>
						<ion-item lines="none">
							<ion-label>Male</ion-label>
							<ion-radio name="gender" mode="md" value="Male"></ion-radio>
						</ion-item>
					</ion-radio-group>
				</div>
			</ion-item>
		</div>
	</div>
</ion-content>
