<ion-header>
	<ion-toolbar color="primary">
		<ion-buttons slot="start">
			<ion-back-button defaultHref="register-face"></ion-back-button>
		</ion-buttons>
		<ion-title>Skin Problems</ion-title>
	</ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
	<ion-button expand="block" class="ion-margin-bottom" routerLink="/register-face-filled"><span class="problem-name">OILY</span><span class="problem-code">X</span></ion-button>
	<ion-button expand="block" class="ion-margin-bottom" routerLink="/register-face-filled"><span class="problem-name">PAPULES</span><span class="problem-code">:</span></ion-button>
	<ion-button expand="block" class="ion-margin-bottom" routerLink="/register-face-filled"><span class="problem-name">ACNE/PIMPLES</span><span class="problem-code">0</span></ion-button>
	<ion-button expand="block" class="ion-margin-bottom" routerLink="/register-face-filled"><span class="problem-name">PUSTULE</span><span class="problem-code">+</span></ion-button>
	<ion-button expand="block" class="ion-margin-bottom" routerLink="/register-face-filled"><span class="problem-name">SCARS</span><span class="problem-code">Q</span></ion-button>
	<ion-button expand="block" class="ion-margin-bottom" routerLink="/register-face-filled"><span class="problem-name">FRECKLES/PIGMENTATION</span><span class="problem-code">#</span></ion-button>
	<ion-button expand="block" class="ion-margin-bottom" routerLink="/register-face-filled"><span class="problem-name">DEHYDRATED</span><span class="problem-code">~</span></ion-button>
	<ion-button expand="block" class="ion-margin-bottom" routerLink="/register-face-filled"><span class="problem-name">WRINKLES</span><span class="problem-code">*</span></ion-button>
	<ion-button expand="block" class="ion-margin-bottom" routerLink="/register-face-filled"><span class="problem-name">BROKEN CAPILLARIES</span><span class="problem-code">/</span></ion-button>
	<ion-button expand="block" class="ion-margin-bottom" routerLink="/register-face-filled"><span class="problem-name">DARK EYES CIRCLE</span><span class="problem-code">&</span></ion-button>
</ion-content>
