ion-content {
	ion-button {
		position: relative;
	}

	.problem-name {margin-right: 48px;}

	.problem-code {
		position: absolute;
		top: 0;
		right: 0;
		width: 48px;
		height: 100%;
		line-height: 36px;
		font-size: 20px;
		font-weight: 700;
		color: rgba(239,83,80,1);
		background-color: #fff;
		text-align: center;
	}
}