.product {
	&-img {
		width: 128px;
		height: 128px;
		object-fit: cover;
		position: absolute;
		top: 0;
		left: 0;
	}

	&-name {
		color: rgba(0,0,0,0.87);
		font-size: 20px;
		margin: 0 0 4px;
	}

	&-price {
		font-size: 16px;
		line-height: 26px;
	}

	&-stock {
		font-size: 16px;
		position: absolute;
		bottom: 0;
		left: 144px;
	}

	&-box {
		position: relative;
		padding-left: 144px;
		min-height: 128px;
		margin-bottom: 16px;
	}

	&-size ion-label {color: rgba(0,0,0,0.38);}
}

ion-footer {
	ion-toolbar {
		--min-height: 40px;
	}

	ion-button {
		margin: 0;
		--border-radius: 0;
		height: 40px;
		width: 100%;
		--box-shadow: none;
	}
}