<ion-header>
	<ion-toolbar color="primary">
		<ion-buttons slot="start">
			<ion-back-button defaultHref="product-details"></ion-back-button>
		</ion-buttons>
	</ion-toolbar>
</ion-header>

<ion-content>
	<div class="ion-padding">
		<div class="product-box">
			<img class="product-img" src="../../assets/images/product-1.png" alt="">
			<div class="product-name">
				Active Tonic
			</div>
			<div class="product-price">
				<span>RM 299.00</span>
				<del>RM 399.00</del>
			</div>
			<div class="product-rating">
				<ion-icon name="star"></ion-icon>
				<ion-icon name="star"></ion-icon>
				<ion-icon name="star"></ion-icon>
				<ion-icon name="star"></ion-icon>
				<ion-icon name="star-outline"></ion-icon>
			</div>
			<div class="product-stock">12 in stock</div>
		</div>
		<ion-item class="product-size">
			<ion-label position="stacked">Size</ion-label>
			<ion-select>
				<ion-select-option value="200ml" selected>200ml</ion-select-option>
				<ion-select-option value="500ml">500ml</ion-select-option>
			</ion-select>
		</ion-item>
		<div class="product-qty">
			<div class="product-qty__title">Quantity</div>
			<div class="product-qty__numb">
				<ion-icon name="arrow-back" mode="ios"></ion-icon>
				<div class="qty">1</div>
				<ion-icon name="arrow-forward" mode="ios"></ion-icon>
			</div>
		</div>
	</div>
</ion-content>

<ion-footer>
	<ion-toolbar>
		<div class="product-footer">
			<ion-button color="primary" routerLink="/product-added-to-cart">ADD TO CART</ion-button>
		</div>
	</ion-toolbar>
</ion-footer>