<ion-header>
	<ion-toolbar color="primary">
		<ion-buttons slot="start">
			<!-- <ion-button routerLink="/cust-shop"><ion-icon name="arrow-back"></ion-icon></ion-button> -->
			<ion-back-button defaultHref="cust-shop"></ion-back-button>
		</ion-buttons>
		<ion-title>Purchased Packages</ion-title>
	</ion-toolbar>
</ion-header>

<ion-content>
	<ion-item class="package-shop" lines="none">
		<img src="assets/images/shop-1a.png" alt="">
		<b>Juniper Beauty</b>
	</ion-item>
	<ion-card class="package-card blue-bg" routerLink="/cust-purchased-package-details">
		<ion-card-content>
			<h1>Diamond Package</h1>
			<div><b>12 sessions total</b></div>
			<div class="package-price d-flex">
				<ion-icon name="logo-usd"></ion-icon>
				<span>RM 1,000</span>
				<del>RM 1,600</del>
			</div>
			<div><b class="orange">15 sessions left</b></div>
		</ion-card-content>
	</ion-card>
	<ion-card class="package-card" routerLink="/cust-package-fully-redeemed">
		<ion-card-content>
			<h1>Gold Package</h1>
			<div><b>8 sessions total</b></div>
			<div class="package-price d-flex">
				<ion-icon name="logo-usd"></ion-icon>
				<span>RM 600</span>
				<del>RM 900</del>
			</div>
			<div><b class="gray">All sessions redeemed</b></div>
		</ion-card-content>
	</ion-card>
</ion-content>
