<ion-header>
	<ion-toolbar color="primary">
		<ion-buttons slot="start">
			<ion-button routerLink="/register-type"><ion-icon name="close"></ion-icon></ion-button>
		</ion-buttons>
		<ion-title>New Customer Summary</ion-title>
	</ion-toolbar>
</ion-header>

<ion-content>
	<div class="ion-padding">
		<ion-grid>
			<ion-row align-items-center class="detail-list__title">
				<ion-col><b>Customer Details</b></ion-col>
				<ion-col class="ion-text-end"><a routerLink="/register-five-five"><b>EDIT</b></a></ion-col>
			</ion-row>

			<div class="detail-list ion-margin-top">
				<ion-row align-items-center>
					<ion-col class="detail-list__name">Name</ion-col>
					<ion-col>Sarah Lim</ion-col>
				</ion-row>
				<ion-row align-items-center>
					<ion-col class="detail-list__name">IC No.</ion-col>
					<ion-col>920401-33-2842</ion-col>
					<ion-col class="detail-list__name age">Age</ion-col>
					<ion-col>27</ion-col>
				</ion-row>
				<ion-row align-items-center>
					<ion-col class="detail-list__name">D.O.B.</ion-col>
					<ion-col>01/04/1992</ion-col>
				</ion-row>
			</div>

			<div class="detail-list detail-list--2">
				<ion-row align-items-center>
					<ion-col class="detail-list__name">Address</ion-col>
					<ion-col>18, Jalan Permai, Taman Permai</ion-col>
				</ion-row>
				<ion-row align-items-center>
					<ion-col class="detail-list__name">Postcode</ion-col>
					<ion-col>50340</ion-col>
				</ion-row>
				<ion-row align-items-center>
					<ion-col class="detail-list__name">State</ion-col>
					<ion-col>W.P. Kuala Lumpur</ion-col>
				</ion-row>
				<ion-row align-items-center>
					<ion-col class="detail-list__name">Country</ion-col>
					<ion-col>Malaysia</ion-col>
				</ion-row>
			</div>

			<div class="detail-list detail-list--3">
				<ion-row align-items-center>
					<ion-col class="detail-list__name">HP No.</ion-col>
					<ion-col>+60186635032</ion-col>
				</ion-row>
				<ion-row align-items-center>
					<ion-col class="detail-list__name">Work Tel. No.</ion-col>
					<ion-col>+60342338769</ion-col>
				</ion-row>
				<ion-row align-items-center>
					<ion-col class="detail-list__name">Home Tel. No.</ion-col>
					<ion-col>+60342842039</ion-col>
				</ion-row>
				<ion-row align-items-center>
					<ion-col class="detail-list__name">Email Address</ion-col>
					<ion-col>sarah.lim92@gmail.com</ion-col>
				</ion-row>
			</div>

			<div class="detail-list detail-list--3">
				<ion-row align-items-center>
					<ion-col class="detail-list__name">Occupation</ion-col>
					<ion-col>Accountant</ion-col>
				</ion-row>
				<ion-row align-items-center>
					<ion-col class="detail-list__name">Marital Status</ion-col>
					<ion-col>Single</ion-col>
				</ion-row>
				<ion-row align-items-center>
					<ion-col class="detail-list__name">Gender</ion-col>
					<ion-col>Female</ion-col>
				</ion-row>
			</div>

			<div class="detail-list detail-list--full ion-padding-bottom">
				<div class="detail-list__name">How do you know about us?</div>
				<div>Others: Voucher</div>
			</div>

			<ion-row align-items-center class="detail-list detail-list--wbtn">
				<ion-col><b>Customer Skin Problems</b></ion-col>
				<ion-col class="ion-text-end"><ion-button color="primary" routerLink="/summary-skin-problems">VIEW</ion-button></ion-col>
			</ion-row>

			<ion-row align-items-center class="detail-list__title">
				<ion-col><b>Customer Health and Skin Condition</b></ion-col>
				<ion-col class="ion-text-end"><a routerLink="/q18-q20"><b>EDIT</b></a></ion-col>
			</ion-row>
		</ion-grid>
		
		<div class="summary">
			<p><span>1.</span>Sleep: Well</p>
			<p><span>2.</span>Work: Office Hours</p>
			<p><span>3.</span>Smoke: No</p>
			<p><span>4.</span>Drink Alcohol: No</p>
			<p><span>5.</span>High/Low blood pressure: No</p>
			<p><span>6.</span>Diabetes: No</p>
			<p><span>7.</span>Heart condition: No</p>
			<p><span>8.</span>Medications or Vitamins: Omega 3</p>
			<p><span>9.</span>a. Laser/IPL/E-Light: No <br>b. Microdermabrasion: Yes</p>
			<p><span>10.</span>Recent surgery: No</p>
			<p><span>11.</span>Pregnant: No</p>
			<p><span>12.</span>Sun Blok: Yes</p>
			<p><span>13.</span>Specific skin improvement: <br>Dehydrating, Firming, Pores</p>
			<p><span>14.</span>Elasticity: Average</p>
			<p><span>15.</span>Skin Pure: Open Pores</p>
			<p><span>16.</span>Blackheads/Whiteheads: Ineffective Cleansing</p>
			<p><span>17.</span>Papules: Hormone Imbalance</p>
			<p><span>18.</span>Wrinkles/Fine Lines: Expression Lines</p>
			<p><span>19.</span>Pigmentation: Sunburn</p>
			<p><span>20.</span>Sensitivity caused by: Weather</p>

			<ion-button color="primary" expand="full" routerLink="/client-signature">CLIENT’S SIGNATURE</ion-button>
		</div>
	</div>
</ion-content>
