ion-grid,
ion-row,
ion-col {
	padding: 0;
}

.ion-padding {color: rgba(0,0,0,0.87);}

.detail-list {
	color: rgba(0,0,0,0.87);
	border-bottom: 1px solid rgba(0,0,0,0.12);
	margin-bottom: 8px;

	&__name {
		max-width: 48px;
		font-size: 12px;
		color: rgba(0,0,0,0.54);

		&.age {
			margin-left: 50px;

			& + ion-col {max-width: 50px;}
		}
	}

	ion-row {
		margin-bottom: 10px;
	}
	
	ion-col:not(.detail-list__name) {
		width: calc(100% - 70px);
	}

	&--2 .detail-list__name {
		max-width: 62px;
	}

	&--3 .detail-list__name {
		max-width: 100px;
	}

	&--full .detail-list__name {
		max-width: 100%;
	}

	&--wbtn {
		padding-top: 8px;
		padding-bottom: 16px;
		margin-bottom: 20px;

		ion-button {width: 120px;}
	}

	&__title {
		.ion-text-end {max-width: 100px;}
	}
}

p {
	position: relative;
	padding-left: 24px;
	margin: 8px 0;

	> span {
		position: absolute;
		top: 0;
		left: 0;
	}
}

.summary {
	margin-top: 16px;

	ion-button {
		margin-top: 30px;
	}
}