<ion-header>
	<ion-toolbar color="primary">
		<ion-buttons slot="start">
			<ion-back-button defaultHref="cart"></ion-back-button>
		</ion-buttons>
		<ion-title>Secure Checkout</ion-title>
	</ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
	<div class="ion-margin-bottom">Delivery Options</div>
	<ion-button expand="block" class="ion-margin-bottom" routerLink="/checkout-shipping-delivery">COURIER DELIVERY</ion-button>
	<ion-button expand="block" class="ion-margin-bottom">SELF COLLECT</ion-button>
</ion-content>

<ion-footer>
	<div class="estimated-box">
		<div class="d-flex">
			<span>Estimated Total</span>
			<span>RM 13,977.00</span>
		</div>
	</div>
</ion-footer>