<ion-header>
	<ion-toolbar color="primary">
		<ion-buttons slot="start">
			<ion-button routerLink="/cust-appt-history"><ion-icon name="arrow-back"></ion-icon></ion-button>
		</ion-buttons>
		<ion-title>Appointment Details</ion-title>
	</ion-toolbar>
</ion-header>

<ion-content>
	<div class="ion-padding ion-margin-bottom appt-date payment-needed">
		<div>
			<div class="date">17 April, 2017, Sat</div>
			<div class="time">01:00 PM - 02:00 PM</div>
		</div>
		<b class="gray">Redeemed</b>
	</div>

	<ion-card>
		<ion-card-content class="appt-card">
			<ion-item lines="none">
				<ion-avatar slot="start" class="no-radius">
					<img src="../assets/images/shop-1.png">
				</ion-avatar>
				<ion-label>
					<h5 class="appt-name">Juniper Beauty</h5>
					<div class="product-rating">
						<ion-icon name="star"></ion-icon>
						<ion-icon name="star"></ion-icon>
						<ion-icon name="star"></ion-icon>
						<ion-icon name="star"></ion-icon>
						<ion-icon name="star-outline"></ion-icon>
						<span>(4)</span>
					</div>
				</ion-label>
			</ion-item>
			<ion-item lines="none" class="appt-card__list">
				<ion-icon name="pin"></ion-icon>
				<ion-label>Lot 1, Berjaya Park, Jalan 67/32, 43892 Selangor Darul Ehsan</ion-label>
			</ion-item>
			<ion-item lines="none" class="appt-card__list">
				<ion-icon name="time"></ion-icon>
				<ion-label>Operating Hours: 10 AM - 10 PM <br> Earliest available: 10:00 AM</ion-label>
			</ion-item>
		</ion-card-content>
		<div class="card-footer--icon ion-text-center">
			<ion-icon name="information-circle-outline"></ion-icon>
			<ion-icon name="call"></ion-icon>
			<ion-icon name="pin"></ion-icon>
		</div>
	</ion-card>

	<ion-card>
		<ion-card-content class="appt-card">
			<ion-item lines="none">
				<ion-avatar slot="start">
					<img src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y">
				</ion-avatar>
				<ion-label>
					<h5 class="appt-name">Amy Chan</h5>
					<div class="product-rating">
						<ion-icon name="star"></ion-icon>
						<ion-icon name="star"></ion-icon>
						<ion-icon name="star"></ion-icon>
						<ion-icon name="star"></ion-icon>
						<ion-icon name="star-outline"></ion-icon>
						<span>(4)</span>
					</div>
				</ion-label>
			</ion-item>
			<ion-item lines="none" class="appt-card__list">
				<ion-icon name="information-circle-outline"></ion-icon>
				<ion-label>Extraction, Detoxifying</ion-label>
			</ion-item>
			<ion-item lines="none" class="appt-card__list">
				<ion-icon name="flower"></ion-icon>
				<ion-label>Expert</ion-label>
			</ion-item>
		</ion-card-content>
		<div class="card-footer--icon ion-text-center">
			<ion-icon name="information-circle-outline"></ion-icon>
			<ion-icon name="call"></ion-icon>
		</div>
	</ion-card>

	<ion-card class="appt-reserve">
		<ion-card-content class="appt-card">
			<ion-item lines="none">
				<ion-avatar slot="start">
					<img src="../assets/images/session-1.png">
				</ion-avatar>
				<div>
					<h5 class="appt-name">Sophia Cell Reversion</h5>
					<ion-item lines="none" class="appt-reserve__list">
						<ion-icon name="information-circle-outline"></ion-icon>
						<ion-label>1 hour - RM 100.00</ion-label>
					</ion-item>
				</div>
			</ion-item>
		</ion-card-content>
	</ion-card>

	<ion-card>
		<ion-card-content class="appt-card totals">
			<div class="total-price">
				<span>Total Price</span>
				<span>RM 100.00</span>
			</div>
			<div class="deadline">Paid on 7 April 2019 using card ending in 3792</div>
		</ion-card-content>
	</ion-card>

	<div class="ion-margin ion-text-center">
		<a routerLink="/cust-appt-review" class="ion-padding" style="display: block;"><b>RATE AND REVIEW APPOINTMENT</b></a>
	</div>
</ion-content>