<ion-header>
	<ion-toolbar color="primary">
		<ion-buttons slot="start">
			<ion-back-button defaultHref="cust-home"></ion-back-button>
		</ion-buttons>
		<ion-title>More</ion-title>
		<ion-buttons slot="end">
			<ion-button routerLink="/cust-scan-qr"><ion-icon name="qr-scanner"></ion-icon></ion-button>
			<ion-button><ion-icon name="share"></ion-icon></ion-button>
			<ion-button><ion-icon name="cart"></ion-icon></ion-button>
		</ion-buttons>
	</ion-toolbar>
</ion-header>

<ion-content>
	<ion-list class="ion-padding">
		<ion-item lines="none" routerLink="/cust-news-notifications">
			<ion-icon name="megaphone" style="color: #FAA5A3;"></ion-icon>
			<span>News & Notifications</span>
		</ion-item>
		<ion-item lines="none" routerLink="/cust-about-us">
			<ion-icon name="information-circle-outline" style="color: #3765A1;"></ion-icon>
			<span>About Us</span>
		</ion-item>
		<ion-item lines="none" routerLink="/cust-contact-us">
			<ion-icon name="chatboxes" style="color: #FFC35F;"></ion-icon>
			<span>Contact Us</span>
		</ion-item>
		<ion-item lines="none" routerLink="/cust-join-us">
			<ion-icon name="business" style="color: #8DBDEB;"></ion-icon>
			<span>Join Us As Business Partner</span>
		</ion-item>
		<ion-item lines="none" routerLink="/cust-settings">
			<ion-icon name="settings" style="color: #9A8FC8;"></ion-icon>
			<span>Settings</span>
		</ion-item>
    </ion-list>
</ion-content>

<ion-tab-bar slot="bottom" color="primary">
	<ion-tab-button tab="home" routerLink="/cust-home">
		<ion-icon name="md-home"></ion-icon>
		<ion-label>Home</ion-label>
	</ion-tab-button>

	<ion-tab-button tab="product">
		<ion-icon name="ios-gift"></ion-icon>
		<ion-label>Product</ion-label>
	</ion-tab-button>

	<ion-tab-button tab="account">
		<ion-icon name="md-person"></ion-icon>
		<ion-label>Account</ion-label>
	</ion-tab-button>

	<ion-tab-button tab="more" routerLink="/cust-home-more-actions" class="active">
		<ion-icon name="md-more"></ion-icon>
		<ion-label>More</ion-label>
	</ion-tab-button>
</ion-tab-bar>