.view {
	&-option {
		position: fixed;
		bottom: 0;
		left: 0;
		right: 0;
		background-color: #fff;
		color: rgba(97,97,97,1);
		display: flex;
		align-items: center;
		justify-content: center;
		padding-top: 30px;
		padding-bottom: 30px;

		ion-label {
			font-size: 12px;
			display: block;
		}

		ion-icon {
			font-size: 24px;
			margin-bottom: 16px;
		}

		&:before {
			content: '';
			position: fixed;
			top: 0;
			left: 0;
			bottom: 120px;
			width: 100vw;
			background-color: rgba(0,0,0,0.17);
		}
	}

	&-col {
		width: 33.3333%;
	}
}