<ion-header>
	<ion-toolbar color="primary">
		<ion-buttons slot="start">
			<ion-back-button defaultHref="my-stock"></ion-back-button>
		</ion-buttons>
		<ion-title>Search</ion-title>
		<ion-buttons slot="end">
			<ion-button><ion-icon name="cart"></ion-icon></ion-button>
		</ion-buttons>
	</ion-toolbar>
	<ion-toolbar color="primary">
		<!-- add class `searching` to show searchbar-->
		<div class="toolbar-action">
			<div class="toolbar-search" routerLink="/product-search-within">
				<ion-icon name="search" class="toolbar-icon"></ion-icon>
				<ion-searchbar placeholder=""></ion-searchbar>
			</div>
			<ion-icon name="options" routerLink="/product-filter"></ion-icon>
			<ion-icon name="funnel" routerLink="/product-sortby"></ion-icon>
		</div>
	</ion-toolbar>
</ion-header>

<ion-content>
	<div class="stock-item__wrap">
		<div class="stock-info">
			Products containing the search term ‘Facial’. <br>
			32 items found.
		</div>
		<div class="stock-item">
			<img src="../../assets/images/stock-product-1.png" alt="">
			<div class="stock-item__title">Arm Firmer</div>
			<div class="stock-item__numb">
				<span>12</span>
				<span>In Stock</span>
			</div>
			<ion-icon name="add" class="stock-item__add"></ion-icon>
		</div>
		<div class="stock-item">
			<img src="../../assets/images/product-1.png" alt="">
			<div class="stock-item__title">Active Tonic</div>
			<div class="stock-item__numb">
				<span>13</span>
				<span>In Stock</span>
			</div>
			<ion-icon name="add" class="stock-item__add"></ion-icon>
		</div>
		<div class="stock-item">
			<img src="../../assets/images/stock-product-1.png" alt="">
			<div class="stock-item__title">C+1 & C+2</div>
			<div class="stock-item__numb low">
				<span>2</span>
				<span>In Stock</span>
			</div>
			<ion-icon name="add" class="stock-item__add"></ion-icon>
		</div>
		<div class="stock-item">
			<img src="../../assets/images/product-1.png" alt="">
			<div class="stock-item__title">Cleansing Emulsion</div>
			<div class="stock-item__numb">
				<span>11</span>
				<span>In Stock</span>
			</div>
			<ion-icon name="add" class="stock-item__add"></ion-icon>
		</div>
	</div>
</ion-content>
