.main-form {
	.main-input > ion-label.label-stacked {
		color: rgba(0,0,0,0.87);
		font-size: 14px;
		line-height: 20px;
	}

	ion-button {width: 240px;}
}

.input-img {
	width: 110px;
    border: 1px solid #979797;
    height: 110px;
    text-align: center;
    position: relative;
    margin-bottom: 20px;

    ion-icon {
    	position: absolute;
    	top: 50%;
    	left: 50%;
    	transform: translate(-50%, -50%);
    	color: #9B9B9B;
    	font-size: 45px;
    }
}