<ion-header>
	<ion-toolbar color="primary">
		<ion-buttons slot="start">
			<ion-button routerLink="/cust-beauty-solutions"><ion-icon name="arrow-back"></ion-icon></ion-button>
		</ion-buttons>
		<ion-title>New Skin Record</ion-title>
	</ion-toolbar>
</ion-header>

<ion-content>
	<div class="ion-padding">
		<div class="main-form">
			<ion-item class="main-input">
				<ion-label position="stacked" class="show">What is your current skin type?</ion-label>
				<ion-select placeholder="Please select">
					<ion-select-option value="1">Normal Skin</ion-select-option>
					<ion-select-option value="2">Dry Skin</ion-select-option>
					<ion-select-option value="3">Oily Skin</ion-select-option>
					<ion-select-option value="4">Mix combination skin</ion-select-option>
				</ion-select>
			</ion-item>
			<ion-item class="main-input">
				<ion-label position="stacked" class="show">Where are you noticing larger pores?</ion-label>
				<ion-select placeholder="Please select">
					<ion-select-option value="1">Option 1</ion-select-option>
					<ion-select-option value="2">Option 2</ion-select-option>
				</ion-select>
			</ion-item>
			<ion-item class="main-input">
				<ion-label position="stacked" class="show">How often do you experience sensitivity?</ion-label>
				<ion-select placeholder="Please select">
					<ion-select-option value="1">Option 1</ion-select-option>
					<ion-select-option value="2">Option 2</ion-select-option>
				</ion-select>
			</ion-item>
			<div class="input-img">
				<ion-icon name="camera"></ion-icon>
			</div>
			<div class="ion-text-center">
				<ion-button color="primary">SAVE</ion-button>
			</div>
		</div>
	</div>
</ion-content>
