<ion-header>
	<ion-toolbar color="primary">
		<ion-buttons slot="start">
			<ion-button routerLink="/customer"><ion-icon name="arrow-back"></ion-icon></ion-button>
		</ion-buttons>
		<ion-title>New Customer</ion-title>
	</ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
	<div class="ion-margin-bottom">Customer Type</div>
	<ion-button expand="block" class="ion-margin-bottom" routerLink="/register-one-five">CONSUMER</ion-button>
	<ion-button expand="block" class="ion-margin-bottom">AMBASSADOR</ion-button>
	<ion-button expand="block" class="ion-margin-bottom">MEMBER</ion-button>
</ion-content>
