ion-list {
	padding-bottom: 0;
	background: transparent;

	ion-item {--background: transparent;}

	ion-avatar,
	ion-label {margin-top: 0;}

	ion-avatar {margin-right: 12px;}

	h3 {
		color: rgba(0,0,0,0.54);
		font-size: 12px;
	}

	h2 {
		font-weight: 500;
		color: rgba(0,0,0,0.87);
	}
}

.appt {
	&-date {
		font-size: 16px;
		color: rgba(0,0,0,0.87);
		display: flex;
		align-items: center;

		.orange {
			width: 55px;
			font-size: 14px;
			margin-left: 15px;
			text-align: right;
		}
	}

	&-info {
		display: flex;
		align-items: center;

		ion-icon {
			font-size: 24px;
			color: rgba(158,158,158,1);
			width: 40px;
			margin-right: 12px;
		}
	}
}

.payment-needed {
	background-color: rgba(141,189,235,0.2);
}