<ion-header>
	<ion-toolbar color="primary">
		<ion-buttons slot="start">
			<ion-back-button defaultHref="customer-vip"></ion-back-button>
		</ion-buttons>
		<ion-title>Appointments</ion-title>
	</ion-toolbar>
</ion-header>


<ion-content>
	<ion-card class="appt-card payment-needed" routerLink="/appt-details-payment-needed">
		<ion-card-content>
			<div class="appt-date">
				<span>8 Jun, 2019  11:00 AM - 12:00 PM</span>
				<span class="orange">Payment Needed</span>
			</div>
			<ion-list>
				<ion-item lines="none">
					<ion-avatar slot="start">
						<img src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y">
					</ion-avatar>
					<ion-label>
						<h3>Customer</h3>
						<h2>Sarah Lim Swee Lin</h2>
					</ion-label>
				</ion-item>
				<ion-item lines="none">
					<ion-avatar slot="start">
						<img src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y">
					</ion-avatar>
					<ion-label>
						<h3>Beautician</h3>
						<h2>Amy Chan</h2>
					</ion-label>
				</ion-item>
			</ion-list>
			<div class="appt-info">
				<ion-icon name="information-circle-outline"></ion-icon>
				<span>Sophia Cell Reversion</span>
			</div>
		</ion-card-content>
	</ion-card>
	<ion-card class="appt-card" routerLink="/past-appt-details">
		<ion-card-content>
			<div class="appt-date">
				<span>7 Jun, 2019  11:00 AM - 12:00 PM</span>
			</div>
			<ion-list>
				<ion-item lines="none">
					<ion-avatar slot="start">
						<img src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y">
					</ion-avatar>
					<ion-label>
						<h3>Customer</h3>
						<h2>Sarah Lim Swee Lin</h2>
					</ion-label>
				</ion-item>
				<ion-item lines="none">
					<ion-avatar slot="start">
						<img src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y">
					</ion-avatar>
					<ion-label>
						<h3>Beautician</h3>
						<h2>Amy Chan</h2>
					</ion-label>
				</ion-item>
			</ion-list>
			<div class="appt-info">
				<ion-icon name="information-circle-outline"></ion-icon>
				<span>Sophia Cell Reversion</span>
			</div>
		</ion-card-content>
	</ion-card>
	<ion-card class="appt-card" routerLink="/past-appt-details">
		<ion-card-content>
			<div class="appt-date">
				<span>3 Jun, 2019  11:00 AM - 12:00 PM</span>
			</div>
			<ion-list>
				<ion-item lines="none">
					<ion-avatar slot="start">
						<img src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y">
					</ion-avatar>
					<ion-label>
						<h3>Customer</h3>
						<h2>Sarah Lim Swee Lin</h2>
					</ion-label>
				</ion-item>
				<ion-item lines="none">
					<ion-avatar slot="start">
						<img src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y">
					</ion-avatar>
					<ion-label>
						<h3>Beautician</h3>
						<h2>Amy Chan</h2>
					</ion-label>
				</ion-item>
			</ion-list>
			<div class="appt-info">
				<ion-icon name="information-circle-outline"></ion-icon>
				<span>Sophia Cell Reversion</span>
			</div>
		</ion-card-content>
	</ion-card>
</ion-content>
