<ion-header>
	<ion-toolbar color="primary">
		<ion-buttons slot="start">
			<ion-back-button defaultHref=""></ion-back-button>
		</ion-buttons>
		<ion-title>All Products</ion-title>
	</ion-toolbar>
	<ion-toolbar><ion-searchbar placeholder="Search all product"></ion-searchbar></ion-toolbar>
</ion-header>

<ion-content>
	<div class="ion-padding">
		<div class="stock-title">Categories</div>
		<div class="stock-list">
			<div class="stock-list__row" routerLink="/all-products-list">
				<span>Sophia Cell Reversion</span>
				<ion-icon name="arrow-forward" mode="ios"></ion-icon>
			</div>
			<div class="stock-list__row" routerLink="/all-products-list">
				<span>Sophia Alpine</span>
				<ion-icon name="arrow-forward" mode="ios"></ion-icon>
			</div>
			<div class="stock-list__row" routerLink="/all-products-list">
				<span>Lohas</span>
				<ion-icon name="arrow-forward" mode="ios"></ion-icon>
			</div>
			<div class="stock-list__row" routerLink="/all-products-list">
				<span>Zell Therapie</span>
				<ion-icon name="arrow-forward" mode="ios"></ion-icon>
			</div>
		</div>
	</div>
</ion-content>
