<ion-header>
	<ion-toolbar color="primary">
		<ion-buttons slot="start">
			<ion-back-button defaultHref="checkout-shipping-delivery-used-code"></ion-back-button>
		</ion-buttons>
		<ion-title>Select Delivery Address</ion-title>
	</ion-toolbar>
</ion-header>


<ion-content>
	<div class="address-list">
		<div class="address-item">
			<div class="address-name">Juniper Beauty</div>
			<div class="address-detail">Lot 1, Berjaya Park, Jalan 67/32, 43892 Selangor Da…</div>
		</div>
		<div class="address-item">
			<div class="address-name">Angelyn Ong</div>
			<div class="address-detail">Lot 10, Seksyen 24, Puchong, 90234, Selangor, Mal…</div>
		</div>
		<div class="address-item" routerLink="/add-new-address">
			<div class="address-name">Add New Address</div>
		</div>
	</div>
</ion-content>
