.address {
	&-name {
		font-size: 16px;
		line-height: 24px;
		color: rgba(0,0,0,0.87);
		margin-bottom: 2px;
	}

	&-detail {
		white-space: nowrap;
		max-width: 100%;
		overflow: hidden;
		text-overflow: ellipsis;
	}

	&-item {
		padding: 10px 16px;
		line-height: 20px;
		color: rgba(0,0,0,0.54);
	}

	&-list {
		margin-top: 6px;
	}
}