.half {
	position: relative;

	ion-input {
		max-width: calc(100% - 30px);
	}

	span {
		position: absolute;
		right: 10px;
		bottom: 4px;
		font-size: 20px;
	}

	& + .half {
		margin-left: auto;
	}
}

.main-form .main-input.half {width: calc(50% - 8px);}

.make-default {
	color: rgba(74,74,74,1);
	letter-spacing: 0.5px;
	font-size: 14px;
	font-weight: 500;

	ion-checkbox {margin: 0 16px 0 0;}
}