<ion-header>
	<ion-toolbar color="primary">
		<ion-buttons slot="start">
			<ion-back-button defaultHref="payment-choose-credit-debit-card"></ion-back-button>
		</ion-buttons>
		<ion-title>Add New Card</ion-title>
	</ion-toolbar>
</ion-header>

<ion-content>
	<div class="ion-padding">
		<div class="main-form">
			<ion-item class="main-input">
				<ion-label position="stacked">Name On Card</ion-label>
				<ion-input placeholder="Name On Card"></ion-input>
			</ion-item>
			<ion-item class="main-input">
				<ion-label position="stacked">Card No.</ion-label>
				<ion-input placeholder="Card No."></ion-input>
			</ion-item>
			<div class="d-flex">
				<ion-item class="main-input half">
					<ion-label position="stacked" class="show">Expiry Date</ion-label>
					<ion-input placeholder="MM/YY"></ion-input>
				</ion-item>
				<ion-item class="main-input half">
					<ion-label position="stacked">CVV</ion-label>
					<ion-input placeholder="CVV"></ion-input>
					<span><b>?</b></span>
				</ion-item>
			</div>
			<ion-item class="main-input">
				<ion-label position="stacked" class="show">Country</ion-label>
				<ion-select placeholder="Select Country">
					<ion-select-option value="1" selected>Malaysia</ion-select-option>
					<ion-select-option value="2">Singapore</ion-select-option>
				</ion-select>
			</ion-item>
			<ion-item class="make-default" lines="none">
				<ion-checkbox></ion-checkbox>
				<ion-label>Save for future use</ion-label>
			</ion-item>
			<ion-button expand="block" color="primary ion-margin-top" disabled>SAVE</ion-button>
		</div>
	</div>
</ion-content>
