<ion-header>
	<ion-toolbar color="primary">
		<ion-buttons slot="start">
			<ion-back-button defaultHref="product-category"></ion-back-button>
		</ion-buttons>
		<ion-buttons slot="end">
			<ion-button><ion-icon name="share"></ion-icon></ion-button>
		</ion-buttons>
	</ion-toolbar>
</ion-header>

<ion-content>
	<div class="prodetails-slide">
		<ion-slides pager="true" class="slide-product" routerLink="/product-image">
			<ion-slide>
				<div class="slide-item">
					<img class="slide-img" src="../../assets/images/product-1.png" alt="">
					<div class="slide-sale" style="background-image: url('../../assets/images/image_sale_wide.png');">
						<div class="slide-sale__inner">
							<div class="sale-title">SALE</div>
							<div class="sale-time">
								1 : 11 : 56 : 59
							</div>
						</div>
					</div>
				</div>
			</ion-slide>
			<ion-slide>
				<div class="slide-item">
					<img class="slide-img" src="../../assets/images/stock-product-1.png" alt="">
					<div class="slide-sale" style="background-image: url('../../assets/images/image_sale_wide.png');">
						<div class="slide-sale__inner">
							<div class="sale-title">SALE</div>
							<div class="sale-time">
								1 : 11 : 56 : 59
							</div>
						</div>
					</div>
				</div>
			</ion-slide>
		</ion-slides>
		<div class="prodetails-box">
			<div class="product-name">
				Active Tonic
			</div>
			<div class="product-price">
				<span>RM 299.00</span>
				<del>RM 299.00</del>
			</div>
			<div class="product-rating">
				<ion-icon name="star"></ion-icon>
				<ion-icon name="star"></ion-icon>
				<ion-icon name="star"></ion-icon>
				<ion-icon name="star"></ion-icon>
				<ion-icon name="star-outline"></ion-icon>
			</div>
		</div>
	</div>

	<div class="prodetails-segment">
		<ion-segment>
			<ion-segment-button checked routerLink="/product-details">
				<ion-label>DETAILS</ion-label>
			</ion-segment-button>
			<ion-segment-button routerLink="/product-specs">
				<ion-label>SPECS</ion-label>
			</ion-segment-button>
			<ion-segment-button routerLink="/product-reviews">
				<ion-label>REVIEWS</ion-label>
			</ion-segment-button>
			<ion-segment-button routerLink="/product-similar">
				<ion-label>SIMILAR</ion-label>
			</ion-segment-button>
		</ion-segment>
		<div class="segment-content">
			<iframe width="560" height="315" src="https://www.youtube.com/embed/r2ga-iXS5i4" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
			<p>
				With a soothing, highly-functional hydrating formula for all skin, helps both skin elastic, troubled skin repair, irritated skin from the radical and external environment and healthily protect the skin by making skin protective film.</p>
			<p>
			<p>
				<b>How To Use:</b><br>
				Apply to cotton pads and wipe over face and neck after cleansing or refresh during the day. Follow with Cell Reversion Repair Fluid or Cell Reversion Ultra Vital.
			</p>
			<p>
				<b>Ingredients:</b><br>
				Aqua, Glycerin, Propylene Glycol, Anthemis Nobilis (Chamomile) Flower Extract, Butylene Glycol, Glycyrrhiza Glabra Root Extract, Camellia Sinensis Leaf Extract, Rosmarinus Officinalis Leaf Extract, Centella Asiatica Extract, Chamomilla Recutita Flower Extract, Scutellaria Baicalensis Root Extract, Polygonum Cuspidatum Root Extract, Xanthan Gum, Aloe Barbadensis Leaf Extract, Sodium Hyaluronate, Phenoxyethanol, Methylisothiazolinone.
			</p>
		</div>
	</div>
</ion-content>

<ion-footer class="prodetails-ionfooter">
	<ion-toolbar>
		<div class="prodetails-footer">
			<div class="prodetails-footer__stock"><span>12</span> In Stock</div>
			<ion-button color="primary" routerLink="/product-add-to-cart">ADD TO CART</ion-button>
		</div>
	</ion-toolbar>
</ion-footer>
