<ion-header>
	<ion-toolbar color="primary">
		<ion-buttons slot="start">
			<ion-back-button defaultHref="order-details-self-collect-processing"></ion-back-button>
		</ion-buttons>
		<ion-title>Collect Pass</ion-title>
	</ion-toolbar>
</ion-header>

<ion-content>
	<div class="qr-intro">
		<ion-icon name="information-circle-outline"></ion-icon>
		Let the merchant scan this QR code during collection.
	</div>
	<div class="qr-info">
		<div class="qr-code ion-text-center">
			<img src="../assets/images/qrcode.png" alt="">
		</div>
		<div class="qr-number ion-text-center">
			P.O. No:
			<span>SH2017050358491</span>
		</div>
	</div>
</ion-content>
