.qr {
	&-intro {
		background-color: rgba(179,202,231,1);
		padding: 25px 16px 23px 82px;
		position: relative;
		color: rgba(0,0,0,0.87);

		ion-icon {
			font-size: 26px;
			color: rgba(74,74,74,1);
			position: absolute;
			top: 25px;
			left: 26px;
		}
	}

	&-code {
		padding: 76px;
	}

	&-number {
		color: rgba(0,0,0,0.54);
		font-size: 16px;

		span {
			display: block;
			color: rgba(0,0,0,0.87);
			font-size: 24px;
			line-height: 32px;
			margin-top: 8px;
		}
	}
}