<ion-header>
	<ion-toolbar color="primary">
		<ion-buttons slot="start">
			<ion-button routerLink="/cust-home-more-actions"><ion-icon name="arrow-back"></ion-icon></ion-button>
		</ion-buttons>
		<ion-title>News & Notifications</ion-title>
		<ion-buttons slot="end">
			<ion-button routerLink="/cust-scan-qr"><ion-icon name="qr-scanner"></ion-icon></ion-button>
			<ion-button><ion-icon name="share"></ion-icon></ion-button>
			<ion-button><ion-icon name="cart"></ion-icon></ion-button>
		</ion-buttons>
	</ion-toolbar>
</ion-header>

<ion-content>
	<div class="stock-item__wrap news">
		<div class="stock-item news-item" routerLink="/cust-news-notifications-details">
			<img src="../../assets/images/news-1.png" alt="">
			<div class="news-info">
				<div class="news-title">Grand Opening</div>
				<div class="news-date">10 Aug 2019</div>
			</div>
		</div>
		<div class="stock-item news-item" routerLink="/cust-news-notifications-details">
			<img src="../../assets/images/news-2.png" alt="">
			<div class="news-info">
				<div class="news-title">New Vouchers</div>
				<div class="news-date">30 Jul 2019</div>
			</div>
		</div>
		<div class="stock-item news-item" routerLink="/cust-news-notifications-details">
			<img src="../../assets/images/news-3.png" alt="">
			<div class="news-info">
				<div class="news-title">Free Treatments Worth RM498</div>
				<div class="news-date">27 Jul 2019</div>
			</div>
		</div>
	</div>
</ion-content>
