<ion-header>
	<ion-toolbar color="primary">
		<ion-buttons slot="start">
			<ion-back-button defaultHref="checkout-shipping-delivery"></ion-back-button>
		</ion-buttons>
		<ion-title>Payment</ion-title>
	</ion-toolbar>
</ion-header>

<ion-content class="payment">
	<div class="ion-padding">
		<div class="d-flex">
			<span>Order No.</span>
			<b>SH2017050358492</b>
		</div>
		<div class="d-flex">
			<span>Total Amount</span>
			<b>RM 13,977.00</b>
		</div>
		<div class="d-flex">
			<span>Total Points To Be Earned</span>
			<b>139 Points</b>
		</div>
	</div>
	<div class="ion-padding">
		<div class="d-flex ion-margin-bottom">
			<span>Payment Options</span>
			<b>Credit/Debit Card</b>
		</div>
		<ion-item class="main-input" routerLink="/payment-choose-credit-debit-card">
			<ion-label position="stacked" style="color: rgba(0,0,0,0.38);">Card No.</ion-label>
			<ion-select placeholder="Select Card No.">
				<ion-select-option value="1" selected>**** **** **** 3792</ion-select-option>
			</ion-select>
		</ion-item>
	</div>
	<div class="ion-padding">
		<div class="ion-margin-bottom" style="color: rgba(0,0,0,0.87);">For security purposes, please enter the following card details.</div>
		<div class="main-form">
			<ion-item class="main-input">
				<ion-label position="stacked">Card No.</ion-label>
				<ion-input placeholder="Card No."></ion-input>
			</ion-item>
			<ion-item class="main-input half">
				<ion-label position="stacked">CVV</ion-label>
				<ion-input placeholder="CVV"></ion-input>
				<span><b>?</b></span>
			</ion-item>

			<ion-button expand="block" disabled>PLACE ORDER</ion-button>
		</div>
	</div>
</ion-content>
