.step-ongoing span {
	width: 50%;
}

.ion-text-center {
	color: rgba(0,0,0,0.87);

	h3 {
		color: rgba(0,0,0,0.87);
		font-size: 14px;
		line-height: 24px;
		margin: 4px auto 14px;
	}
}

.register-progress {
	box-shadow: none;
	border-bottom: 1px solid #e1e1e1;
}

.face-wrapper {
    height: calc(100vh - 175px);
}