<ion-header>
	<ion-toolbar color="primary">
		<ion-buttons slot="start">
			<ion-button routerLink="/register-type"><ion-icon name="close"></ion-icon></ion-button>
		</ion-buttons>
		<ion-title>New Customer</ion-title>
	</ion-toolbar>
</ion-header>

<ion-content>
	<div class="register-progress">
		<a class="" routerLink="/register-five-five">BACK</a>
		<div class="step-bar">
			<div class="step-dot"></div>
			<div class="step-dot step-ongoing"><span></span></div>
			<div class="step-dot"></div>
			<div class="step-dot"></div>
		</div>
		<a class="" routerLink="/q1-q4">NEXT</a>
	</div>

	<div class="ion-padding">
		<div class="main-form">
			<div class="ion-text-center">
				Mark customer’s skin problems.
				<h3>Select A Skin Problem</h3>
			</div>
			<div class="face-wrapper">
				<img src="../../assets/images/register-face.jpg" alt="">
			</div>
			<ion-fab vertical="bottom" horizontal="end" slot="fixed" routerLink="/skin-problems">
				<ion-fab-button>
					<ion-icon name="add"></ion-icon>
				</ion-fab-button>
			</ion-fab>
		</div>
	</div>
</ion-content>
