<ion-header>
	<ion-toolbar color="primary">
		<ion-buttons slot="start">
			<ion-back-button defaultHref="cust-fav-shops"></ion-back-button>
		</ion-buttons>
		<ion-title>Favourite Shops</ion-title>
		<ion-buttons slot="end">
			<ion-button><ion-icon name="trash"></ion-icon></ion-button>
		</ion-buttons>
	</ion-toolbar>
</ion-header>

<ion-content>
	<ion-list class="list-wimg">
		<ion-item lines="none">
			<img src="../assets/images/shop-cat-1.png" alt="">
			<span>Juniper Beauty</span>
			<ion-checkbox class="ml-auto"></ion-checkbox>
		</ion-item>
		<ion-item lines="none">
			<img src="../assets/images/shop-cat-2.png" alt="">
			<span>Perfect Skin</span>
			<ion-checkbox class="ml-auto" checked></ion-checkbox>
		</ion-item>
    </ion-list>
</ion-content>
