<ion-header>
	<ion-toolbar color="primary">
		<ion-buttons slot="start">
			<ion-button routerLink="/register-type"><ion-icon name="close"></ion-icon></ion-button>
		</ion-buttons>
		<ion-title>New Customer</ion-title>
	</ion-toolbar>
</ion-header>

<ion-content class="bg-gray">
	<div class="register-progress">
		<a class="" routerLink="/register-two-five">BACK</a>
		<div class="step-bar">
			<div class="step-dot step-ongoing"><span></span></div>
			<div class="step-dot"></div>
			<div class="step-dot"></div>
			<div class="step-dot"></div>
		</div>
		<a class="" routerLink="/register-four-five">NEXT</a>
	</div>

	<div class="ion-padding">
		<div class="main-form">
			<ion-item class="main-input">
				<ion-label position="stacked" class="show">HP No.</ion-label>
				<ion-input placeholder="e.g. +60123456789"></ion-input>
			</ion-item>
			<ion-item class="main-input">
				<ion-label position="stacked" class="show">Work Tel. No.</ion-label>
				<ion-input placeholder="e.g. +60123456789"></ion-input>
			</ion-item>
			<ion-item class="main-input">
				<ion-label position="stacked" class="show">Home Tel. No.</ion-label>
				<ion-input placeholder="e.g. +60123456789"></ion-input>
			</ion-item>
			<ion-item class="main-input">
				<ion-label position="stacked">Email</ion-label>
				<ion-input placeholder="Email"></ion-input>
			</ion-item>
		</div>
	</div>
</ion-content>
