.chat {
	padding: 16px 8px;

	&-date span {
		display: inline-block;
		background-color: #8DBDEB;
		border-radius: 4px;
		color: #fff;
		font-size: 13px;
		line-height: 16px;
		padding: 6px 16px;
		margin-bottom: 15px;
		text-transform: uppercase;
		box-shadow: 0 1px 1px rgba(164,152,135,0.32);
	}

	&-row {
		span {
			display: inline-block;
			line-height: 16px;
			color: #000000;
			padding: 7px 12px;
			background-color: rgba(141,189,235,0.2);
			border-radius: 4px;
			position: relative;
			box-shadow: 0 0 1px #A39F98;
			margin-bottom: 8px;
			margin-left: 8px;
			max-width: 80%;

			&:before {
				content: '';
				width: 10px;
				height: 12px;
				background-image: url('../../assets/images/tail-left.png');
				background-size: contain;
				background-repeat: no-repeat;
				position: absolute;
				top: -1px;
				left: -9px;
			}
		}

		&.right {
			text-align: right;

			span {
				background-color: #fff;
				margin-left: 0;
				margin-right: 8px;

				&:before {
					background-image: url('../../assets/images/tail-right.png');
					left: auto;
					right: -9px;
				}
			}
		}
	}

	&-box + .chat-box {
		border-top: 1px solid rgba(0,0,0,0.12);
	}

	&-reply {
		margin: 8px 66px 8px 8px;
		box-shadow: 0 0 1px #A39F98;
		border-radius: 5px 0 5px 5px;
		align-items: center;
		font-size: 16px;
		color: #CACACA;
		padding: 12px;
		position: relative;
		background-color: #fff;

		&:before {
			content: '';
			position: absolute;
			right: -10px;
			top: -1px;
			background-image: url('../../assets/images/tail-right.png');
			background-size: contain;
			background-repeat: no-repeat;
			width: 10px;
			height: 12px;
		}

		ion-icon {
			color: #858585;
			font-size: 20px;

			&.chat-emoji {font-size: 24px;}
		}

		ion-input {
		    --padding-top: 0;
			--padding-bottom: 0;
			--padding-end: 10px;
		}
	}
}

ion-fab {
	bottom: 8px;
	right: 8px;

	&-button {
		width: 50px;
		height: 50px;
	}
}

.footer-md:before {background: none;}

ion-footer {
	ion-toolbar {
		--background: #fafafa;
	}
}