h1 {margin: 0 0 16px;}

.ion-padding {
	& + .ion-padding {
		border-top: 1px solid rgba(0,0,0,0.12);
	}

	p {
		margin: 0 0 16px;
		font-size: 16px;
		color: rgba(0,0,0,0.87);
	}

	ion-button + ion-button {margin-top: 16px;}
}