<ion-header>
	<ion-toolbar color="primary">
		<ion-buttons slot="start">
			<ion-button routerLink="/cust-new-appt-one-one"><ion-icon name="arrow-back"></ion-icon></ion-button>
		</ion-buttons>
		<ion-title>New Appointment</ion-title>
	</ion-toolbar>
</ion-header>


<ion-content>
	<div class="ion-padding">
		<h1>1. Choose your session.</h1>
		<p>Firming</p>
		<ion-button expand="block" routerLink="/cust-new-appt-two">1 hour - RM 100.00</ion-button>
		<ion-button expand="block" routerLink="/cust-new-appt-two">2 hour - RM 150.00</ion-button>
	</div>
	<div class="ion-padding">
		<p>Contour Lift</p>
		<ion-button expand="block" routerLink="/cust-new-appt-two">1 hour - RM 100.00</ion-button>
		<ion-button expand="block" routerLink="/cust-new-appt-two">2 hour - RM 150.00</ion-button>
	</div>
	<div class="ion-padding">
		<p>Deep Cleansing</p>
		<ion-button expand="block" routerLink="/cust-new-appt-two">1 hour - RM 100.00</ion-button>
		<ion-button expand="block" routerLink="/cust-new-appt-two">2 hour - RM 150.00</ion-button>
	</div>
</ion-content>
