<ion-header>
	<ion-toolbar color="primary">
		<ion-buttons slot="start">
			<ion-button routerLink="/cust-shop"><ion-icon name="arrow-back"></ion-icon></ion-button>
		</ion-buttons>
		<ion-title>New Appointment</ion-title>
	</ion-toolbar>
</ion-header>

<ion-content>
	<div class="ion-padding">
		<h1>1. Choose your session.</h1>
		<ion-list>
			<ion-item lines="none" routerLink="/cust-new-appt-one-two">
				<img src="../assets/images/session-1.png" alt="">
				<span>Sophia Cell Reversion</span>
			</ion-item>
			<ion-item lines="none" routerLink="/cust-new-appt-one-two">
				<img src="../assets/images/session-2.png" alt="">
				<span>Sophia Mix & Match</span>
			</ion-item>
			<ion-item lines="none" routerLink="/cust-new-appt-one-two">
				<img src="../assets/images/session-3.png" alt="">
				<span>Sophia Alpine Range</span>
			</ion-item>
			<ion-item lines="none" routerLink="/cust-new-appt-one-two">
				<img src="../assets/images/session-4.png" alt="">
				<span>Lohas</span>
			</ion-item>
		</ion-list>
	</div>
</ion-content>
