<ion-header>
	<ion-toolbar color="primary">
		<ion-buttons slot="start">
			<ion-button routerLink="/register-type"><ion-icon name="close"></ion-icon></ion-button>
		</ion-buttons>
		<ion-title>New Customer</ion-title>
	</ion-toolbar>
</ion-header>

<ion-content>
	<div class="register-progress">
		<a class="" routerLink="/q1-q4">BACK</a>
		<div class="step-bar">
			<div class="step-dot"></div>
			<div class="step-dot"></div>
			<div class="step-dot step-ongoing"><span></span></div>
			<div class="step-dot"></div>
		</div>
		<a class="" routerLink="/q9-q12">NEXT</a>
	</div>

	<div class="ion-padding">
		<div class="main-form">
			<ion-label>5. Do you have High/Low blood pressure?</ion-label>
			<ion-item class="main-input main-input--radio" lines="none">
				<div class="choose ion-margin-bottom">
					<ion-radio-group name="">
						<ion-item lines="none">
							<ion-label>Yes</ion-label>
							<ion-radio name="q5" mode="md" value="Yes"></ion-radio>
						</ion-item>
						<ion-item lines="none">
							<ion-label>No</ion-label>
							<ion-radio name="q5" mode="md" value="No"></ion-radio>
						</ion-item>
					</ion-radio-group>
				</div>
			</ion-item>

			<ion-label>6. Are you Diabetes?</ion-label>
			<ion-item class="main-input main-input--radio" lines="none">
				<div class="choose ion-margin-bottom">
					<ion-radio-group name="">
						<ion-item lines="none">
							<ion-label>Yes</ion-label>
							<ion-radio name="q6" mode="md" value="Yes"></ion-radio>
						</ion-item>
						<ion-item lines="none">
							<ion-label>No</ion-label>
							<ion-radio name="q6" mode="md" value="No"></ion-radio>
						</ion-item>
					</ion-radio-group>
				</div>
			</ion-item>

			<ion-label>7. Do you have heart condition?</ion-label>
			<ion-item class="main-input main-input--radio" lines="none">
				<div class="choose ion-margin-bottom">
					<ion-radio-group name="">
						<ion-item lines="none">
							<ion-label>Yes</ion-label>
							<ion-radio name="q7" mode="md" value="Yes"></ion-radio>
						</ion-item>
						<ion-item lines="none">
							<ion-label>No</ion-label>
							<ion-radio name="q7" mode="md" value="No"></ion-radio>
						</ion-item>
					</ion-radio-group>
				</div>
			</ion-item>

			<ion-label>8. Are you currently taking any Medications or Vitamins?</ion-label>
			<ion-item class="main-input main-input--radio" lines="none">
				<div class="choose ion-margin-bottom">
					<ion-radio-group name="">
						<ion-item lines="none">
							<ion-label>Yes</ion-label>
							<ion-radio name="q8" mode="md" value="Yes"></ion-radio>
						</ion-item>
						<ion-item lines="none">
							<ion-label>No</ion-label>
							<ion-radio name="q8" mode="md" value="No"></ion-radio>
						</ion-item>
					</ion-radio-group>
				</div>
			</ion-item>

			<ion-item class="main-input">
				<ion-label position="stacked" class="show">Please specify</ion-label>
				<ion-input placeholder="Please specify"></ion-input>
			</ion-item>
		</div>
	</div>
</ion-content>
