.main-form {
	margin-top: 40px;

	.semi-bold {
		margin-top: 25px;
	}

	ion-button {margin-top: 40px;}
}

ion-footer ion-toolbar {
	--background: var(--ion-color-eee);

	&.forgotpass-sent {
		--background: var(--ion-color-32);
		color: var(--ion-color-primary-contrast);
	}

	a {
		letter-spacing: 0.5px;
		margin-left: 8px;
	}
}