.main-form {
  margin-top: 40px;
}

.main-form .semi-bold {
  margin-top: 25px;
}

.main-form .main-input {
  --min-height: 0;
}

.main-form .main-input:nth-of-type(1) {
  margin-bottom: 10px;
}

.main-form .main-input > ion-label {
  opacity: 0;
  transition: opacity 0.3s ease;
  color: var(--ion-color-medium);
}

.main-form .main-input.item-has-focus > ion-label, .main-form .main-input.item-has-value > ion-label {
  opacity: 1;
}

ion-footer ion-toolbar {
  --background: var(--ion-color-eee);
}

ion-footer ion-toolbar.forgotpass-sent {
  --background: var(--ion-color-32);
  color: var(--ion-color-primary-contrast);
}

ion-footer ion-toolbar a {
  letter-spacing: 0.5px;
  margin-left: 8px;
}
