<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Sign In</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
	<div class="ion-padding">
		<div class="main-form">
			<ion-item class="main-input">
				<ion-label position="stacked">Username</ion-label>
				<ion-input placeholder="Username"></ion-input>
			</ion-item>
			<ion-item class="main-input">
				<ion-label position="stacked">Password</ion-label>
				<ion-input type="password" placeholder="Password"></ion-input>
			</ion-item>
			<ion-button expand="block" routerLink="/dashboard">SIGN IN</ion-button>
			<div class="ion-text-center semi-bold">
				<a routerLink="">FORGOT PASSWORD?</a>
			</div>
		</div>
	</div>
</ion-content>

<ion-footer>
	<!-- ./forgotpass-sent -->
	<ion-toolbar class="ion-text-center forgotpass-sent">
		<ion-text>Please check your email for further instructions.</ion-text>
	</ion-toolbar>
	<!-- ./forgotpass-sent -->

	<ion-toolbar class="ion-text-center semi-bold">
		<ion-text color="#DE000000">Don’t have an account? </ion-text>
		<a routerLink="#" color="primary" routerLink="">SIGN UP</a>
	</ion-toolbar>
</ion-footer>