<ion-header>
	<ion-toolbar color="primary">
		<ion-buttons slot="start">
			<ion-back-button defaultHref="product-category"></ion-back-button>
		</ion-buttons>
		<ion-buttons slot="end">
			<ion-button><ion-icon name="share"></ion-icon></ion-button>
		</ion-buttons>
	</ion-toolbar>
</ion-header>

<ion-content>
	<div class="prodetails-slide">
		<ion-slides pager="true" class="slide-product" routerLink="/product-image">
			<ion-slide>
				<div class="slide-item">
					<img class="slide-img" src="../../assets/images/product-1.png" alt="">
					<div class="slide-sale" style="background-image: url('../../assets/images/image_sale_wide.png');">
						<div class="slide-sale__inner">
							<div class="sale-title">SALE</div>
							<div class="sale-time">
								1 : 11 : 56 : 59
							</div>
						</div>
					</div>
				</div>
			</ion-slide>
			<ion-slide>
				<div class="slide-item">
					<img class="slide-img" src="../../assets/images/stock-product-1.png" alt="">
					<div class="slide-sale" style="background-image: url('../../assets/images/image_sale_wide.png');">
						<div class="slide-sale__inner">
							<div class="sale-title">SALE</div>
							<div class="sale-time">
								1 : 11 : 56 : 59
							</div>
						</div>
					</div>
				</div>
			</ion-slide>
		</ion-slides>
		<div class="prodetails-box">
			<div class="product-name">
				Active Tonic
			</div>
			<div class="product-price">
				<span>RM 299.00</span>
				<del>RM 299.00</del>
			</div>
			<div class="product-rating">
				<ion-icon name="star"></ion-icon>
				<ion-icon name="star"></ion-icon>
				<ion-icon name="star"></ion-icon>
				<ion-icon name="star"></ion-icon>
				<ion-icon name="star-outline"></ion-icon>
			</div>
		</div>
	</div>

	<div class="prodetails-segment">
		<ion-segment>
			<ion-segment-button routerLink="/product-details">
				<ion-label>DETAILS</ion-label>
			</ion-segment-button>
			<ion-segment-button routerLink="/product-specs">
				<ion-label>SPECS</ion-label>
			</ion-segment-button>
			<ion-segment-button checked routerLink="/product-reviews">
				<ion-label>REVIEWS</ion-label>
			</ion-segment-button>
			<ion-segment-button routerLink="/product-similar">
				<ion-label>SIMILAR</ion-label>
			</ion-segment-button>
		</ion-segment>
		<div class="segment-content">
			<div class="review-list">
				<div class="review-item">
					<ion-item lines="none">
						<ion-avatar slot="start">
							<img src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y">
						</ion-avatar>
						<ion-label class="review-grey">Rosetta Becker</ion-label>
						<div class="product-rating">
							<ion-icon name="star"></ion-icon>
							<ion-icon name="star"></ion-icon>
							<ion-icon name="star"></ion-icon>
							<ion-icon name="star"></ion-icon>
							<ion-icon name="star-outline"></ion-icon>
						</div>
					</ion-item>
					<div class="review-text">
						Fast delivery and item is good. Highly recommend it!
					</div>
					<div class="review-grey">13 Dec 2017</div>
				</div>
				<div class="review-item">
					<ion-item lines="none">
						<ion-avatar slot="start">
							<img src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y">
						</ion-avatar>
						<ion-label class="review-grey">Harvey Washington</ion-label>
						<div class="product-rating">
							<ion-icon name="star"></ion-icon>
							<ion-icon name="star"></ion-icon>
							<ion-icon name="star"></ion-icon>
							<ion-icon name="star"></ion-icon>
							<ion-icon name="star-outline"></ion-icon>
						</div>
					</ion-item>
					<div class="review-text">
						We love it. Can’t wait to try it out. I have been having pore problems since forever.
					</div>
					<div class="review-grey">14 Jul 2017</div>
				</div>
			</div>
			<a class="review-grey review-all ion-text-center">All reviews loaded.</a>
		</div>
	</div>
</ion-content>

<ion-footer class="prodetails-ionfooter">
	<ion-toolbar>
		<div class="prodetails-footer">
			<div class="prodetails-footer__stock"><span>12</span> In Stock</div>
			<ion-button color="primary" routerLink="/product-add-to-cart">ADD TO CART</ion-button>
		</div>
	</ion-toolbar>
</ion-footer>
