<ion-header>
	<ion-toolbar color="primary">
		<ion-buttons slot="start">
			<ion-back-button defaultHref="purchase"></ion-back-button>
		</ion-buttons>
		<ion-title>Order Details</ion-title>
	</ion-toolbar>
</ion-header>

<ion-content>
	<div class="details-customer">
		<div class="details-customer__head">
			<ion-item lines="none" class="customer-id">
				<ion-label>
					<h2>P.O. No: SH2017050358492 </h2>
					<h3>Placed on 11 Jun 2019</h3>
				</ion-label>
				<ion-label class="orange ion-text-right">Processing</ion-label>
			</ion-item>
			<p>
				<span class="question">Delivery Option</span>
				<span class="answer">Courier Delivery</span>
			</p>
			<p>
				<span class="question">Amount</span>
				<span class="answer">RM 1,454.00 + 50 Points</span>
			</p>
			<p>
				<span class="question">Username</span>
				<span class="answer">sarah.lim92</span>
				<span class="question">User ID</span>
				<span class="answer">13550</span>
			</p>
			<p>
				<span class="question">Email</span>
				<span class="answer">sarah92@gmail.com</span>
			</p>
		</div>
		<div class="details-customer__link ion-text-center">
			<a>ADD ALL ITEMS TO CART</a>
		</div>
	</div>

	<div class="details-product">
		<div class="product-title">
			<ion-icon name="rose" style="color: rgba(255,195,95,1);"></ion-icon><span>Juniper Beauty</span>
		</div>
		<ion-list class="ion-no-padding">
			<div class="product-item">
				<ion-item>
					<ion-avatar slot="start">
						<img src="../../assets/images/product-1.png">
					</ion-avatar>
					<ion-label>
						<div>Active Tonic</div>
						<p>500 ml</p>
					</ion-label>
					<ion-label class="price">RM 299.00</ion-label>
				</ion-item>
				<div class="product-total">
					<p>
						<span>Item(s):</span>
						<span>2</span>
					</p>
					<p>
						<span>Subtotal:</span>
						<span>RM 598.00</span>
					</p>
				</div>
			</div>
			<div class="product-item">
				<ion-item>
					<ion-avatar slot="start">
						<img src="../../assets/images/product-1.png">
					</ion-avatar>
					<ion-label>
						<div>C+1 & C+2</div>
						<p>200 ml</p>
					</ion-label>
					<ion-label class="price">RM 799.00</ion-label>
				</ion-item>
				<div class="product-total">
					<p>
						<span>Item(s):</span>
						<span>1</span>
					</p>
					<p>
						<span>Subtotal:</span>
						<span>RM 799.00</span>
					</p>
				</div>
			</div>
		</ion-list>
		<div class="detail">
			<span>Detail</span>
			<ion-icon name="arrow-down" mode="ios"></ion-icon>
		</div>
	</div>

	<div class="details-progress">
		<div class="step done">
			<div class="step-circle"></div>
			<div class="step-name">Packing</div>
		</div>
		<div class="step ongoing">
			<div class="step-circle"></div>
			<div class="step-name">Delivery</div>
		</div>
		<div class="step">
			<div class="step-circle"></div>
			<div class="step-name">Received</div>
		</div>
	</div>

	<div class="details-product">
		<div class="product-title">
			<ion-icon name="rose" style="color: rgba(255,195,95,1);"></ion-icon><span>Juniper Beauty</span>
		</div>
		<ion-list class="ion-no-padding">
			<div class="product-item">
				<ion-item>
					<ion-avatar slot="start">
						<img src="../../assets/images/product-1.png">
					</ion-avatar>
					<ion-label>
						<div>Sophia Cell Inversion</div>
						<p>Appointment on 24 Jun, 2019<br>11:00 AM - 12:00 PM</p>
					</ion-label>
					<ion-label class="price">RM 100.00</ion-label>
				</ion-item>
				<div class="product-total">
					<p>
						<span>Item(s):</span>
						<span>1</span>
					</p>
					<p>
						<span>Subtotal:</span>
						<span>RM 100.00</span>
					</p>
				</div>
			</div>
		</ion-list>
	</div>
</ion-content>
