<ion-header>
	<ion-toolbar color="primary">
		<ion-buttons slot="start">
			<ion-back-button defaultHref="payment-credit-debit-card"></ion-back-button>
		</ion-buttons>
		<ion-title>Choose Card</ion-title>
	</ion-toolbar>
</ion-header>

<ion-content>
	<div class="ion-padding">
		<ion-list class="card-list">
			<ion-item lines="none">
				<ion-avatar slot="start">
					<img src="../assets/images/card-1.png">
				</ion-avatar>
				<ion-label>
					<span>Card Number</span>
					<b>**** **** **** 3792</b>
				</ion-label>
				<span>Default</span>
			</ion-item>
			<ion-item lines="none">
				<ion-avatar slot="start">
					<img src="../assets/images/card-2.png">
				</ion-avatar>
				<ion-label>
					<span>Card Number</span>
					<b>**** **** **** 3849</b>
				</ion-label>
			</ion-item>
			<a routerLink="/payment-add-new-card">Add New Card</a>
		</ion-list>
	</div>
</ion-content>
