.card {
	&-list {
		padding: 0;

		ion-label {
			font-size: 14px;
			line-height: 20px;
			color: rgba(0,0,0,0.54);

			> * {
				display: block;
			}

			b {
				color: rgba(0,0,0,0.87);
			}
		}

		ion-item  {
			> span {
				margin-left: auto;
				font-size: 12px;
				color: rgba(0,0,0,0.54);
			}

			& + ion-item {margin-top: 10px;}
		}

		> a {
			display: inline-block;
			color: rgba(0,0,0,0.87);
			font-size: 16px;
			line-height: 24px;
			padding: 24px 0;
		}
	}
}