<!-- class `show` to display popup -->
<ion-content class="popup show">
	<ion-card class="shop popup-box">
		<ion-card-content class="shop-card">
			<div class="shop-content">
				<ion-icon name="close" class="shop-close" routerLink="/cust-new-appt-details"></ion-icon>
				<div class="shop-rating d-flex">
					<img src="../assets/images/shop-1a.png" alt="">
					<div class="shop-rating__info">
						<b>Amy Chan</b>
						<div class="product-rating">
							<ion-icon name="star"></ion-icon>
							<ion-icon name="star"></ion-icon>
							<ion-icon name="star"></ion-icon>
							<ion-icon name="star"></ion-icon>
							<ion-icon name="star-outline"></ion-icon>
							<span>(4)</span>
						</div>
					</div>
				</div>
				<div class="shop-desc">
					Amy Chan has a diploma in Skin Care and is the head beautician of Aimee Beauty Skincare.
				</div>
				<div class="shop-info">
					<div class="d-flex">
						<ion-icon name="call"></ion-icon>
						<span>+60120324849</span>
					</div>
					<div class="d-flex">
						<ion-icon name="information-circle-outline"></ion-icon>
						<span>Extraction, Detoxifying</span>
					</div>
					<div class="d-flex">
						<ion-icon name="flower"></ion-icon>
						<span>Expert</span>
					</div>
				</div>
			</div>
		</ion-card-content>
		<div class="card-footer--icon ion-text-center">
			<ion-icon name="call"></ion-icon>
		</div>
	</ion-card>
</ion-content>