<ion-header>
	<ion-toolbar color="primary">
		<ion-buttons slot="start">
			<ion-button routerLink="/register-type"><ion-icon name="close"></ion-icon></ion-button>
		</ion-buttons>
		<ion-title>New Customer</ion-title>
	</ion-toolbar>
</ion-header>

<ion-content>
	<div class="register-progress">
		<a class="" routerLink="/q5-q8">BACK</a>
		<div class="step-bar">
			<div class="step-dot"></div>
			<div class="step-dot"></div>
			<div class="step-dot step-ongoing"><span></span></div>
			<div class="step-dot"></div>
		</div>
		<a class="" routerLink="/q13">NEXT</a>
	</div>

	<div class="ion-padding">
		<div class="main-form">
			<ion-label>9. Have you received any of the following treatment?</ion-label>
			<ion-label>a. Laser/IPL/E-Light</ion-label>
			<ion-item class="main-input main-input--radio" lines="none">
				<div class="choose ion-margin-bottom">
					<ion-radio-group name="">
						<ion-item lines="none">
							<ion-label>Yes</ion-label>
							<ion-radio name="q9a" mode="md" value="Yes"></ion-radio>
						</ion-item>
						<ion-item lines="none">
							<ion-label>No</ion-label>
							<ion-radio name="q9a" mode="md" value="No"></ion-radio>
						</ion-item>
					</ion-radio-group>
				</div>
			</ion-item>

			<ion-label>b. Microdermabrasion</ion-label>
			<ion-item class="main-input main-input--radio" lines="none">
				<div class="choose ion-margin-bottom">
					<ion-radio-group name="">
						<ion-item lines="none">
							<ion-label>Yes</ion-label>
							<ion-radio name="q9b" mode="md" value="Yes"></ion-radio>
						</ion-item>
						<ion-item lines="none">
							<ion-label>No</ion-label>
							<ion-radio name="q9b" mode="md" value="No"></ion-radio>
						</ion-item>
					</ion-radio-group>
				</div>
			</ion-item>

			<ion-label>10. Have you had any recent surgery?</ion-label>
			<ion-item class="main-input main-input--radio" lines="none">
				<div class="choose ion-margin-bottom">
					<ion-radio-group name="">
						<ion-item lines="none">
							<ion-label>Yes</ion-label>
							<ion-radio name="q10" mode="md" value="Yes"></ion-radio>
						</ion-item>
						<ion-item lines="none">
							<ion-label>No</ion-label>
							<ion-radio name="q10" mode="md" value="No"></ion-radio>
						</ion-item>
					</ion-radio-group>
				</div>
			</ion-item>

			<ion-label>11. Are you pregnant?</ion-label>
			<ion-item class="main-input main-input--radio" lines="none">
				<div class="choose ion-margin-bottom">
					<ion-radio-group name="">
						<ion-item lines="none">
							<ion-label>Yes</ion-label>
							<ion-radio name="q11" mode="md" value="Yes"></ion-radio>
						</ion-item>
						<ion-item lines="none">
							<ion-label>No</ion-label>
							<ion-radio name="q11" mode="md" value="No"></ion-radio>
						</ion-item>
					</ion-radio-group>
				</div>
			</ion-item>

			<ion-label>12. Do you use Sun Blok?</ion-label>
			<ion-item class="main-input main-input--radio" lines="none">
				<div class="choose ion-margin-bottom">
					<ion-radio-group name="">
						<ion-item lines="none">
							<ion-label>Yes</ion-label>
							<ion-radio name="q12" mode="md" value="Yes"></ion-radio>
						</ion-item>
						<ion-item lines="none">
							<ion-label>No</ion-label>
							<ion-radio name="q12" mode="md" value="No"></ion-radio>
						</ion-item>
					</ion-radio-group>
				</div>
			</ion-item>
		</div>
	</div>
</ion-content>
