<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="home">
      <ion-icon name="md-home"></ion-icon>
      <ion-label>Home</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="product">
      <ion-icon name="ios-gift"></ion-icon>
      <ion-label>Product</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="account">
      <ion-icon name="md-person"></ion-icon>
      <ion-label>Account</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="more">
      <ion-icon name="md-more"></ion-icon>
      <ion-label>More</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
