<ion-header>
	<ion-toolbar color="primary">
		<ion-buttons slot="start">
			<ion-button routerLink="/register-type"><ion-icon name="close"></ion-icon></ion-button>
		</ion-buttons>
		<ion-title>New Customer</ion-title>
	</ion-toolbar>
</ion-header>

<ion-content class="bg-gray">
	<div class="register-progress">
		<a class="" routerLink="/register-four-five">BACK</a>
		<div class="step-bar">
			<div class="step-dot step-ongoing"><span></span></div>
			<div class="step-dot"></div>
			<div class="step-dot"></div>
			<div class="step-dot"></div>
		</div>
		<a class="" routerLink="/register-face">NEXT</a>
	</div>

	<div class="ion-padding">
		<div class="main-form">
			<ion-label>How do you know about us?</ion-label>
			<ion-item class="main-input main-input--radio full" lines="none">
				<div class="choose ion-margin-bottom">
					<ion-radio-group name="view_by_periode">
						<ion-item lines="none">
							<ion-label>Advertisement</ion-label>
							<ion-radio name="option" mode="md" value="Advertisement"></ion-radio>
						</ion-item>
						<ion-item lines="none">
							<ion-label>Walk In</ion-label>
							<ion-radio name="option" mode="md" value="Walk In"></ion-radio>
						</ion-item>
						<ion-item lines="none">
							<ion-label>Road Show</ion-label>
							<ion-radio name="option" mode="md" value="Road Show"></ion-radio>
						</ion-item>
						<ion-item lines="none">
							<ion-label>Word Of Mouth</ion-label>
							<ion-radio name="option" mode="md" value="Word Of Mouth"></ion-radio>
						</ion-item>
						<ion-item lines="none">
							<ion-label>Other</ion-label>
							<ion-radio name="option" mode="md" value="Other"></ion-radio>
						</ion-item>
					</ion-radio-group>
				</div>
			</ion-item>
			<ion-item class="main-input">
				<ion-label position="stacked" class="show">Please specify</ion-label>
				<ion-input placeholder="Please specify"></ion-input>
			</ion-item>
		</div>
	</div>
</ion-content>
