.big-icon {
	color: #3765A1;
	font-size: 24px;
}

/* Calendar*/
/*--------------------------*/
.calendar {
	&-picker {
		padding: 12px 10px 8px;
		margin-top: 8px;
		box-shadow: 0 2px 4px rgba(0,0,0,0.12);
		background: #FFF;
	}

	&-head {
		color: rgba(0,0,0,0.38);
		justify-content: space-between;
		margin: 0 -5px 16px;

		h5 {
			color: rgba(0,0,0,0.87);
			font-size: 14px;
			margin: 0;
		}

		ion-icon {
			font-size: 16px;
			min-width: calc(100% / 7);
		}
	}

	&-row {
		margin-left: -5px;
		margin-right: -5px;
		font-size: 12px;
		line-height: 24px;
		color: rgba(0,0,0,0.87);

		&.day {
			font-weight: 500;
			color: rgba(0,0,0,0.38);
		}

		&:not(.day) > span {
			background-color: #F5F5F5;
		}

		> span {
			width: calc((100% / 7) - 10px);
			margin: 8px 5px;
			text-align: center;

			&.disabled {
				opacity: .3;
				background-color: #fff;
			}

			&.full {
				color: #FAA5A3;
				background-color: #fff;
			}

			&.booked {
				color: #fff;
				background-color: #8DBDEB;
			}

			&.selected {
				color: #3765A1;
				background-color: #FFC35F;
				font-weight: bold;
			}
		}

		&.time > span {
			width: calc((100% / 4) - 10px);
			padding: 8px;
			font-size: 14px;
		}

		&.right {
			justify-content: flex-end;
		}
	}

	&-label {
		padding: 18px 10px 10px;

		span {display: inline-block;}

		> .d-flex {margin-right: 16px;}

		.square {
			width: 16px;
			height: 16px;
			margin-right: 10px;

			&.full {background-color: #FAA5A3;}
			&.booked {background-color: #8DBDEB;}
			&.selected {background-color: #FFC35F;}
		}

		.text {
			line-height: 16px;
			color: rgba(0,0,0,0.87);
		}
	}

	&-time {
		padding: 0 10px;
	}

	&-wait {
		background-color: rgba(141, 189, 235, .2);
		color: rgba(0,0,0,0.87);
		margin-top: 8px;
	}
}

/* Shop Card*/
/*--------------------------*/
.shop {
	&-card {
		padding: 0;
		margin-bottom: 16px;
	}

	&-slider {
		img {
			width: 100%;
			height: 230px;
			object-fit: cover;
		}
	}

	&-content {
		padding: 10px 16px 16px 16px;
		color: rgba(0,0,0,0.87);

		a {
			font-weight: 500;
		}
	}

	&-rating {
		margin-bottom: 8px;

		img {
			width: 64px;
			height: 64px;
			object-fit: cover;
			margin-right: 16px;
		}

		b {line-height: 24px;}

		.product-rating {
			font-size: 12px;
			line-height: 16px;

			> * {
				height: 16px;
				float: left;
			}

			span {
				color: rgba(0,0,0,0.87);
				margin-left: 10px;
			}
		}
	}

	&-info {
		margin-top: 12px;
		margin-left: -16px;
		min-height: 24px;

		ion-icon {
			color: #9E9E9E;
			font-size: 20px;
			min-width: 96px;
			width: 96px;
			text-align: center;
			transform: translateY(2px);
		}

		.d-flex + .d-flex {margin-top: 12px;}
	}


	&-option {
		margin-bottom: 32px;
	}
}

/* Row with icon*/
/*--------------------------*/
.row-wicon {
	position: relative;
	padding: 12px 8px;

	.wicon {
		&-icon {
			font-size: 22px;
			width: 56px;
			min-width: 56px;
		}

		&-title {
			color: rgba(0,0,0,0.87);
			font-size: 16px;

			.orange {font-size: 14px;}
		}

		&-subtitle {
			font-size: 14px;
			font-weight: 500;
			color: #8DBDEB;
		}

		&-small {
			font-size: 12px;
			color: rgba(0,0,0,0.54);
		}

		&-arrow {
			position: absolute;
    		right: 0;
		    top: 13px;
		    font-size: 20px;
		    color: rgba(0,0,0,0.87);
		}
	}
}

/* Appointment Card*/
/*--------------------------*/
.appt {
	&-card {
		font-size: 14px;
		padding-top: 8px;

		.no-radius {--border-radius: 0;}

		.product-rating {
			font-size: 12px;
			line-height: 16px;

			> * {
				height: 16px;
				float: left;
			}

			span {
				color: rgba(0,0,0,0.87);
				margin-left: 10px;
			}
		}

		&__list {
			color: rgba(0,0,0,0.54);
			font-size: 14px;
			--min-height: 26px;

			ion-icon {
				width: 40px;
				margin-right: 16px;
				color: #9E9E9E;
				font-size: 20px;
			}

			&.item ion-label {
				margin: 0;
				white-space: normal;
			}

			& + .appt-card__list {margin-top: 8px;}
		}

		ion-label .appt-name {font-weight: 500;}

		&.totals {
			color: rgba(0,0,0,0.54);
			padding: 16px;

			.total-price {
				margin-bottom: 8px;

				span:last-child {
					color: rgba(0,0,0,0.87);
					font-weight: 500;
					margin-left: 12px;
				}
			}
		}
	}

	&-name {
		font-weight: 500;
	}
	
	&-date {
		display: flex;
		align-items: center;
		justify-content: space-between;
		box-shadow: 0 2px 4px rgba(0,0,0,0.12);
		background-color: rgba(141,189,235,0.2);
		margin: 0;
		color: rgba(0,0,0,0.87);
		font-size: 16px;
		line-height: 28px;

		.date {
			font-size: 20px;
			font-weight: 500;
		}

		.orange {
			text-align: right;
		    max-width: 60px;
		    margin-left: 15px;
		    font-size: 14px;
		    line-height: 20px;
		}

		.gray {
			color: rgba(0,0,0,0.54);
			font-size: 14px;
		}
	}

	&-desc {
		color: rgba(0,0,0,0.87);
		padding-bottom: 16px;
	}

	&-reserve {
		margin: 0 8px;

		ion-card-content {
			padding: 3px 8px;
			min-height: 62px;
		}

		ion-avatar {--border-radius: 0;}

		h5 {
			margin: 0;
			font-weight: 500;
			color: rgba(0,0,0,0.87);
			line-height: 24px;
		}

		&__list {
			color: rgba(0,0,0,0.54);
			--min-height: 24px;
			font-size: 14px;

			ion-icon {
				margin-right: 8px;
				font-size: 20px;
			}

			ion-label {
				margin: 0;
				font-size: 14px;
			}
		}
	}
}

/* Cart Badge*/
/*--------------------------*/
ion-header ion-button {
	position: relative;

	ion-badge {
		position: absolute;
		top: 0;
		right: 2px;
		width: 16px;
		height: 16px;
		line-height: 16px;
		font-size: 10px;
		border-radius: 100%;
		background-color: rgba(255,125,0,1);
		color: #fff;
		padding: 0;
		text-align: center;
	}
}

/* Package*/
/*--------------------------*/
.package {
	&-shop {
		font-size: 14px;
		padding: 16px 16px 8px;
		--min-height: 24px;

		img {
			width: 24px;
			height: 24px;
			object-fit: cover;
			margin-right: 8px;
		}

		ion-icon {
			margin-left: auto;
		    color: #3765A1;
		    font-size: 20px;
		}
	}

	&-qrcode img {
		width: 142px;
	}

	&-price {
		align-items: center;
		margin-top: 8px;
		color: rgba(0,0,0,0.54);

		span {min-width: 70px;}

		del {margin-left: 8px;}

		& + * {margin-top: 8px;}
	}

	&-card {
		color: rgba(0,0,0,0.87);
		margin-bottom: 0;

		&.blue-bg {background: rgba(141,189,235,0.2);}

		h1 {
			font-size: 20px;
			font-weight: 500;
    		margin-bottom: 8px;
		}

		ion-icon {
			color: #9E9E9E;
			font-size: 16px;
			margin-right: 20px;
		}

		.gray {color: rgba(#000, .3);}
	}

	&-details {
		color: rgba(0,0,0,0.54);
		
		b {
			display: block;
		    line-height: 24px;
		    margin-bottom: 8px;
		}

		p {
			color: rgba(0,0,0,0.87);
			margin-top: 0;
		}
	}
}

/* Voucher*/
/*--------------------------*/
.voucher {
	&-title {
		font-size: 16px;
		color: rgba(0,0,0,0.87);
	}

	&-desc {
		font-weight: 500;
		color: rgba(0,0,0,0.54);
	}

	&-item {
		align-items: center;
		padding: 16px;
		line-height: 24px;

		ion-icon {
			margin-right: 30px;
			font-size: 24px;
		}
	}

	&-card {
		background: rgba(141,189,235,0.2);
		align-items: center;
		font-size: 16px;
		line-height: 24px;
		color: rgba(0,0,0,0.87);

		b {
			font-size: 24px;
			line-height: 32px;
			display: block;
			font-weight: 600;
		}

		&__points {
			color: #FF7D00;
			min-width: 120px;
		}

		&__info {
			border-right: 2px dashed #FFF;
			padding: 40px 16px;

			b {margin-bottom: 8px;}
		}
	}
}

/* Tabs Header*/
/*--------------------------*/
ion-header .tabs {
	--min-height: 48px;
	font-weight: 500;

	&-col {
		width: 50%;
		line-height: 48px;
		letter-spacing: .5px;
		position: relative;

		&:after {
			content: '';
			position: absolute;
			bottom: 0;
			left: 0;
			width: 100%;
			height: 2px;
			background: #FFF;
		}

		&:not(.active) {
			opacity: .54;

			&:after {
				display: none;
			}
		}
	}
}

/* Popup*/
/*--------------------------*/
.popup {
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	background: rgba(0,0,0,0.7);
	--background: rgba(0,0,0,0.7);
	z-index: 99;
	display: none;

	.shop-close {
		position: absolute;
	    top: 8px;
	    right: 8px;
	    font-size: 24px;
	    color: #424242;
	}

	&-box {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		margin: 0;
		width: calc(100% - 16px);
		background: #FFF;
	}

	.card-footer--icon ion-icon {font-size: 20px;}

	&.show {display: block;}
}