html.ios, html.md {
  font-weight: normal;
  color: var(--ion-color-main-text);
  font-size: 14px;
  background-color: var(--ion-color-primary-contrast);
}

html h1,
html h2,
html h3,
html h4,
html h5 {
  color: var(--ion-color-main-text-dark);
}

html h1 {
  font-size: 20px;
  line-height: 28px;
}

html a {
  text-decoration: none;
}

ion-header ion-toolbar {
  --min-height: 56px;
}

ion-header ion-toolbar ion-title {
  font-size: 20px;
}

ion-header ion-toolbar ion-back-button {
  font-size: 14px !important;
  padding: 0 8px;
  --color: var(--ion-color-main-text) !important;
}

ion-content {
  --color: var(--ion-color-main-text);
}

.semi-bold {
  font-weight: 500;
}

/* Form*/
.main-input {
  font-size: 16px;
  line-height: 24px;
  margin-bottom: 40px;
}

.main-input ion-input input.native-input {
  padding-left: 0;
}
