<ion-header>
	<ion-toolbar color="primary">
		<ion-buttons slot="start">
			<ion-button routerLink="/cust-purchased-packages"><ion-icon name="arrow-back"></ion-icon></ion-button>
		</ion-buttons>
		<ion-title>Package Details</ion-title>
	</ion-toolbar>
</ion-header>

<ion-content>
	<ion-item class="package-shop" lines="none">
		<img src="assets/images/shop-1a.png" alt="">
		<b>Juniper Beauty</b>
	</ion-item>
	<ion-card class="package-card">
		<ion-card-content>
			<h1>Gold Package</h1>
			<div><b>8 sessions total</b></div>
			<div class="package-price d-flex">
				<ion-icon name="logo-usd"></ion-icon>
				<span>RM 600</span>
				<del>RM 900</del>
			</div>
			<div><b class="gray">All sessions redeemed</b></div>
		</ion-card-content>
	</ion-card>

	<div class="package-details ion-padding">
		<p>Purchased on 21 Feb, 2019</p>
		<div class="row-wicon d-flex ion-margin-bottom" routerLink="/cust-redemption-history">
			<div class="wicon-icon"><ion-icon name="alarm" style="color: #8DBDEB;"></ion-icon></div>
			<div class="wicon-title">
				Redemption History
			</div>
			<ion-icon name="arrow-forward" mode="ios" class="wicon-arrow"></ion-icon>
		</div>
		<b>Terms & Conditions</b>
		<p>
			- Expiry date: 31 July, 2019 <br>
			- May not be used with other promotions.
		</p>
	</div>
</ion-content>
