<ion-header>
	<ion-toolbar color="primary">
		<ion-buttons slot="start">
			<ion-back-button defaultHref="order-form"></ion-back-button>
		</ion-buttons>
		<ion-title>Order Details</ion-title>
	</ion-toolbar>
</ion-header>

<ion-content>
	<div class="details-customer">
		<div class="details-customer__head">
			<ion-item lines="none" class="customer-id">
				<ion-label>
					<h2>P.O. No: SH2017050358492 </h2>
					<h3>Placed on 11 Jun 2019</h3>
				</ion-label>
				<ion-label class="orange ion-text-right">Processing</ion-label>
			</ion-item>
			<p>
				<span class="question">Delivery Option</span>
				<span class="answer">Courier Delivery</span>
			</p>
			<p>
				<span class="question">Delivery</span>
				<span class="answer">RM 12,580.00</span>
			</p>
			<p>
				<span class="question">Username</span>
				<span class="answer">Juniper Beauty</span>
				<span class="question">User ID</span>
				<span class="answer">13550</span>
			</p>
			<p>
				<span class="question">Email</span>
				<span class="answer">juniperbeauty@email.com</span>
			</p>
		</div>
		<div class="details-customer__link ion-text-center">
			<a>ADD ALL ITEMS TO CART</a>
		</div>
	</div>

	<div class="details-product">
		<div class="product-title">
			<ion-icon name="rose" style="color: rgba(255,195,95,1);"></ion-icon><span>Sophia Swiss HQ</span>
		</div>
		<ion-list class="ion-no-padding">
			<div class="product-item">
				<ion-item>
					<ion-avatar slot="start">
						<img src="../../assets/images/product-1.png">
					</ion-avatar>
					<ion-label>
						<div>Active Tonic</div>
						<p>500 ml</p>
					</ion-label>
					<ion-label class="price">RM 299.00</ion-label>
				</ion-item>
				<div class="product-total">
					<p>
						<span>Item(s):</span>
						<span>20</span>
					</p>
					<p>
						<span>Subtotal:</span>
						<span>RM 5980.00</span>
					</p>
				</div>
			</div>
		</ion-list>
	</div>
</ion-content>

<ion-footer>
	<!-- ./added-cart -->
	<ion-toolbar class="ion-text-left added-cart">
		<ion-text>All items added to cart.</ion-text>
	</ion-toolbar>
	<!-- ./added-cart -->
</ion-footer>