<ion-content>
	<div class="tips ion-text-center">
		<h1>Welcome to SophiaSwiss</h1>

		<ion-slides pager="true" class="tips-slider">
			<ion-slide>
				<div class="tips-item">
					<img class="tips-img" src="../../assets/images/img-tips-1.png" alt="">
					<div class="tips-text">Browse thousands of products.</div>
					<ion-button expand="block" class="tips-btn" routerLink="/cust-home">SKIP</ion-button>
				</div>
			</ion-slide>
			<ion-slide>
				<div class="tips-item">
					<img class="tips-img" src="../../assets/images/img-tips-2.png" alt="">
					<div class="tips-text">Easily make appointments.</div>
					<ion-button expand="block" class="tips-btn" routerLink="/cust-home">LET’S GO!</ion-button>
				</div>
			</ion-slide>
		</ion-slides>
	</div>
</ion-content>
