<ion-header>
	<ion-toolbar color="primary">
		<ion-buttons slot="start">
			<ion-button routerLink="/register-type"><ion-icon name="close"></ion-icon></ion-button>
		</ion-buttons>
		<ion-title>New Customer</ion-title>
	</ion-toolbar>
</ion-header>

<ion-content>
	<div class="register-progress">
		<a class="" routerLink="/register-face">BACK</a>
		<div class="step-bar">
			<div class="step-dot"></div>
			<div class="step-dot"></div>
			<div class="step-dot step-ongoing"><span></span></div>
			<div class="step-dot"></div>
		</div>
		<a class="" routerLink="/q5-q8">NEXT</a>
	</div>

	<div class="ion-padding">
		<div class="main-form">
			<ion-label>1. Do you sleep well/poorly?</ion-label>
			<ion-item class="main-input main-input--radio" lines="none">
				<div class="choose ion-margin-bottom">
					<ion-radio-group name="">
						<ion-item lines="none">
							<ion-label>Well</ion-label>
							<ion-radio name="q1" mode="md" value="Well"></ion-radio>
						</ion-item>
						<ion-item lines="none">
							<ion-label>Poorly</ion-label>
							<ion-radio name="q1" mode="md" value="Poorly"></ion-radio>
						</ion-item>
					</ion-radio-group>
				</div>
			</ion-item>

			<ion-label>2. Do you work office hours/nights/irregular hours?</ion-label>
			<ion-item class="main-input main-input--radio full" lines="none">
				<div class="choose ion-margin-bottom">
					<ion-radio-group name="">
						<ion-item lines="none">
							<ion-label>Office Hours</ion-label>
							<ion-radio name="q2" mode="md" value="Office Hours"></ion-radio>
						</ion-item>
						<ion-item lines="none">
							<ion-label>Nights</ion-label>
							<ion-radio name="q2" mode="md" value="Nights"></ion-radio>
						</ion-item>
						<ion-item lines="none">
							<ion-label>Irregular Hours</ion-label>
							<ion-radio name="q2" mode="md" value="Irregular Hours"></ion-radio>
						</ion-item>
					</ion-radio-group>
				</div>
			</ion-item>

			<ion-label>3. Do you smoke?</ion-label>
			<ion-item class="main-input main-input--radio" lines="none">
				<div class="choose ion-margin-bottom">
					<ion-radio-group name="">
						<ion-item lines="none">
							<ion-label>Yes</ion-label>
							<ion-radio name="q3" mode="md" value="Yes"></ion-radio>
						</ion-item>
						<ion-item lines="none">
							<ion-label>No</ion-label>
							<ion-radio name="q3" mode="md" value="No"></ion-radio>
						</ion-item>
					</ion-radio-group>
				</div>
			</ion-item>

			<ion-label>4. Do you drink Alcohol?</ion-label>
			<ion-item class="main-input main-input--radio" lines="none">
				<div class="choose ion-margin-bottom">
					<ion-radio-group name="">
						<ion-item lines="none">
							<ion-label>Yes</ion-label>
							<ion-radio name="q4" mode="md" value="Yes"></ion-radio>
						</ion-item>
						<ion-item lines="none">
							<ion-label>No</ion-label>
							<ion-radio name="q4" mode="md" value="No"></ion-radio>
						</ion-item>
					</ion-radio-group>
				</div>
			</ion-item>
		</div>
	</div>
</ion-content>
