<ion-header>
	<ion-toolbar color="primary">
		<ion-buttons slot="start">
			<ion-back-button defaultHref=""></ion-back-button>
		</ion-buttons>
		<ion-title>Order Form</ion-title>
	</ion-toolbar>
	<ion-toolbar><ion-searchbar placeholder="Search order form"></ion-searchbar></ion-toolbar>
</ion-header>

<ion-content>
	<ion-list class="ion-padding">
		<ion-item lines="none" routerLink="/order-details-delivery">
			<ion-label class="purchase-id">
				<h2>SH2017050358492</h2>
				<h3>Placed on 11 Jun 2019</h3>
			</ion-label>
			<ion-label class="orange">Processing</ion-label>
		</ion-item>
		<ion-item lines="none" routerLink="/order-details-delivery">
			<ion-label class="purchase-id">
				<h2>SH2017050358492</h2>
				<h3>Placed on 11 Jun 2019</h3>
			</ion-label>
			<ion-label>Closed</ion-label>
		</ion-item>
		<ion-item lines="none" routerLink="/order-details-delivery">
			<ion-label class="purchase-id">
				<h2>SH2017050358490</h2>
				<h3>Placed on 15 May 2019</h3>
			</ion-label>
			<ion-label>Closed</ion-label>
		</ion-item>
		<ion-item lines="none" routerLink="/order-details-delivery">
			<ion-label class="purchase-id">
				<h2>SH2017050358489</h2>
				<h3>Placed on 11 May 2019</h3>
			</ion-label>
			<ion-label>Cancelled</ion-label>
		</ion-item>
	</ion-list>
</ion-content>
