h1 {margin: 0 0 8px;}

.shop {
	&-card {
		padding: 0;
		margin-bottom: 16px;
	}

	&-slider {
		img {
			width: 100%;
			height: 230px;
			object-fit: cover;
		}
	}

	&-content {
		padding: 10px 16px 16px 16px;
		color: rgba(0,0,0,0.87);

		a {
			font-weight: 500;
		}
	}

	&-rating {
		margin-bottom: 8px;

		img {
			width: 64px;
			height: 64px;
			object-fit: cover;
			margin-right: 16px;
		}

		b {line-height: 24px;}

		.product-rating {
			font-size: 12px;
			line-height: 16px;

			> * {
				height: 16px;
				float: left;
			}

			span {
				color: rgba(0,0,0,0.87);
				margin-left: 10px;
			}
		}
	}

	&-info {
		margin-top: 12px;
		min-height: 24px;

		ion-icon {
			color: #9E9E9E;
			font-size: 20px;
			min-width: 80px;
			width: 80px;
			text-align: center;
			transform: translateY(2px);
		}

		.d-flex + .d-flex {margin-top: 12px;}
	}


	&-option {
		margin-bottom: 32px;
	}
}

.row-wicon {
	position: relative;
	padding: 12px 8px;

	.wicon {
		&-icon {
			font-size: 22px;
			width: 56px;
			min-width: 56px;
		}

		&-title {
			color: rgba(0,0,0,0.87);
			font-size: 16px;

			.orange {font-size: 14px;}
		}

		&-subtitle {
			font-size: 14px;
			font-weight: 500;
			color: #8DBDEB;
		}

		&-small {
			font-size: 12px;
			color: rgba(0,0,0,0.54);
		}

		&-arrow {
			position: absolute;
    		right: 0;
		    top: 13px;
		    font-size: 20px;
		    color: rgba(0,0,0,0.87);
		}
	}
}

.footer-md:before {display: none;}

ion-footer {
	box-shadow: 0 0 4px rgba(0,0,0,0.5);

	ion-button {
		--border-radius: 0;
    	--box-shadow: none;
    	margin: 0;
    	height: 40px;
	}

	.shop-fav {
		width: 70px;
		--background: #fff;
		color: #EF5350;
	}

	.shop-share {
		width: 70px;
		--background: #F5A623;
	}

	.shop-appt {
		width: calc(100% - 140px);
	}
}