<ion-content>
	<div class="ion-text-center ion-padding set-language">
		<img class="main-logo" src="../../assets/images/logo_long.png" alt="">
		<h1>Welcome to SophiaSwiss <br>Dealer App</h1>
		<p>What language do you prefer?</p>

		<ion-button expand="block">ENGLISH</ion-button>
		<ion-button expand="block">BAHASA MALAYSIA</ion-button>
		<ion-button expand="block">中文</ion-button>
	</div>
</ion-content>
