<ion-header>
	<ion-toolbar color="primary">
		<ion-buttons slot="start">
			<ion-back-button defaultHref="cust-gallery"></ion-back-button>
		</ion-buttons>
		<ion-title>
			New Product Launch
			<div>30 Jul 2019</div>
		</ion-title>
	</ion-toolbar>
</ion-header>

<ion-content>
	<div class="album clearfix">
		<img src="../assets/images/album-1.png" alt="" routerLink="/cust-photo-details">
		<img src="../assets/images/album-2.png" alt="" routerLink="/cust-photo-details">
		<img src="../assets/images/album-3.png" alt="" routerLink="/cust-photo-details">
		<img src="../assets/images/album-4.png" alt="" routerLink="/cust-photo-details">
		<img src="../assets/images/album-5.png" alt="" routerLink="/cust-photo-details">
	</div>
</ion-content>
