<ion-header>
	<ion-toolbar color="primary">
		<ion-buttons slot="start">
			<ion-button routerLink="/cust-shop-category"><ion-icon name="arrow-back"></ion-icon></ion-button>
		</ion-buttons>
		<ion-title>Near Me</ion-title>
	</ion-toolbar>
</ion-header>

<ion-content>
	<div class="near">
		<img style="width: 100%;" src="../assets/images/near-me.png" alt="">
		<div class="near-radius d-flex ion-padding">
			<span>Showing shops nearby you.</span>
			<span class="ml-auto"><b>2 KM</b> radius</span>
		</div>
	</div>
	<ion-list class="list-wimg">
		<ion-item lines="none">
			<img src="../assets/images/shop-cat-1.png" alt="">
			<span>Juniper Beauty</span>
			<span class="ml-auto">0.4 KM</span>
		</ion-item>
		<ion-item lines="none" class="selected">
			<img src="../assets/images/shop-cat-2.png" alt="">
			<span>Perfect Skin</span>
			<span class="ml-auto">0.7 KM</span>
		</ion-item>
		<ion-item lines="none">
			<img src="../assets/images/shop-cat-3.png" alt="">
			<span>Skin Deep</span>
			<span class="ml-auto">1.0 KM</span>
		</ion-item>
		<ion-item lines="none">
			<img src="../assets/images/shop-cat-4.png" alt="">
			<span>Aimee Beauty</span>
			<span class="ml-auto">1.1 KM</span>
		</ion-item>
    </ion-list>
</ion-content>
