.near {
	&-radius {
		box-shadow: 0 2px 4px rgba(0,0,0,0.5);
		font-size: 16px;
		color: rgba(0,0,0,0.87);
		margin: -5px 0 10px;
	}
}

.list-wimg {
	padding: 0;

	ion-item {
		--background: transparent;

		&.selected {
			background-color: rgba(55,101,161,0.1);
		}
	}
	.ml-auto {
		color: rgba(0,0,0,0.38);
		font-size: 14px;
	}
}