<ion-content>
	<ion-icon name="close" class="img-close" routerLink="/cust-album"></ion-icon>
	<div class="img-big">
		<img src="../../assets/images/photo-1.png" alt="">
	</div>
	<div class="img-small">
		<div class="img-col">
			<img src="../../assets/images/photo-2.png" alt="">
		</div>
		<div class="img-col">
			<img src="../../assets/images/photo-3.png" alt="">
		</div>
		<div class="img-col">
			<img src="../../assets/images/photo-4.png" alt="">
		</div>
		<div class="img-col">
			<img src="../../assets/images/photo-5.png" alt="">
		</div>
		<div class="img-col">
			<img src="../../assets/images/photo-6.png" alt="">
		</div>
	</div>
</ion-content>
