<ion-header>
	<ion-toolbar color="primary">
		<ion-buttons slot="start">
			<ion-button routerLink="/cust-settings"><ion-icon name="arrow-back"></ion-icon></ion-button>
		</ion-buttons>
		<ion-title>Select Country</ion-title>
	</ion-toolbar>
</ion-header>

<ion-content>
	<ion-list>
		<ion-item lines="none">Malaysia</ion-item>
		<ion-item lines="none">Singapore</ion-item>
	</ion-list>
	<ion-list>
		<ion-item lines="none">Afghanistan</ion-item>
		<ion-item lines="none">Albania</ion-item>
		<ion-item lines="none">Algeria</ion-item>
		<ion-item lines="none">American Samoa</ion-item>
		<ion-item lines="none">Andorra</ion-item>
		<ion-item lines="none">Anguilia</ion-item>
		<ion-item lines="none">Antigua and Barbuda</ion-item>
		<ion-item lines="none">Argentina</ion-item>
		<ion-item lines="none">Armenia</ion-item>
	</ion-list>
</ion-content>
