<ion-header>
	<ion-toolbar color="primary">
		<ion-buttons slot="start">
			<ion-button routerLink="/register-type"><ion-icon name="close"></ion-icon></ion-button>
		</ion-buttons>
		<ion-title>New Customer</ion-title>
	</ion-toolbar>
</ion-header>

<ion-content class="bg-gray">
	<div class="register-progress">
		<a class="" routerLink="/register-one-five">BACK</a>
		<div class="step-bar">
			<div class="step-dot step-ongoing"><span></span></div>
			<div class="step-dot"></div>
			<div class="step-dot"></div>
			<div class="step-dot"></div>
		</div>
		<a class="" routerLink="/register-three-five">NEXT</a>
	</div>

	<div class="ion-padding">
		<div class="main-form">
			<ion-item class="main-input">
				<ion-label position="stacked">Address</ion-label>
				<ion-input placeholder="Unit No., Street Name"></ion-input>
			</ion-item>
			<ion-item class="main-input half">
				<ion-label position="stacked">Postcode</ion-label>
				<ion-input placeholder="Postcode"></ion-input>
			</ion-item>
			<ion-item class="main-input">
				<ion-label position="stacked">State</ion-label>
				<ion-select placeholder="Select State">
					<ion-select-option value="1">W.P. Kuala Lumpur</ion-select-option>
					<ion-select-option value="2">Selangor</ion-select-option>
					<ion-select-option value="3">Johor</ion-select-option>
				</ion-select>
			</ion-item>
			<ion-item class="main-input">
				<ion-label position="stacked">Country</ion-label>
				<ion-select placeholder="Select Country">
					<ion-select-option value="1">Malaysia</ion-select-option>
					<ion-select-option value="2">Singapore</ion-select-option>
				</ion-select>
			</ion-item>
		</div>
	</div>
</ion-content>
