<ion-content>
	<ion-icon name="close" class="img-close" routerLink="/product-details"></ion-icon>
	<div class="img-big">
		<img src="../../assets/images/product-1.png" alt="">
	</div>
	<div class="img-small">
		<div class="img-col">
			<img src="../../assets/images/product-1.png" alt="">
		</div>
		<div class="img-col">
			<img src="../../assets/images/product-2.png" alt="">
		</div>
		<div class="img-col">
			<img src="../../assets/images/product-3.png" alt="">
		</div>
		<div class="img-col">
			<img src="../../assets/images/product-1.png" alt="">
		</div>
		<div class="img-col">
			<img src="../../assets/images/product-2.png" alt="">
		</div>
		<div class="img-col">
			<img src="../../assets/images/product-3.png" alt="">
		</div>
	</div>
</ion-content>
