ion-content {
	--background: #fafafa;
}

.cart {
	&-detail {
		display: flex;
	}

	&-item {
		padding: 16px 16px 8px 16px;
		color: rgba(0,0,0,0.87);
		border-bottom: 1px solid rgba(0,0,0,0.12);
		background: #fff;

		ion-checkbox {
			margin: 24px 8px 0 0;
		}

		ion-avatar {
			width: 48px;
			height: 48px;
			--border-radius: 0;
			margin: 0 8px 0 0;
		}

		.product-name {
			font-size: 14px;
			line-height: 20px;
			font-weight: 400;
		}

		.product-size {
			font-size: 12px;
			line-height: 16px;
		}

		.product-price {
			margin-left: auto;

			> * {
				display: block;
				text-align: right;
			}

			del {font-size: 13px;}
		}

		.product-qty {
			margin-top: 0;

			&__numb {
			    margin-left: auto;
				margin-right: -4px;
			}
		}
	}

	&-total {
		align-items: center;
		color: rgba(0,0,0,0.87);

		.numb {
			margin-left: 16px;
			font-weight: 500;
		}

		.d-flex {
			justify-content: space-between;
			margin-bottom: 2px;
		}

		.total-detail {
			margin-left: auto;

			span:first-child {color: rgba(0,0,0,0.54);}
		}
	}

	&-remove {
		text-align: center;
		border-bottom: 1px solid rgba(0,0,0,0.12);

		a {
			font-weight: 500;
			display: block;
			line-height: 52px;
		}
	}

	&-footer {
		padding: 8px 16px 16px;

		ion-checkbox {margin-right: 8px;}
	}
}