<ion-header>
	<ion-toolbar color="primary">
		<ion-buttons slot="start">
			<ion-back-button defaultHref="product-added-to-cart"></ion-back-button>
		</ion-buttons>
		<ion-title>Cart</ion-title>
	</ion-toolbar>
</ion-header>

<ion-content>
	<div class="cart-list">
		<div class="cart-item">
			<div class="cart-detail">
				<ion-checkbox checked="true" slot="start"></ion-checkbox>
				<ion-avatar>
					<img src="../../assets/images/product-1.png">
				</ion-avatar>
				<div class="product-info">
					<div class="product-name">Active Tonic</div>
					<div class="product-size">500ml</div>
				</div>
				<div class="product-price">
					<span>RM 299.00</span>
					<del>RM 399.00</del>
				</div>
			</div>
			<div class="product-qty">
				<div class="product-qty__numb">
					<ion-icon name="arrow-back" mode="ios"></ion-icon>
					<div class="qty">10</div>
					<ion-icon name="arrow-forward" mode="ios"></ion-icon>
				</div>
			</div>
		</div>
		<div class="cart-item">
			<div class="cart-detail">
				<ion-checkbox checked="true" slot="start"></ion-checkbox>
				<ion-avatar>
					<img src="../../assets/images/product-2.png">
				</ion-avatar>
				<div class="product-info">
					<div class="product-name">C+1 & C+2</div>
					<div class="product-size">200ml</div>
				</div>
				<div class="product-price">
					<span>RM 799.00</span>
				</div>
			</div>
			<div class="product-qty">
				<div class="product-qty__numb">
					<ion-icon name="arrow-back" mode="ios"></ion-icon>
					<div class="qty">20</div>
					<ion-icon name="arrow-forward" mode="ios"></ion-icon>
				</div>
			</div>
		</div>
	</div>
</ion-content>

<ion-footer>
	<div class="cart-remove">
		<a>REMOVE FROM CART</a>
	</div>
	<div class="cart-footer">
		<div class="d-flex cart-total">
			<ion-checkbox checked="true" slot="start"></ion-checkbox>
			<span>Select all</span>
			<div class="total-detail">
				<div class="d-flex">
					<span>Total Items</span>
					<span class="numb">30</span>
				</div>
				<div class="d-flex">
					<span>Total Amount</span>
					<span class="numb">RM 13,977.00</span>
				</div>
				<div class="d-flex">
					<span>Not including delivery fees</span>
				</div>
			</div>
		</div>
		<ion-button color="primary" expand="block" routerLink="/secure-checkout">PROCEED TO CHECKOUT</ion-button>
	</div>
</ion-footer>