<ion-header>
	<ion-toolbar color="primary">
		<ion-buttons slot="start">
			<ion-back-button defaultHref="summary"></ion-back-button>
		</ion-buttons>
		<ion-title>Customer List</ion-title>
	</ion-toolbar>
</ion-header>

<ion-content>
	<ion-searchbar placeholder="Search all customers"></ion-searchbar>
	<ion-list class="ion-padding">
		<ion-item lines="none" routerLink="/customer-normal">
			<ion-avatar slot="start">
				<img src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y">
			</ion-avatar>
			<ion-label>
				<h2>Adele Gonzales</h2>
				<h3 class="orange">Last visit 6 months ago</h3>
			</ion-label>
		</ion-item>
		<ion-item lines="none" routerLink="/customer-vip">
			<ion-avatar slot="start">
				<img src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y">
				<img src="../../assets/images/star.png" alt="" class="star">
			</ion-avatar>
			<ion-label>
				<h2>Christina Yang</h2>
				<h3>Last visit 2 months ago</h3>
			</ion-label>
		</ion-item>
		<ion-item lines="none" routerLink="/customer-vip">
			<ion-avatar slot="start">
				<img src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y">
				<img src="../../assets/images/star.png" alt="" class="star">
			</ion-avatar>
			<ion-label>
				<h2>Chong Siew Ling</h2>
				<h3>Last visit 3 weeks ago</h3>
			</ion-label>
		</ion-item>
		<ion-item lines="none" routerLink="/customer-vip">
			<ion-avatar slot="start">
				<img src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y">
			</ion-avatar>
			<ion-label>
				<h2>Diyana Nurul binti Hamid</h2>
				<h3 class="orange">Last visit 2 years ago</h3>
			</ion-label>
		</ion-item>
		<ion-item lines="none" routerLink="/customer-vip">
			<ion-avatar slot="start">
				<img src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y">
				<img src="../../assets/images/star.png" alt="" class="star">
			</ion-avatar>
			<ion-label>
				<h2>Sarah Lim Swee Lin</h2>
				<h3>Last visit 5 days ago</h3>
			</ion-label>
		</ion-item>
	</ion-list>

	<ion-fab vertical="bottom" horizontal="end" slot="fixed" routerLink="/register-type">
		<ion-fab-button>
			<ion-icon name="add"></ion-icon>
		</ion-fab-button>
	</ion-fab>
</ion-content>
