ion-searchbar {
	box-shadow: 0 4px 4px rgba(0,0,0,0.24);
	z-index: 9;
}

ion-avatar {
	position: relative;

	.star {
		position: absolute;
		bottom: 2px;
		right: -8px;
		width: 16px;
		height: 16px;
		object-fit: contain;
	}
}

h3 {
	font-size: 12px;
	color: rgba(0,0,0,0.54);

	&.orange {
		color: rgba(255,125,0,1);
	}
}