<ion-header>
	<ion-toolbar color="primary">
		<ion-buttons slot="start">
			<ion-button routerLink="/cust-shop-category"><ion-icon name="arrow-back"></ion-icon></ion-button>
		</ion-buttons>
		<ion-title>Juniper Beauty</ion-title>
	</ion-toolbar>
</ion-header>

<ion-content>
	<ion-card class="shop">
		<ion-card-content class="shop-card">
			<ion-slides pager="true" class="shop-slider">
				<ion-slide>
					<img src="../assets/images/shop-1.png" alt="">
				</ion-slide>
				<ion-slide>
					<img src="../assets/images/album-1.png" alt="">
				</ion-slide>
			</ion-slides>
			<div class="shop-content">
				<div class="shop-rating d-flex">
					<img src="../assets/images/shop-1a.png" alt="">
					<div class="shop-rating__info">
						<b>Juniper Beauty</b>
						<div class="product-rating">
							<ion-icon name="star"></ion-icon>
							<ion-icon name="star"></ion-icon>
							<ion-icon name="star"></ion-icon>
							<ion-icon name="star"></ion-icon>
							<ion-icon name="star-outline"></ion-icon>
							<span>(4)</span>
						</div>
					</div>
				</div>
				<div class="shop-desc">
					Juniper Beauty is your trusted skin care solution provider since its establishment in 2015.
				</div>
				<div class="shop-info">
					<div class="d-flex">
						<ion-icon name="call"></ion-icon>
						<span>+60340324849</span>
					</div>
					<div class="d-flex">
						<ion-icon name="pin"></ion-icon>
						<span>Lot 1, Berjaya Park, Jalan 67/32, 43892 Selangor Darul Ehsan</span>
					</div>
					<div class="d-flex">
						<ion-icon name="alarm"></ion-icon>
						<span>10 AM - 10 PM</span>
					</div>
					<div class="d-flex">
						<ion-icon name="mail"></ion-icon>
						<a>juniperbeauty@sophiaswiss.com</a>
					</div>
				</div>
			</div>
		</ion-card-content>
		<div class="card-footer--icon ion-text-center">
			<ion-icon name="call"></ion-icon>
			<ion-icon name="pin"></ion-icon>
		</div>
	</ion-card>

	<div class="ion-padding">
		<div class="shop-option">
			<h1>Packages</h1>
			<div class="row-wicon d-flex" routerLink="/cust-buy-package">
				<div class="wicon-icon"><ion-icon name="gift" style="color: #9A8FC8;"></ion-icon></div>
				<div class="wicon-title">
					Buy Package
				</div>
				<ion-icon name="arrow-forward" mode="ios" class="wicon-arrow"></ion-icon>
			</div>
			<div class="row-wicon d-flex" routerLink="/cust-purchased-packages">
				<div class="wicon-icon"><ion-icon name="gift" style="color: #A5E6C8;"></ion-icon></div>
				<div class="wicon-title">
					Purchased Packages
					<div class="wicon-subtitle">15 available sessions</div>
				</div>
				<ion-icon name="arrow-forward" mode="ios" class="wicon-arrow"></ion-icon>
			</div>
		</div>
		<div class="shop-option">
			<h1>Appointments</h1>
			<div class="row-wicon d-flex" routerLink="/cust-upcoming-appt">
				<div class="wicon-icon"><ion-icon name="calendar" style="color: #FFC35F;"></ion-icon></div>
				<div class="wicon-title">
					Upcoming Appointments
					<div class="wicon-small">Nearest Upcoming</div>
					<div class="wicon-subtitle">28 June, 2019, Fri  11:00 AM - 12:00 PM</div>
				</div>
				<ion-icon name="arrow-forward" mode="ios" class="wicon-arrow"></ion-icon>
			</div>
			<div class="row-wicon d-flex" routerLink="/cust-appt-history">
				<div class="wicon-icon"><ion-icon name="alarm" style="color: #8DBDEB;"></ion-icon></div>
				<div class="wicon-title">
					Appointment History
				</div>
				<ion-icon name="arrow-forward" mode="ios" class="wicon-arrow"></ion-icon>
			</div>
		</div>
		<div class="shop-option">
			<h1>Vouchers</h1>
			<div class="row-wicon d-flex" routerLink="/cust-cash-vouchers-products">
				<div class="wicon-icon"><ion-icon name="card" style="color: #FAA5A3;"></ion-icon></div>
				<div class="wicon-title">
					Cash Vouchers
				</div>
				<ion-icon name="arrow-forward" mode="ios" class="wicon-arrow"></ion-icon>
			</div>
			<div class="row-wicon d-flex" routerLink="/cust-my-vouchers">
				<div class="wicon-icon"><ion-icon name="card" style="color: #009688;"></ion-icon></div>
				<div class="wicon-title">
					My Vouchers
				</div>
				<ion-icon name="arrow-forward" mode="ios" class="wicon-arrow"></ion-icon>
			</div>
		</div>
	</div>
</ion-content>

<ion-footer>
	<div class="d-flex">
		<ion-button class="shop-fav" routerLink="/cust-shop-fav"><ion-icon name="heart"></ion-icon></ion-button>
		<ion-button class="shop-share"><ion-icon name="share"></ion-icon></ion-button>
		<ion-button class="shop-appt" routerLink="/cust-new-appt-one-one">MAKE APPOINTMENT</ion-button>
	</div>
</ion-footer>