<ion-header>
	<ion-toolbar color="primary">
		<ion-buttons slot="start">
			<ion-button routerLink="/register-type"><ion-icon name="close"></ion-icon></ion-button>
		</ion-buttons>
		<ion-title>New Customer</ion-title>
	</ion-toolbar>
</ion-header>

<ion-content>
	<div class="register-progress">
		<a class="" routerLink="/q13">BACK</a>
		<div class="step-bar">
			<div class="step-dot"></div>
			<div class="step-dot"></div>
			<div class="step-dot"></div>
			<div class="step-dot step-ongoing"><span></span></div>
		</div>
		<a class="" routerLink="/q18-q20">NEXT</a>
	</div>

	<div class="ion-padding">
		<div class="main-form">
			<ion-label class="ion-margin-bottom"><b>Salon Use Only</b></ion-label>
			<ion-label>14. Elasticity</ion-label>
			<ion-item class="main-input main-input--radio" lines="none">
				<div class="choose ion-margin-bottom">
					<ion-radio-group name="">
						<ion-item lines="none">
							<ion-label>Poor</ion-label>
							<ion-radio name="q14" mode="md" value="Poor"></ion-radio>
						</ion-item>
						<ion-item lines="none">
							<ion-label>Average</ion-label>
							<ion-radio name="q14" mode="md" value="Average"></ion-radio>
						</ion-item>
						<ion-item lines="none">
							<ion-label>Good</ion-label>
							<ion-radio name="q14" mode="md" value="Good"></ion-radio>
						</ion-item>
					</ion-radio-group>
				</div>
			</ion-item>

			<ion-label>15. Skin Pure</ion-label>
			<ion-item class="main-input main-input--radio full" lines="none">
				<div class="choose ion-margin-bottom">
					<ion-radio-group name="">
						<ion-item lines="none">
							<ion-label>Fine</ion-label>
							<ion-radio name="q15" mode="md" value="Fine"></ion-radio>
						</ion-item>
						<ion-item lines="none">
							<ion-label>Open Pores</ion-label>
							<ion-radio name="q15" mode="md" value="Open Pores"></ion-radio>
						</ion-item>
						<ion-item lines="none">
							<ion-label>Enlarged Pores</ion-label>
							<ion-radio name="q15" mode="md" value="Enlarged Pores"></ion-radio>
						</ion-item>
					</ion-radio-group>
				</div>
			</ion-item>

			<ion-label>16. Blackheads/Whiteheads</ion-label>
			<ion-item class="main-input main-input--radio full" lines="none">
				<div class="choose ion-margin-bottom">
					<ion-radio-group name="">
						<ion-item lines="none">
							<ion-label>Active Sebum</ion-label>
							<ion-radio name="q16" mode="md" value="Active Sebum"></ion-radio>
						</ion-item>
						<ion-item lines="none">
							<ion-label>Ineffective Cleansing</ion-label>
							<ion-radio name="q16" mode="md" value="Ineffective Cleansing"></ion-radio>
						</ion-item>
						<ion-item lines="none">
							<ion-label>Cosmetic Ingredients</ion-label>
							<ion-radio name="q16" mode="md" value="Cosmetic Ingredients"></ion-radio>
						</ion-item>
						<ion-item lines="none">
							<ion-label>Congested Pores</ion-label>
							<ion-radio name="q16" mode="md" value="Congested Pores"></ion-radio>
						</ion-item>
					</ion-radio-group>
				</div>
			</ion-item>

			<ion-label>17. Papules</ion-label>
			<ion-item class="main-input main-input--radio full" lines="none">
				<div class="choose ion-margin-bottom">
					<ion-radio-group name="">
						<ion-item lines="none">
							<ion-label>Hormone Imbalance</ion-label>
							<ion-radio name="q17" mode="md" value="Hormone Imbalance"></ion-radio>
						</ion-item>
						<ion-item lines="none">
							<ion-label>Infection</ion-label>
							<ion-radio name="q17" mode="md" value="Infection"></ion-radio>
						</ion-item>
						<ion-item lines="none">
							<ion-label>Cosmetic</ion-label>
							<ion-radio name="q17" mode="md" value="Cosmetic"></ion-radio>
						</ion-item>
					</ion-radio-group>
				</div>
			</ion-item>
		</div>
	</div>
</ion-content>
