<ion-header>
	<ion-toolbar color="primary">
		<ion-buttons slot="start">
			<ion-menu-button autoHide="false"><ion-icon name="menu"></ion-icon></ion-menu-button>
		</ion-buttons>
		<ion-title>Customer</ion-title>
	</ion-toolbar>
</ion-header>

<ion-content>
	<ion-list class="ion-padding">
		<ion-item lines="none" routerLink="/register-type">
			<ion-icon name="add" class="color-purple"></ion-icon>
			<span>Register New Customer</span>
		</ion-item>
		<ion-item lines="none" routerLink="/customer-list">
			<ion-icon name="search" class="color-orange"></ion-icon>
			<span>Search Existing Customer</span>
		</ion-item>
    </ion-list>
</ion-content>
