<ion-header>
	<ion-toolbar color="primary">
		<ion-buttons slot="start">
			<ion-button routerLink="/cust-buy-package"><ion-icon name="arrow-back"></ion-icon></ion-button>
		</ion-buttons>
		<ion-title>Package Details</ion-title>
		<ion-buttons slot="end">
			<ion-button routerLink=""><ion-icon name="cart"></ion-icon></ion-button>
		</ion-buttons>
	</ion-toolbar>
</ion-header>

<ion-content>
	<ion-card class="package-card blue-bg">
		<ion-card-content>
			<h1>Diamond Package</h1>
			<div><b>12 sessions total</b></div>
			<div class="package-price d-flex">
				<ion-icon name="logo-usd"></ion-icon>
				<span>RM 1,000</span>
				<del>RM 1,600</del>
			</div>
		</ion-card-content>
	</ion-card>

	<div class="package-details ion-padding">
		<b>Terms & Conditions</b>
		<p>
			- Expiry date: 31 July, 2019 <br>
			- May not be used with other promotions.
		</p>
	</div>
</ion-content>

<ion-footer>
	<div class="d-flex">
		<ion-button class="shop-fav"><ion-icon name="heart"></ion-icon></ion-button>
		<ion-button class="shop-share">BUY NOW</ion-button>
		<ion-button class="shop-appt" routerLink="/cust-package-details-added-to-cart">ADD TO CARD</ion-button>
	</div>
</ion-footer>
