<ion-header>
	<ion-toolbar color="primary">
		<ion-buttons slot="start">
			<ion-button routerLink="/cust-new-appt-one-two"><ion-icon name="arrow-back"></ion-icon></ion-button>
		</ion-buttons>
		<ion-title>New Appointment</ion-title>
	</ion-toolbar>
</ion-header>

<ion-content>
	<div class="ion-padding"><h1>2. Choose your beautician.</h1></div>
	<ion-card>
		<ion-card-content class="appt-card">
			<ion-item lines="none">
				<ion-avatar slot="start">
					<img src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y">
				</ion-avatar>
				<ion-label>
					<h5 class="appt-name">Amy Chan</h5>
					<div class="product-rating">
						<ion-icon name="star"></ion-icon>
						<ion-icon name="star"></ion-icon>
						<ion-icon name="star"></ion-icon>
						<ion-icon name="star"></ion-icon>
						<ion-icon name="star-outline"></ion-icon>
						<span>(4)</span>
					</div>
				</ion-label>
			</ion-item>
			<ion-item lines="none" class="appt-card__list">
				<ion-icon name="information-circle-outline"></ion-icon>
				<ion-label>Extraction, Detoxifying</ion-label>
			</ion-item>
			<ion-item lines="none" class="appt-card__list">
				<ion-icon name="flower"></ion-icon>
				<ion-label>Expert</ion-label>
			</ion-item>
		</ion-card-content>
		<div class="card-footer--icon ion-text-center">
			<ion-icon name="information-circle-outline"></ion-icon>
			<ion-icon name="call"></ion-icon>
			<ion-icon name="calendar" routerLink="/cust-new-appt-three"></ion-icon>
		</div>
	</ion-card>
	<ion-card>
		<ion-card-content class="appt-card">
			<ion-item lines="none">
				<ion-avatar slot="start">
					<img src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y">
				</ion-avatar>
				<ion-label>
					<h5 class="appt-name">Florence Tiing</h5>
					<div class="product-rating">
						<ion-icon name="star"></ion-icon>
						<ion-icon name="star"></ion-icon>
						<ion-icon name="star"></ion-icon>
						<ion-icon name="star"></ion-icon>
						<ion-icon name="star-outline"></ion-icon>
						<span>(4)</span>
					</div>
				</ion-label>
			</ion-item>
			<ion-item lines="none" class="appt-card__list">
				<ion-icon name="information-circle-outline"></ion-icon>
				<ion-label>Extraction, Detoxifying</ion-label>
			</ion-item>
			<ion-item lines="none" class="appt-card__list">
				<ion-icon name="flower"></ion-icon>
				<ion-label>Advanced</ion-label>
			</ion-item>
		</ion-card-content>
		<div class="card-footer--icon ion-text-center">
			<ion-icon name="information-circle-outline"></ion-icon>
			<ion-icon name="call"></ion-icon>
			<ion-icon name="calendar" routerLink="/cust-new-appt-three"></ion-icon>
		</div>
	</ion-card>
	<ion-card>
		<ion-card-content class="appt-card">
			<ion-item lines="none">
				<ion-avatar slot="start">
					<img src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y">
				</ion-avatar>
				<ion-label>
					<h5 class="appt-name">Teresa Gan</h5>
					<div class="product-rating">
						<ion-icon name="star"></ion-icon>
						<ion-icon name="star"></ion-icon>
						<ion-icon name="star"></ion-icon>
						<ion-icon name="star"></ion-icon>
						<ion-icon name="star-outline"></ion-icon>
						<span>(4)</span>
					</div>
				</ion-label>
			</ion-item>
			<ion-item lines="none" class="appt-card__list">
				<ion-icon name="information-circle-outline"></ion-icon>
				<ion-label>Extraction, Detoxifying</ion-label>
			</ion-item>
			<ion-item lines="none" class="appt-card__list">
				<ion-icon name="flower"></ion-icon>
				<ion-label>Expert</ion-label>
			</ion-item>
		</ion-card-content>
		<div class="card-footer--icon ion-text-center">
			<ion-icon name="information-circle-outline"></ion-icon>
			<ion-icon name="call"></ion-icon>
			<ion-icon name="calendar" routerLink="/cust-new-appt-three"></ion-icon>
		</div>
	</ion-card>
</ion-content>
