.voucher {
	&-title {
		font-size: 16px;
		color: rgba(0,0,0,0.87);
	}

	&-desc {
		font-weight: 500;
		color: rgba(0,0,0,0.54);
	}

	&-item {
		align-items: center;
		padding: 16px;
		line-height: 24px;

		ion-icon {
			margin-right: 30px;
			font-size: 24px;
		}
	}

	&-remove {
		padding: 26px 70px;
	}
}