<ion-header>
	<ion-toolbar color="primary">
		<ion-buttons slot="start">
			<ion-back-button defaultHref="checkout-shipping-delivery"></ion-back-button>
		</ion-buttons>
		<ion-title>Choose Voucher</ion-title>
	</ion-toolbar>
</ion-header>

<ion-content>
	<div class="voucher-list">
		<div class="voucher-item d-flex" routerLink="/checkout-shipping-delivery-used-voucher">
			<ion-icon name="card" style="color: rgba(250,165,163,1);"></ion-icon>
			<div class="voucher-info">
				<div class="voucher-title">10% OFF!</div>
				<div class="voucher-desc">Get 10% off for every RM 50.00 spent!</div>
			</div>
		</div>
		<div class="voucher-item d-flex" routerLink="/checkout-shipping-delivery-used-voucher">
			<ion-icon name="card" style="color: rgba(250,165,163,1);"></ion-icon>
			<div class="voucher-info">
				<div class="voucher-title">20% OFF!</div>
				<div class="voucher-desc">Get 20% off for every RM 100.00 spent!</div>
			</div>
		</div>
		<div class="voucher-item d-flex" routerLink="/checkout-shipping-delivery-used-voucher">
			<ion-icon name="card" style="color: rgba(250,165,163,1);"></ion-icon>
			<div class="voucher-info">
				<div class="voucher-title">FREE SHIPPING</div>
				<div class="voucher-desc">Get free shipping for every RM 75.00 spent!</div>
			</div>
		</div>
		<div class="voucher-remove voucher-title" routerLink="/checkout-shipping-delivery">Remove Voucher</div>
	</div>
</ion-content>
