<ion-header>
	<ion-toolbar color="primary">
		<ion-buttons slot="start">
			<ion-button routerLink="/register-type"><ion-icon name="close"></ion-icon></ion-button>
		</ion-buttons>
		<ion-title>New Customer</ion-title>
	</ion-toolbar>
</ion-header>

<ion-content>
	<div class="register-progress">
		<a class="" routerLink="/q14-q17">BACK</a>
		<div class="step-bar">
			<div class="step-dot"></div>
			<div class="step-dot"></div>
			<div class="step-dot"></div>
			<div class="step-dot step-ongoing"><span></span></div>
		</div>
		<a class="" routerLink="/summary">NEXT</a>
	</div>

	<div class="ion-padding">
		<div class="main-form">
			<ion-label class="ion-margin-bottom"><b>Salon Use Only</b></ion-label>
			<ion-label>18. Wrinkles/Fine Lines</ion-label>
			<ion-item class="main-input main-input--radio full" lines="none">
				<div class="choose ion-margin-bottom">
					<ion-radio-group name="">
						<ion-item lines="none">
							<ion-label>Aging</ion-label>
							<ion-radio name="q18" mode="md" value="Aging"></ion-radio>
						</ion-item>
						<ion-item lines="none">
							<ion-label>Expression Lines</ion-label>
							<ion-radio name="q18" mode="md" value="Expression Lines"></ion-radio>
						</ion-item>
						<ion-item lines="none">
							<ion-label>Lack of Sleep</ion-label>
							<ion-radio name="q18" mode="md" value="Lack of Sleep"></ion-radio>
						</ion-item>
						<ion-item lines="none">
							<ion-label>Cosmetic</ion-label>
							<ion-radio name="q18" mode="md" value="Cosmetic"></ion-radio>
						</ion-item>
						<ion-item lines="none">
							<ion-label>Dehydration</ion-label>
							<ion-radio name="q18" mode="md" value="Dehydration"></ion-radio>
						</ion-item>
					</ion-radio-group>
				</div>
			</ion-item>

			<ion-label>19. Pigmentation</ion-label>
			<ion-item class="main-input main-input--radio full" lines="none">
				<div class="choose ion-margin-bottom">
					<ion-radio-group name="">
						<ion-item lines="none">
							<ion-label>None</ion-label>
							<ion-radio name="q19" mode="md" value="None"></ion-radio>
						</ion-item>
						<ion-item lines="none">
							<ion-label>Pregnancy</ion-label>
							<ion-radio name="q19" mode="md" value="Pregnancy"></ion-radio>
						</ion-item>
						<ion-item lines="none">
							<ion-label>Sunburn</ion-label>
							<ion-radio name="q19" mode="md" value="Sunburn"></ion-radio>
						</ion-item>
						<ion-item lines="none">
							<ion-label>Hormone Imbalance</ion-label>
							<ion-radio name="q19" mode="md" value="Hormone Imbalance"></ion-radio>
						</ion-item>
						<ion-item lines="none">
							<ion-label>Dry/Aging</ion-label>
							<ion-radio name="q19" mode="md" value="Dry/Aging"></ion-radio>
						</ion-item>
						<ion-item lines="none">
							<ion-label>Lack of Maintenance</ion-label>
							<ion-radio name="q19" mode="md" value="Lack of Maintenance"></ion-radio>
						</ion-item>
						<ion-item lines="none">
							<ion-label>Cosmetic</ion-label>
							<ion-radio name="q19" mode="md" value="Cosmetic"></ion-radio>
						</ion-item>
					</ion-radio-group>
				</div>
			</ion-item>

			<ion-label>20. Sensitivity caused by</ion-label>
			<ion-item class="main-input main-input--radio full" lines="none">
				<div class="choose ion-margin-bottom">
					<ion-radio-group name="">
						<ion-item lines="none">
							<ion-label>None</ion-label>
							<ion-radio name="q20" mode="md" value="None"></ion-radio>
						</ion-item>
						<ion-item lines="none">
							<ion-label>Food Allergy</ion-label>
							<ion-radio name="q20" mode="md" value="Food Allergy"></ion-radio>
						</ion-item>
						<ion-item lines="none">
							<ion-label>Medicine</ion-label>
							<ion-radio name="q20" mode="md" value="Medicine"></ion-radio>
						</ion-item>
						<ion-item lines="none">
							<ion-label>Weather</ion-label>
							<ion-radio name="q20" mode="md" value="Weather"></ion-radio>
						</ion-item>
						<ion-item lines="none">
							<ion-label>Cosmetic</ion-label>
							<ion-radio name="q20" mode="md" value="Cosmetic"></ion-radio>
						</ion-item>
						<ion-item lines="none">
							<ion-label>Inborn</ion-label>
							<ion-radio name="q20" mode="md" value="Inborn"></ion-radio>
						</ion-item>
					</ion-radio-group>
				</div>
			</ion-item>
		</div>
	</div>
</ion-content>
