<ion-header>
	<ion-toolbar color="primary">
		<ion-buttons slot="start">
			<ion-back-button defaultHref="cust-purchased-package-details"></ion-back-button>
		</ion-buttons>
		<ion-title>Redemption History</ion-title>
	</ion-toolbar>
</ion-header>

<ion-content>
	<ion-list class="history-list">
		<div class="history-item">
			<small>1st session</small>
			<ion-item lines="none">
				<ion-icon name="time"></ion-icon>
				<span>5 March, 2019  11:04 AM</span>
			</ion-item>
		</div>
		<div class="history-item">
			<small>2nd session</small>
			<ion-item lines="none">
				<ion-icon name="time"></ion-icon>
				<span>11 March, 2019  12:55 PM</span>
			</ion-item>
		</div>
		<div class="history-item">
			<small>3rd session</small>
			<ion-item lines="none">
				<ion-icon name="time"></ion-icon>
				<span>20 March, 2019  11:04 AM</span>
			</ion-item>
		</div>
		<div class="history-item">
			<small>4th session</small>
			<ion-item lines="none">
				<ion-icon name="time"></ion-icon>
				<span>28 March, 2019  12:55 PM</span>
			</ion-item>
		</div>
		<div class="history-item">
			<small>5th session</small>
			<ion-item lines="none">
				<ion-icon name="time"></ion-icon>
				<span>4 April, 2019  11:04 AM</span>
			</ion-item>
		</div>
		<div class="history-item">
			<small>6th session</small>
			<ion-item lines="none">
				<ion-icon name="time"></ion-icon>
				<span>11 April, 2019  12:55 PM</span>
			</ion-item>
		</div>
		<div class="history-item">
			<small>7th session</small>
			<ion-item lines="none">
				<ion-icon name="time"></ion-icon>
				<span>18 April, 2019  11:04 AM</span>
			</ion-item>
		</div>
		<div class="history-item">
			<small>8th session</small>
			<ion-item lines="none">
				<ion-icon name="time"></ion-icon>
				<span>25 April, 2019  12:55 PM</span>
			</ion-item>
		</div>
    </ion-list>
</ion-content>
