.history {
	&-item {
		padding: 8px 16px;
		border-bottom: 1px solid rgba(0,0,0,0.12);

		ion-item {
			font-size: 14px;
			margin-top: 5px;
			--min-height: 20px;
		}

		small {
			font-size: 12px;
			line-height: 16px;
			color: rgba(0,0,0,0.87);
		}

		ion-icon {
			width: 22px;
			margin-right: 18px;
			color: #9E9E9E;
		}
	}
}