.qr-scanner {
	width: 100vw;
	height: calc(100vh - 56px);
	background: rgba(0,0,0,0.7);
	font-size: 16px;
	line-height: 24px;
	color: #fff;
	padding: 112px 16px;

	img {
		max-width: 250px;
	}

	p {
		margin: 0 0 32px;
	}
}