<ion-header>
	<ion-toolbar color="primary">
		<ion-buttons slot="start">
			<ion-back-button defaultHref="cust-home"></ion-back-button>
		</ion-buttons>
		<ion-title>Scan QR</ion-title>
	</ion-toolbar>
</ion-header>


<ion-content>
	<div class="qr-scanner ion-text-center">
		<p>Align QR code within frame to scan.</p>
		<img src="../../assets/images/qrcode-2.png" alt="">
	</div>
</ion-content>
