.footer-md:before {display: none;}

ion-footer {
	box-shadow: 0 0 4px rgba(0,0,0,0.5);

	ion-button {
		--border-radius: 0;
    	--box-shadow: none;
    	margin: 0;
    	height: 40px;
    	width: 100%;
	}
}