<ion-header>
	<ion-toolbar color="primary">
		<ion-buttons slot="start">
			<ion-back-button defaultHref="product-catalogue"></ion-back-button>
		</ion-buttons>
		<ion-title>My Stock</ion-title>
		<ion-buttons slot="end">
			<ion-button><ion-icon name="cart"></ion-icon></ion-button>
		</ion-buttons>
	</ion-toolbar>
	<ion-toolbar><ion-searchbar placeholder="Search my stock"></ion-searchbar></ion-toolbar>
</ion-header>

<ion-content>
	<div class="ion-padding">
		<div class="stock-title">Categories</div>
		<div class="stock-list">
			<div class="stock-list__row">
				<span>Sophia Cell Reversion</span>
				<ion-icon name="arrow-forward" mode="ios"></ion-icon>
			</div>
			<div class="stock-list__row">
				<span>Sophia Alpine</span>
				<ion-icon name="arrow-forward" mode="ios"></ion-icon>
			</div>
			<div class="stock-list__row">
				<span>Lohas</span>
				<ion-icon name="arrow-forward" mode="ios"></ion-icon>
			</div>
			<div class="stock-list__row">
				<span>Zell Therapie</span>
				<ion-icon name="arrow-forward" mode="ios"></ion-icon>
			</div>
		</div>
	</div>
	
	<div class="stock-item__wrap">
		<div class="stock-title">Low In Stock</div>
		<div class="stock-item">
			<img src="../../assets/images/stock-product-1.png" alt="">
			<div class="stock-item__title">Arm Firmer</div>
			<div class="stock-item__numb low">
				<span>2</span>
				<span>In Stock</span>
			</div>
			<ion-icon name="add" class="stock-item__add"></ion-icon>
		</div>
		<div class="stock-item">
			<img src="../../assets/images/product-1.png" alt="">
			<div class="stock-item__title">Product 2</div>
			<div class="stock-item__numb low">
				<span>3</span>
				<span>In Stock</span>
			</div>
			<ion-icon name="add" class="stock-item__add"></ion-icon>
		</div>
	</div>
</ion-content>
