<ion-header>
	<ion-toolbar color="primary">
		<ion-buttons slot="start">
			<ion-button routerLink="/cust-shop"><ion-icon name="arrow-back"></ion-icon></ion-button>
		</ion-buttons>
		<ion-title>Appointment History</ion-title>
	</ion-toolbar>
</ion-header>

<ion-content>
	<ion-card routerLink="/cust-appt-history-details-redeemed">
		<ion-card-content class="appt-card">
			<ion-item lines="none">
				<ion-avatar slot="start" class="no-radius">
					<img src="assets/images/session-4.png">
				</ion-avatar>
				<ion-label>
					<h5 class="appt-name">17 May, 2019, Sat</h5>
				</ion-label>
			</ion-item>
			<ion-item lines="none" class="appt-card__list">
				<ion-icon name="time"></ion-icon>
				<ion-label><b style="color: rgba(0,0,0,0.87);">1:00 PM - 2:00 PM</b></ion-label>
			</ion-item>
			<ion-item lines="none" class="appt-card__list">
				<ion-icon name="pin"></ion-icon>
				<ion-label>Juniper Beauty</ion-label>
			</ion-item>
			<ion-item lines="none" class="appt-card__list">
				<ion-icon name="information-circle-outline"></ion-icon>
				<ion-label>Lohas</ion-label>
			</ion-item>
			<ion-item lines="none" class="appt-card__list">
				<ion-label style="margin-left: 56px;"><b class="gray">Redeemed</b></ion-label>
			</ion-item>
		</ion-card-content>
	</ion-card>
	<ion-card routerLink="/cust-appt-history-details-cancelled">
		<ion-card-content class="appt-card">
			<ion-item lines="none">
				<ion-avatar slot="start" class="no-radius">
					<img src="assets/images/session-3.png">
				</ion-avatar>
				<ion-label>
					<h5 class="appt-name">13 April, 2017, Sat</h5>
				</ion-label>
			</ion-item>
			<ion-item lines="none" class="appt-card__list">
				<ion-icon name="time"></ion-icon>
				<ion-label><b style="color: rgba(0,0,0,0.87);">1:00 PM - 2:00 PM</b></ion-label>
			</ion-item>
			<ion-item lines="none" class="appt-card__list">
				<ion-icon name="pin"></ion-icon>
				<ion-label>Juniper Beauty</ion-label>
			</ion-item>
			<ion-item lines="none" class="appt-card__list">
				<ion-icon name="information-circle-outline"></ion-icon>
				<ion-label>Sophia Alpine Range</ion-label>
			</ion-item>
			<ion-item lines="none" class="appt-card__list">
				<ion-label style="margin-left: 56px;"><b class="gray">Cancelled</b></ion-label>
			</ion-item>
		</ion-card-content>
	</ion-card>
</ion-content>
