<ion-header>
	<ion-toolbar color="primary">
		<ion-buttons slot="start">
			<ion-back-button defaultHref="appointments"></ion-back-button>
		</ion-buttons>
		<ion-title>Appointment Details</ion-title>
	</ion-toolbar>
</ion-header>

<ion-content>
	<div class="ion-padding ion-margin-bottom appt-date">
		<div>
			<div class="date">7 June, 2019, Mon</div>
			<div class="time">11:00 AM - 12:00 PM</div>
		</div>
	</div>

	<ion-card>
		<ion-card-content class="appt-card">
			<div class="appt-position">Customer</div>
			<ion-item lines="none">
				<ion-avatar slot="start">
					<img src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y">
				</ion-avatar>
				<ion-label>
					<div class="appt-name">Sarah Lim Swee Lin</div>
					<div class="appt-id">ID: 13550</div>
				</ion-label>
			</ion-item>
		</ion-card-content>
		<div class="card-footer--icon ion-text-center">
			<ion-icon name="information-circle-outline"></ion-icon>
			<ion-icon name="call"></ion-icon>
		</div>
	</ion-card>

	<ion-card>
		<ion-card-content class="appt-card">
			<div class="appt-position">Beautician</div>
			<ion-item lines="none">
				<ion-avatar slot="start">
					<img src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y">
				</ion-avatar>
				<ion-label>
					<div class="appt-name">Amy Chan</div>
					<div class="appt-id">ID: 29381</div>
				</ion-label>
			</ion-item>
		</ion-card-content>
		<div class="card-footer--icon ion-text-center">
			<ion-icon name="information-circle-outline"></ion-icon>
			<ion-icon name="call"></ion-icon>
		</div>
	</ion-card>

	<ion-card>
		<ion-card-content class="appt-card duration">
			<ion-item lines="none">
				<ion-avatar slot="start">
					<img src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y">
				</ion-avatar>
				<ion-label>
					<div class="appt-name">Sophia Cell Reversion</div>
					<div class="appt-duration">
						<ion-icon name="information-circle-outline"></ion-icon>
						<span>1 hour</span>
					</div>
				</ion-label>
			</ion-item>
		</ion-card-content>
	</ion-card>

	<ion-card>
		<ion-card-content class="appt-card totals">
			<div class="total-price">
				<span>Total Price</span>
				<span>RM 100.00</span>
			</div>
			<div class="deadline">Paid on 7 April 2019 using card ending in 3792 </div>
		</ion-card-content>
	</ion-card>
</ion-content>
