<ion-header>
	<ion-toolbar color="primary">
		<ion-buttons slot="start">
			<ion-button routerLink="/cust-shop"><ion-icon name="arrow-back"></ion-icon></ion-button>
		</ion-buttons>
		<ion-title>Buy Package</ion-title>
		<ion-buttons slot="end">
			<ion-button routerLink=""><ion-icon name="cart"></ion-icon></ion-button>
		</ion-buttons>
	</ion-toolbar>
</ion-header>

<ion-content>
	<ion-card class="package-card blue-bg" routerLink="/cust-package-details">
		<ion-card-content>
			<h1>Diamond Package</h1>
			<div><b>12 sessions total</b></div>
			<div class="package-price d-flex">
				<ion-icon name="logo-usd"></ion-icon>
				<span>RM 1,000</span>
				<del>RM 1,600</del>
			</div>
		</ion-card-content>
	</ion-card>
	<ion-card class="package-card blue-bg" routerLink="/cust-package-details">
		<ion-card-content>
			<h1>Platinum Package</h1>
			<div><b>10 sessions total</b></div>
			<div class="package-price d-flex">
				<ion-icon name="logo-usd"></ion-icon>
				<span>RM 800</span>
				<del>RM 1,200</del>
			</div>
		</ion-card-content>
	</ion-card>
	<ion-card class="package-card blue-bg" routerLink="/cust-package-details">
		<ion-card-content>
			<h1>Gold Package</h1>
			<div><b>8 sessions total</b></div>
			<div class="package-price d-flex">
				<ion-icon name="logo-usd"></ion-icon>
				<span>RM 600</span>
				<del>RM 900</del>
			</div>
		</ion-card-content>
	</ion-card>
</ion-content>
