<ion-header>
	<ion-toolbar color="primary">
		<ion-buttons slot="start">
			<ion-button routerLink="/cust-reschedule-summary"><ion-icon name="arrow-back"></ion-icon></ion-button>
		</ion-buttons>
		<ion-title>Upcoming Appointments</ion-title>
	</ion-toolbar>
</ion-header>

<ion-content>
	<ion-card>
		<ion-card-content class="appt-card">
			<ion-item lines="none">
				<ion-avatar slot="start" class="no-radius">
					<img src="assets/images/session-1.png">
				</ion-avatar>
				<ion-label>
					<h5 class="appt-name">28 June, 2019, Fri</h5>
				</ion-label>
			</ion-item>
			<ion-item lines="none" class="appt-card__list">
				<ion-icon name="time"></ion-icon>
				<ion-label><b style="color: rgba(0,0,0,0.87);">11:00 AM - 12:00 PM</b></ion-label>
			</ion-item>
			<ion-item lines="none" class="appt-card__list">
				<ion-icon name="pin"></ion-icon>
				<ion-label>Juniper Beauty</ion-label>
			</ion-item>
			<ion-item lines="none" class="appt-card__list">
				<ion-icon name="information-circle-outline"></ion-icon>
				<ion-label>Sophia Cell Reversion</ion-label>
			</ion-item>
		</ion-card-content>
	</ion-card>
</ion-content>

<ion-footer>
	<ion-toolbar class="setting-updated">
		Appointment deleted.
	</ion-toolbar>
</ion-footer>