<ion-header>
	<ion-toolbar color="primary">
		<ion-buttons slot="start">
			<ion-back-button defaultHref="secure-checkout"></ion-back-button>
		</ion-buttons>
		<ion-title>Summary</ion-title>
	</ion-toolbar>
</ion-header>

<ion-content class="bg-gray">
	<div class="deliv">
		<div class="deliv-to">Courier Delivery To</div>
		<div class="d-flex deliv-address" routerLink="/select-delivery-address">
			<ion-icon name="pin" style="color: rgba(55,101,161,1);"></ion-icon>
			<div class="deliv-detail">
				<h5>Juniper Beauty</h5>
				<div>+60186635032</div>
				<div>Lot 1, Berjaya Park, Jalan 67/32, 43892 S…</div>
			</div>
			<ion-icon name="arrow-forward" mode="ios" class="deliv-link"></ion-icon>
		</div>
	</div>
	<div class="details-product">
		<div class="product-title">
			<ion-icon name="rose" style="color: rgba(255,195,95,1);"></ion-icon><span>Sophia Swiss HQ</span>
		</div>
		<ion-list class="ion-no-padding">
			<div class="product-item">
				<ion-item>
					<ion-avatar slot="start">
						<img src="../../assets/images/product-1.png">
					</ion-avatar>
					<ion-label>
						<div>Active Tonic</div>
						<p>500 ml</p>
					</ion-label>
					<ion-label class="price">RM 299.00</ion-label>
				</ion-item>
				<div class="product-total">
					<p>
						<span>Item(s):</span>
						<span>20</span>
					</p>
					<p>
						<span>Subtotal:</span>
						<span>RM 5980.00</span>
					</p>
				</div>
			</div>
			<div class="product-item">
				<ion-item>
					<ion-avatar slot="start">
						<img src="../../assets/images/product-2.png">
					</ion-avatar>
					<ion-label>
						<div>C+1 & C+2</div>
						<p>200 ml</p>
					</ion-label>
					<ion-label class="price">RM 799.00</ion-label>
				</ion-item>
				<div class="product-total">
					<p>
						<span>Item(s):</span>
						<span>10</span>
					</p>
					<p>
						<span>Subtotal:</span>
						<span>RM 7990.00</span>
					</p>
				</div>
			</div>
		</ion-list>
		<div class="product-title service">
			<ion-icon name="car" style="color: rgba(154,143,200,1);"></ion-icon>
			<div class="service-name">Shipping fee:</div>
			<div class="service-numb">RM 7.00</div>
		</div>
		<div class="product-title voucher">
			<ion-icon name="card" style="color: rgba(250,165,163,1);"></ion-icon>
			<div class="voucher-name">Voucher:</div>
			<a class="voucher-link" routerLink="/checkout-shipping-delivery-apply-code">APPLY CODE</a>
			<a class="voucher-link" routerLink="/checkout-shipping-choose-voucher">USE</a>
		</div>
		<div class="product-title call note">
			<ion-icon name="megaphone" style="color: rgba(165,230,200,1);"></ion-icon>
			<ion-input placeholder="Note to seller (optional)"></ion-input>
		</div>
	</div>
</ion-content>

<ion-footer>
	<div class="estimated-box">
		<div class="d-flex">
			<span>Total Amount</span>
			<span>RM 13,977.00</span>
		</div>
		<ion-button expand="block">PROCEED TO PAYMENT</ion-button>
	</div>
</ion-footer>