html {
    &.ios,
    &.md {
        font-weight: normal;
        color: var(--ion-color-main-text);
        font-size: 14px;
        line-height: 20px;
        background-color: var(--ion-color-primary-contrast);
    }

    h1,
    h2,
    h3,
    h4,
    h5 {
        color: var(--ion-color-main-text-dark);
    }

    h1 {
        font-size: 20px;
        line-height: 28px;
    }

    a {
        text-decoration: none;
    }

    b {font-weight: 500;}
}
.clearfix {
    &:after {
        content: '';
        display: table;
        clear: both;
    }
}

.img-full {width: 100%;}

ion-tab-button.active {color: #fff;}

ion-header {
    ion-toolbar {
        --min-height: 56px;
        ion-title {
            font-size: 20px;
            line-height: normal;
        }
        ion-back-button {
            font-size: 14px;
            padding: 0 8px;
            --color: var(--ion-color-main-text);
        }
        ion-buttons {
            font-size: 20px;
        }
    }

    ion-buttons ion-icon {font-size: 24px;}
}
ion-content {
    --color: var(--ion-color-main-text);
}
ion-item {
    --padding: 0;
    --padding-start: 0;
    --padding-end: 0;
    --inner-padding-end: 0;
}
.semi-bold {
    font-weight: 500;
}
.d-flex {
    display: flex;
}
.bg-gray,
.bg-gray .main-form .main-input {
    background: rgba(250, 250, 250, 1);
    --background: rgba(250, 250, 250, 1);
}
.orange {color: rgba(255,125,0,1);}

.ml-auto {margin-left: auto;}

/* Modal*/
/*------------------------*/
.modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0,0,0,0.7);
    z-index: 99;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;

    &-content {
        max-width: calc(100% - 80px);
        position: relative;
    }

    &-close {
        position: absolute;
        top: 4px;
        right: 8px;

        ion-icon {
            font-size: 26px;
            color: rgba(66,66,66,1);
        }

        ion-button {
            --padding-start: 0;
            --padding-end: 0;
        }
    }

    &.show {
        display: flex;
    }
}

/* Form*/
/*------------------------*/
.main-form .main-input {
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 20px;
    --padding-start: 0;
    --inner-padding-end: 0;
    --min-height: 0;

    &.half {width: 40%;}

    > ion-label.label-stacked {
        opacity: 0;
        transition: all 0.3s ease;
        color: var(--ion-color-medium);
        font-size: 12px;
        line-height: 16px;
        transform: translateY(10px);

        &.show {
            opacity: 1;
            transform: translateY(0);
        }
    }

    &.item-has-focus,
    &.item-has-value {
        > ion-label {
            opacity: 1;
            transform: translateY(0);
        }

        > ion-input {
            --placeholder-color: transparent;
        }
    }

    ion-input input.native-input {
        padding: 4px 0;
    }
}

/*Set Language*/
/*------------------------*/
.set-language {
    p {
        font-size: 16px;
        line-height: 24px;
        padding-top: 16px;
        padding-bottom: 32px;
    }

    ion-button {
        margin-bottom: 32px;
    }
}

/*Tips Slider*/
/*------------------------*/
.tips {
    .swiper-pagination-bullets {
        bottom: auto;
        top: 240px;
    }

    &-slider {
        --bullet-background: rgba(74,74,74,0.3);
        --bullet-background-active: #3765A1;

        .swiper-pagination-bullet {
            opacity: 1;
        }
    }
}

/*Register Progress*/
/*------------------------*/
.register-progress {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px 14px;
    box-shadow: 0 8px 30px rgba(33,60,122,0.1);
    position: relative;
    z-index: 1;

    a {
        font-weight: 500;

        &.disabled {opacity: .3;}
        &.hidden {opacity: 0;}
    }
}

.step {
    &-dot {
        display: inline-block;
        margin: 0px 4px;
        width: 8px;
        height: 8px;
        border-radius: 999px;
        background-color: rgba(141,189,235,0.3);
        overflow: hidden;
    }

    &-ongoing {
        width: 100px;
        position: relative;

        span {
            display: inline-block;
            background-color: rgba(141,189,235,1);
            height: 100%;
            position: absolute;
            left: 0;
            top: 0;
        }
    }
}

/*Choose - Radio Button*/
/*------------------------*/
.choose {
    ion-radio-group {
        display: flex;
        justify-content: center;
    }

    ion-radio {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 22px;
        opacity: 0;
        margin: 0;
    }

    ion-item.item {
        min-width: 72px;
        height: 24px;
        border: 1px solid var(--ion-color-primary);
        border-radius: 12px;
        position: relative;
        --min-height: 24px;
        text-align: center;
        margin: 0 2px;

        ion-label {
            font-size: 14px;
            line-height: 16px;
            color: var(--ion-color-primary);
            margin: 0;
            font-weight: 500;
            transform: translateY(-1px);
        }

        &.item-radio-checked {
            --background: var(--ion-color-8d);
            border: 1px solid var(--ion-color-8d);

            ion-label {
                color: var(--ion-color-primary-contrast);
            }
        }
    }
}

.main-input--radio {
    margin-top: 16px;
    margin-bottom: 0;

    ion-label.show {
        margin-bottom: 10px;
    }

    .choose {
        width: 100%;
        margin-bottom: 0;

        ion-item.item {
            border-radius: 2px;
            width: 50%;
            margin-left: 4px;
            margin-right: 4px;
            height: 38px;

            ion-label {line-height: 38px;}
            ion-radio {height: 36px;}
        }

        ion-radio-group {
            margin-left: -4px;
            margin-right: -4px;
        }
    }
    
    /* full version*/
    &.full {
        ion-radio-group {flex-wrap: wrap;}
        ion-item.item {
            width: 100%;
            margin-bottom: 16px;

            &:last-child {margin-bottom: 0;}
        }
    }
}

/* Choose - Checkbox*/
/*------------------------*/
.main-input--checkbox {
    &.main-input {
        margin-top: 16px;
        margin-bottom: 0;
    }

    .choose {
        width: 100%;

        ion-item.item {
            border-radius: 2px;
            width: 100%;
            height: 36px;
            line-height: 36px;
            margin: 0 0 16px;
            overflow: inherit;
            --min-height: 34px;

            ion-label,
            ion-checkbox {
                line-height: 36px;
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 36px;
                margin: 0;
            }

            ion-checkbox {
                height: 36px;
                --background: transparent;
                --border-width: 0;
                opacity: 0;
            }

            &.item-checkbox-checked {
                --background: var(--ion-color-8d);
                border: 1px solid var(--ion-color-8d);

                ion-label {
                    color: #fff;
                }
            }
        }
    }
}

/* Legend*/
/*------------------------*/
.legend {
    padding: 0 16px;
    background-color: rgba(255,255,255,0.8);
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    color: rgba(0,0,0,0.87);
    transition: all ease .3s;
    transform: translateY(calc(100% - 40px));

    &-head {
        height: 40px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-weight: 500;
        cursor: pointer;

        ion-icon {
            font-size: 18px;
        }
    }

    &-list {
        padding: 8px 0;
    }

    &-code {
        display: inline-block;
        color: rgba(239,83,80,1);
        width: 26px;
        font-weight: 500;
    }

    &-body {
        padding-bottom: 8px;
    }

    &.show {
        transform: translateY(0);

        ion-icon {
            transform: rotate(180deg);
        }
    }
}

/* Face Wrapper*/
/*------------------------*/
.face-wrapper {
    position: fixed;
    left: 0;
    bottom: 0;
    right: 0;
    height: calc(100vh - 56px);

    img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

/*Customer Info*/
/*------------------------*/
.customer {
    &-name {
        font-size: 20px;
        font-weight: 500;
    }

    &-id {
        font-size: 12px;
    }

    &-status {
        font-size: 16px;
        display: flex;
        align-items: center;
        margin-top: 2px;

        img {
            width: 16px;
            margin-right: 8px;
        }
    }

    &-info {
        padding: 16px;
        background-color: rgba(141,189,235,0.5);
        color: rgba(0,0,0,0.87);
        --background: transparent;
        box-shadow: 0 2px 4px rgba(0,0,0,0.38);

        ion-avatar {
            width: 80px;
            height: 80px;
            border: 1px solid rgba(255,255,255,1);
            margin: 0 16px 0 0;
        }

        ion-label {
            margin: 0;
        }
    }
}

/*Product Stock*/
/*------------------------*/
.stock {
    &-info {
        padding: 0 16px 8px;
        color: rgba(0,0,0,0.87);
    }

    &-title {
        font-size: 20px;
        font-weight: 500;
        margin-bottom: 24px;
        color: rgba(0,0,0,0.87);
    }

    &-list {
        font-size: 16px;
        color: rgba(0,0,0,0.87);
        
        &__row {
            display: flex;
            align-items: center;
            line-height: 24px;
            margin-bottom: 24px;
        }

        ion-icon {
            margin-left: auto;
        }
    }

    &-item {
        display: flex;
        align-items: center;
        box-shadow: 0 2px 4px rgba(0,0,0,0.5);
        margin-bottom: 8px;
        color: rgba(0,0,0,0.87);

        img {
            width: 88px;
            height: 88px;
            object-fit: cover;
            margin-right: 16px;
        }

        &__title {
            font-weight: 500;
        }

        &__numb {
            margin-right: 24px;
            margin-left: auto;

            span {
                display: block;
                text-align: center;
                font-size: 12px;

                &:first-child {
                    font-size: 20px;
                    line-height: 28px;
                    font-weight: 500;
                }
            }

            &.low span {color: rgba(239,83,80,1);}
        }

        &__add {
            color: rgba(55,101,161,1);
            font-size: 24px;
            margin-right: 16px;
            margin-left: 0;
        }

        &__wrap {
            margin-top: 16px;

            .stock-title {
                margin: 0 16px 10px;
            }
        }
    }
}

/*Toolbar Action*/
/*------------------------*/
.toolbar-action {
    display: flex;
    align-items: center;
    justify-content: center;

    ion-searchbar {
        padding: 0;
        display: none;
    }

    ion-icon {
        font-size: 24px;
    }

    > * {
        margin: 0 28px;
    }

    &.searching {
        > * {
            margin: 0 8px;
        }

        .toolbar-icon {display: none;}
        ion-searchbar {display: block;}
    }
}

/*Order Details*/
/*------------------------*/
.customer-id {
    font-size: 14px;
    margin-bottom: 16px;

    h3 {color: rgba(0,0,0,0.54);}

    ion-label {
        margin: 0;

        &:first-child {
            min-width: 75%;
        }
    }
}

.product-item {
    border-top: 1px solid rgba(0,0,0,0.12);
    padding-left: 16px;
    padding-right: 16px;
}

.product-total {
    text-align: right;

    p span {
        display: inline-block;

        &:last-child {
            color: rgba(0,0,0,0.87);
            width: 100px;
        }
    }
}

.product-title {
    color: rgba(0,0,0,0.87);
    padding: 8px 16px;
    display: flex;
    align-items: center;
    background: #fff;

    ion-icon {
        font-size: 24px;
        width: 48px;
        margin-right: 16px;
    }

    &.service {
        border-top: 1px solid rgba(0,0,0,0.12);
        text-align: right;
    }

    .service,
    .voucher {
        &-name {
            margin-left: auto;
            color: rgba(0,0,0,0.54);
        }

        &-numb {
            min-width: 100px;
            text-align: right;
        }
    }

    &.call {
        font-size: 16px;
        border-top: 1px solid rgba(0,0,0,0.12);
        padding: 15px 16px;

        &.note {
            border-bottom: 1px solid rgba(0, 0, 0, 0.12);
            margin-bottom: 16px;
            padding: 14px 16px 6px;

            ion-input {
                border-bottom: 1px solid rgba(0,0,0,0.12);
                --padding-top: 0;
                --padding-start: 0;
                color: rgba(0,0,0,0.38);
            }
        }
    }

    &.voucher {
        flex-wrap: wrap;
        border-top: 1px solid rgba(0,0,0,0.12);

        .voucher {
            &-link {
                font-weight: 500;
                margin-left: 24px;
            }

            &-input {
                border: 1px solid rgba(151,151,151,1);
                color: rgba(0,0,0,0.38);
                padding: 7px 8px 5px;
                max-width: 100px;
                margin-left: 14px;

                ion-input {
                    --padding-top: 0;
                    --padding-start: 0;
                    --padding-bottom: 0;
                }
            }
        }

        .d-flex {
            width: 100%;
            margin-top: 8px;
            justify-content: flex-end;

            .voucher-link {
                min-width: 100px;
                margin: 0;
                text-align: right;
            }
        }
    }
}

.detail {
    padding: 8px 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 16px;
    line-height: 24px;
    border-top: 1px solid rgba(0,0,0,0.12);
    border-bottom: 1px solid rgba(0,0,0,0.12);
    color: rgba(0,0,0,0.87);
}

.details {
    &-customer {
        .orange {color: rgba(255,125,0,1);}
        .gray {color: rgba(158,158,158,1);}

        &__head {
            padding: 16px;
            border-bottom: 1px solid rgba(0,0,0,0.12);
        }

        p {
            span {
                display: inline-block;
            }

            &:last-of-type {margin-bottom: 0;}
        }

        .answer {
            color: rgba(0,0,0,0.87);
            margin-left: 16px;

            & + .question {margin-left: 50px;}
        }

        &__link {
            font-weight: 500;
            padding-top: 17px;
            padding-bottom: 25px;

            a {
                margin-left: 8px;
                margin-right: 8px;
            }
        }
    }

    &-product {
        border-top: 8px solid #fafafa;

        ion-label {
            font-size: 14px;

            p {font-size: 12px;}
        }

        ion-avatar {
            width: 48px;
            height: 48px;
            --border-radius: 0;

            & + ion-label {
                min-width: 70%;
            }
        }

        .price {
            text-align: right;
            display: inline-block;
        }
    }

    &-progress {
        display: flex;
        justify-content: center;
        padding: 32px 16px;
        text-align: center;
        font-size: 12px;

        .step {
            color: rgba(117,117,117,.5);

            &-circle {
                width: 16px;
                height: 16px;
                border-radius: 999px;
                border: 1px solid rgba(117,117,117,.5);
                margin: 0 auto 8px;
                background-color: #fff;
                position: relative;
            }

            & + .step {
                margin-left: 48px;
                position: relative;

                &:before {
                    content: '';
                    width: 80px;
                    height: 1px;
                    background-color: rgba(117,117,117,.5);
                    position: absolute;
                    top: 7.5px;
                    left: -62px;
                }
            }

            &.done,
            &.ongoing {
                color: rgba(55,101,161,1);

                .step-circle {
                    border-color: rgba(55,101,161,1);
                }

                &:before {
                    background-color: rgba(55,101,161,1);
                }
            }

            &.ongoing .step-circle {
                background-color: rgba(55,101,161,1);
            }
        }
    }
}

.added-cart {
    --background: rgba(50,50,50,1);
    color: var(--ion-color-primary-contrast);
    padding: 0 24px;
}

/*Product List*/
/*------------------------*/
.product {
    color: rgba(0,0,0,0.87);
    line-height: 20px;
    position: relative;

    &-qty {
        margin-top: 20px;
        display: flex;
        align-items: center;
        color: rgba(0,0,0,0.87);

        &__title {
            margin-right: 30px;
        }

        &__numb {
            display: flex;
            align-items: center;
        }

        .qty {
            line-height: 16px;
            padding: 8px;
            border: 1px solid rgba(151,151,151,1);
            margin: 0 12px;
            min-width: 48px;
            text-align: center;
        }

        ion-icon {font-size: 18px;}
    }

    &-sale {
        position: absolute;
        top: 0;
        right: 0;
        color: #fff;
        font-size: 12px;
        font-weight: 700;
        font-weight: 600;
        width: 58px;
        padding: 8px 4px 12px;
        background-position: top center;
        text-align: center;
        line-height: 14px;
        background-size: cover;
    }

    img {
        height: 172px;
        object-fit: cover;
    }

    &-name {
        font-weight: 500;
    }

    &-rating {
        color: rgba(255,125,0,1);
    }

    &-price {
        color: rgba(0,0,0,0.87);

        del {
            color: rgba(155,155,155,1);
            margin-left: 8px;
        }
    }

    &-detail {
        padding: 8px;
        min-height: 96px;
    }
    
    /*grid view*/
    &-grid {
        display: flex;
        flex-wrap: wrap;

        .product {
            width: calc(50% - 8px);
            margin: 4px;
        }
    }

    /*list view*/
    &-list {
        margin-top: 16px;

        .product {
            margin: 0 0 8px;
            border-radius: 0;
            padding-left: 88px;

            &-img {
                width: 88px;
                height: auto;
                position: absolute;
                top: 0;
                left: 0;
                bottom: 0;
            }

            &-detail {
                min-height: 88px;
            }

            &-sale {
                transform: rotate(90deg);
                top: auto;
                bottom: -2px;

                span {
                    transform: rotate(-90deg);
                    display: block;
                }
            }
        }
    }

    /*card view*/
    &-card {
        display: flex;
        flex-wrap: wrap;

        .product {
            width: calc(50% - 8px);
            margin: 4px;

            &:nth-child(3n) {
                width: 100%;
                padding-left: 172px;
                min-height: 172px;

                .product-img {
                    position: absolute;
                    top: 0;
                    left: 0;
                    bottom: 0;
                    width: 172px;
                    height: auto;
                }
            }
        }
    }
}

/*Product Filter*/
/*------------------------*/
.filter {
    color: rgba(155,155,155,1);

    .stock-title {
        margin-bottom: 14px;
    }

    ion-range {
        padding: 0;

        ion-label {
            color: rgba(155,155,155,1);
        }
    }

    &-numb {
        margin-top: 10px;
        margin-bottom: 35px;
        display: flex;
        justify-content: space-between;

        input {
            width: 96px;
            padding: 0;
            border: 0;
            border-bottom: 1px solid rgba(0,0,0,0.12);
            font-size: 16px;
            line-height: 30px;
        }
    }

    &-rating {
        margin: 32px 0;

        ion-icon {
            font-size: 34px;
            margin: 0 6px;
            color: rgba(255,125,0,1);
        }
    }
}

/*Product Details*/
/*------------------------*/
.prodetails {
    margin-bottom: 8px;
    
    /*slide*/
    &-slide .slide {
        &-product {
            margin: 6px 8px 0;
            border-top-left-radius: 2px;
            border-top-right-radius: 2px;
        }
        &-img {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            object-fit: cover;
        }

        &-item {
            width: 100%;
            height: 344px;
            position: relative;
        }

        &-sale {
            position: absolute;
            top: 0;
            right: 0;
            color: #fff;
            text-align: center;
            font-size: 14px;
            width: 115px;
            height: 56px;
            padding-top: 6px;
            background-repeat: no-repeat;
            background-size: cover;
            
            .sale-title {
                font-weight: 600;
            }
        }
    }
    
    .product {
        &-name {
            color: rgba(0,0,0,0.87);
            font-size: 20px;
            margin: 0 0 4px;
        }

        &-price {
            font-size: 16px;
            line-height: 26px;
        }
    }

    &-box {
        box-shadow: 0 2px 2px rgba(0,0,0,0.24);
        margin: 0 9px;
        padding: 16px;
        border-bottom-left-radius: 2px;
        border-bottom-right-radius: 2px;
    }

    &-segment {
        margin: 8px;
        color: rgba(0,0,0,0.87);
        box-shadow: 0 2px 2px rgba(0,0,0,0.24);
        border-radius: 2px;
        overflow: hidden;

        ion-segment {
            background-color: rgba(55,101,161,1);
            overflow: hidden;
        }

        ion-segment-button {
            --padding-start: 0;
            --padding-end: 0;
            min-width: 25%;
            width: 25%;
            position: relative;

            &.segment-button-checked:after {
                content: '';
                width: 100%;
                height: 2px;
                background-color: #fff;
                position: absolute;
                left: 0;
                bottom: 0;
            }
        }

        ion-label {
            color: #fff;
        }

        .segment-content {
            padding: 16px;
            position: relative;

            iframe {
                width: 100%;
                height: 176px;
                margin-bottom: 16px;
            }

            p {
                margin: 0 0 16px;
            }
        }

        .spec-list {
            margin-bottom: 8px;
            
            span {
                display: inline-block;

                &:first-child {
                    color: rgba(0,0,0,0.54);
                    width: 100px;
                }
            }
        }

        .review {
            &-grey {
                color: rgba(0,0,0,0.54);
                font-weight: 500;
                line-height: 24px;
            }

            &-item {
                ion-item {
                    margin-bottom: 8px;
                }

                ion-avatar {
                    margin: 0 16px 0 0;
                }

                ion-label {
                    margin: 0;
                }

                .product-rating {
                    font-size: 10px;

                    ion-icon {margin-left: 4px;}
                }

                & + .review-item {
                    border-top: 1px solid rgba(0,0,0,0.12);
                    padding-top: 8px;
                    margin-top: 8px;
                }
            }

            &-all {
                position: absolute;
                left: 0;
                right: 0;
                bottom: 0;
                padding: 8px;
                border-top: 1px solid rgba(0,0,0,0.12);
            }

            &-list {margin-bottom: 42px;}
        }

        .product {
            margin: 4px 2px;
            width: calc(33.3333% - 4px);

            img {
                height: 110px;
            }

            &-detail {
                min-height: 72px;
            }

            &-grid {
                margin: -8px -12px;
            }
        }
    }

    &-footer {
        display: flex;
        align-items: center;

        &__stock {
            width: 50%;
            font-size: 12px;
            color: rgba(0,0,0,0.54);
            display: flex;
            align-items: center;
            justify-content: center;

            span {
                font-weight: 500;
                font-size: 20px;
                color: rgba(0,0,0,0.87);
                margin-right: 8px;
            }
        }

        ion-button {
            margin: 0;
            --border-radius: 0;
            height: 40px;
            width: 50%;
            --box-shadow: none;
        }
    }

    &-ionfooter {
        ion-toolbar {
            --min-height: 40px;
        }
    }
}

.estimated-box {
    padding: 10px 16px 15px 16px;

    .d-flex {
        justify-content: space-between;
        line-height: 20px;
    }

    span {
        &:last-child {
            font-weight: 500;
            color: rgba(0,0,0,0.87);
        }
    }

    ion-button {
        margin: 14px 0 0;
    }
}

/*Checkout Delivery*/
/*------------------------*/
.deliv {
    margin-bottom: 8px;
    border-bottom: 1px solid rgba(0,0,0,0.12);

    &-to {
        padding: 16px 16px 8px;
    }

    &-address {
        background: #fff;
        padding: 16px 8px 16px 16px;
        align-items: center;
        line-height: 20px;
        margin-bottom: 16px;

        h5 {
            font-size: 16px;
            line-height: 24px;
            margin: 0;
        }

        ion-icon {
            font-size: 20px;
            margin-right: 16px;
        }
    }

    &-detail {
        max-width: calc(100% - 70px);

        > * {
            max-width: 100%;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }
    }

    &-link {
        margin-left: auto;
    }
}

/*Checkout Payment*/
/*------------------------*/
.point {
    &-input {
        border: 1px solid rgba(151,151,151,1);
        position: relative;
        padding: 7px 8px;
        margin-right: 25px;
        margin-bottom: 4px;

        ion-input {
            color: rgba(0,0,0,0.38);
            padding: 0;
            --padding-top: 0;
            --padding-start: 0;
            --padding-bottom: 0;
            width: 50px;
        }

        span {margin-left: 15px;}
    }

    &-apply {
        line-height: 32px;
    }

    &-row {
        > span {padding-top: 6px;}
    }
}

.payment {
    color: rgba(0,0,0,0.54);
    line-height: 20px;

    a {
        display: inline-block;
        font-weight: 500;
        letter-spacing: 0.5px;
    }

    .d-flex {
        justify-content: space-between;

        & + .d-flex {margin-top: 12px;}
    }

    b {
        color: rgba(0,0,0,0.87);
    }

    .ion-padding + .ion-padding {
        border-top: 1px solid rgba(0,0,0,0.12);
    }

    &-options {
        a {
            line-height: 36px;
        }
    }
}

/*News Notifications and Gallery*/
/*------------------------*/
.news {
    &-title {
        font-size: 16px;
        line-height: 24px;
        color: rgba(0,0,0,0.87);
    }

    &-info {
        padding: 8px;
        line-height: 20px;
        color: rgba(0,0,0,0.38);
    }

    &-item {
        align-items: normal;
        box-shadow: 0 1px 4px rgba(0,0,0,0.3);

        img {margin-right: 0;}
    }
}

/*Photo Details*/
/*------------------------*/
.img {
    &-close {
        padding: 14px 14px 35px 14px;
        font-size: 24px;
        color: rgba(66,66,66,1);
    }

    &-big {
        padding: 8px;
        margin-bottom: 35px;

        img {
            width: 100%;
        }
    }

    &-small {
        overflow-x: auto;
        padding-left: 8px;
        white-space: nowrap;
    }

    &-col {
        width: 64px;
        margin-right: 8px;
        display: inline-block;

        img {
            width: 64px;
            height: 64px;
            object-fit: cover;
        }
    }
}

/*Customer Settings*/
/*------------------------*/
.setting {
    &-title {
        color: rgba(0,0,0,0.87);
        font-size: 16px;
        line-height: 24px;
    }

    &-option {
        min-width: 80px;
        margin-left: auto;
        text-align: right;

        a {font-weight: 500;}

        ion-toggle {padding-right: 0;}
    }

    &-row {
        min-height: 72px;
        align-items: center;
        position: relative;
        flex-wrap: wrap;
    }

    &-updated {
        --background: #323232;
        color: #FFF;
        padding: 0 16px;
    }

    &-dropdown {
        width: 100%;
        --background: transparent;
        color: rgba(0,0,0,0.54);
        font-size: 14px;
        --min-height: 20px;
        margin-top: -10px;

        ion-select {
            --padding-top: 0;
            padding-left: 0;
        }
    }
}

/*List with img*/
/*------------------------*/
.list-wimg {
    ion-item {padding: 0 16px;}
    
    img {
        height: 40px;
        object-fit: cover;
        margin: 8px 0;
    }

    ion-icon,
    img {
        width: 40px;
        margin-right: 16px;
    }
}

/*Card Footer with Icon*/
/*------------------------*/
.card-footer--icon {
    border-top: 1px solid rgba(0,0,0,0.12);
    padding: 10px;
    color: var(--ion-color-primary);
    font-size: 20px;
    line-height: 24px;
    display: flex;
    align-items: center;
    justify-content: center;

    ion-icon {
        margin: 0 25px;

        &:first-child {font-size: 24px;}
    }
}