<ion-header>
	<ion-toolbar color="primary">
		<ion-buttons slot="start">
			<ion-button routerLink="/cust-appt-details"><ion-icon name="arrow-back"></ion-icon></ion-button>
		</ion-buttons>
		<ion-title>Set Reminders</ion-title>
	</ion-toolbar>
</ion-header>

<ion-content>
	<ion-list class="list-wimg">
		<ion-item lines="none">
			<span>3 hours before</span>
			<ion-checkbox class="ml-auto"></ion-checkbox>
		</ion-item>
		<ion-item lines="none">
			<span>12 hours before</span>
			<ion-checkbox class="ml-auto"></ion-checkbox>
		</ion-item>
		<ion-item lines="none">
			<span>1 day before</span>
			<ion-checkbox class="ml-auto" checked></ion-checkbox>
		</ion-item>
		<ion-item lines="none">
			<span>3 days before</span>
			<ion-checkbox class="ml-auto"></ion-checkbox>
		</ion-item>
		<ion-item lines="none">
			<span>5 days before</span>
			<ion-checkbox class="ml-auto"></ion-checkbox>
		</ion-item>
		<ion-item lines="none">
			<span>7 days before</span>
			<ion-checkbox class="ml-auto"></ion-checkbox>
		</ion-item>
    </ion-list>
</ion-content>
