ion-title > div {
	color: rgba(255,255,255,0.5);
	font-size: 16px;
	font-weight: 400;
}

.album {
	padding: 8px 5px;

	img {
		float: left;
		width: 110px;
		height: 110px;
		object-fit: cover;
		margin: 0 3px 8px;
	}
}